<div class="characters">
  <div class="character">ạ</div>
  <div class="character">ạ̀</div>
  <div class="character">Ạ</div>
  <div class="character">ẹ</div>
  <div class="character">ẹ̀</div>
  <div class="character">ệ</div>
  <div class="character">ẹ́</div>
  <div class="character">Ẹ</div>
  <div class="character">ị</div>
  <div class="character">ị̈</div>
  <div class="character">Ị</div>
  <div class="character">ọ</div>
  <div class="character">ọ̈</div>
  <div class="character">ộ</div>
  <div class="character">ọ̀</div>
  <div class="character">Ọ</div>
  <div class="character">ụ</div>
  <div class="character">ụ̈</div>
  <div class="character">Ụ</div>
  <div class="character">ṣ</div>
  <div class="character">Ṣ</div>
</div>

