<div class="characters">
  <div class="character">ạ</div>
  <div class="character">ạ̀</div>
  <div class="character">ẹ</div>
  <div class="character">ẹ̀</div>
  <div class="character">ệ</div>
  <div class="character">ị</div>
  <div class="character">ị̈</div>
  <div class="character">ị̀</div>
  <div class="character">ọ</div>
  <div class="character">ọ̈</div>
  <div class="character">ộ</div>
  <div class="character">ọ̀</div>
  <div class="character">ụ</div>
  <div class="character">ụ̈</div>
  <div class="character">ụ̀</div>
  <div class="character">ṣ</div>
</div>

