<div id="navi_head">

	<div id="languages-widget">
		<a id="rmLocale" href="?locale=rm" class="lang_selected">R</a>
		<span class="navi_a_common"> | </span>
		<a id="deLocale" href="?locale=de" class="navi_a_common">D</a>
	</div>

	<div id="brand_title">
		<a class="brand active" href="/rumantschgrischun">PLEDARI GROND</a>
	</div>

	<div id="login-widget" *ngIf="!isLoggedIn">
		<a class="navi_a_common login-icon" title="s'annunziar" (click)="login()">
			LOG
		</a>
	</div>

  <div id="login-widget" *ngIf="isLoggedIn">
		<a href="#" class="navi_a_common" title="gion-andri">
			<span id="u_name">{{ loggedInUser }}</span>
		</a>
		<span class="navi_a_common"> | </span>
		<a id="maalr-current-user" title="Logout" class="navi_a_common login-icon" (click)="logout()"></a>
	</div>

</div>
