<div id="navi_head">

  <div id="languages-widget">
    <a class="navi_a_common link-icon" [class.lang_selected]="frontendLanguage === 'rm'" (click)="changeFrontendLanguage('rm')">R</a>
    <span class="navi_a_common"> | </span>
    <a class="navi_a_common link-icon" [class.lang_selected]="frontendLanguage === 'de'" (click)="changeFrontendLanguage('de')">D</a>
  </div>

  <div id="brand_title">
    <a class="brand active" [routerLink]="'/' + selectedLanguageService.getSelectedLanguageUrlSegment()">PLEDARI GROND</a>
  </div>

  @if (!isLoggedIn) {
    <div id="login-widget">
      <a class="navi_a_common login-icon link-icon" [title]="'header.login' | translate" (click)="login()">
        {{ 'header.login_short' | translate }}
      </a>
    </div>
  }

  @if (isLoggedIn) {
    <div id="login-widget">
      <a class="navi_a_common link-icon" title="{{ loggedInUser }}" (click)="goToBackend()">
        <span class="hide-mobile">{{ loggedInUser }}</span>
        <span class="show-mobile">{{ loggedInUserShort }}</span>
      </a>
      <span class="navi_a_common"> | </span>
      <a [title]="'header.logout_tooltip' | translate" class="navi_a_common login-icon link-icon" (click)="logout()"></a>
    </div>
  }

</div>
