<nz-table
  nzSize="small"
  #rowSelectionTable
  nzShowPagination="false"
  nzShowSizeChanger
  [nzData]="versionHistory"
>
  <thead>
    <tr>
      <th>State</th>
      <th>User</th>
      <th>Entry</th>
      <th>Changed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of versionHistory">
      <td>
        <nz-tag [nzColor]="'red'">{{ data.verification }}</nz-tag><br>
        <nz-tag>{{ data.status }}</nz-tag>
      </td>
      <td>
        <nz-tag [nzColor]="'geekblue'">{{ data.userId }}</nz-tag><br>
        {{ data.ip }}
      </td>
      <td>
        {{ data.entryValues.DStichwort }} ⇔ {{ data.entryValues.RStichwort }}
      </td>
      <td>
        {{ formateDate(data.timestamp) }}<br>
        {{ formateTime(data.timestamp) }}
      </td>
    </tr>
  </tbody>
</nz-table>
