nz-content {
  background-color: white;
  padding: 24px;
  margin-bottom: 24px;
  height: 100%;
}

.button-container {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.username {
  font-size: 85%;
}
