<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="9" class="left-side">
    <nz-content class="duration-filter">
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Suggestions</nz-page-header-title>
        <nz-page-header-subtitle>Review pending suggestions</nz-page-header-subtitle>
      </nz-page-header>
      <app-duration
        (dateRangeSelected)="search($event)"
        [userFilter]="userFilter"
        [verifierFilter]="verifierFilter"
        ></app-duration>
    </nz-content>

    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Lemma History</nz-page-header-title>
        <nz-page-header-subtitle>See all the changes to the selected lemma</nz-page-header-subtitle>
      </nz-page-header>
      <app-version-history
      [lexEntry]="selectedLexEntry"
      ></app-version-history>
    </nz-content>
  </div>

  <div nz-col nzSpan="15" class="right-side">
    <nz-content>
      <app-lemma-list
        [lexEntries]="results"
        (updatePage)="changePage($event)"
        (showDetailsForLexEntry)="showLexEntryDetails($event)"
        (addUserFilter)="userFilter = $event"
        (addVerifierFilter)="verifierFilter = $event"
        ></app-lemma-list>
    </nz-content>
  </div>
</div>
