@if (category === 'GEOGRAPHY') {
  <nz-tag [nzColor]="'blue'">{{ 'data.name_category.geography' | translate}}</nz-tag>
}
@if (category === 'FIRSTNAME') {
  <nz-tag [nzColor]="'lime'">{{ 'data.name_category.firstname' | translate}}</nz-tag>
}
@if (category === 'SURNAME') {
  <nz-tag [nzColor]="'green'">{{ 'data.name_category.surname' | translate}}</nz-tag>
}
@if (category === 'COMPANY') {
  <nz-tag [nzColor]="'orange'">{{ 'data.name_category.company' | translate}}</nz-tag>
}
@if (category === 'ABBREVIATION') {
  <nz-tag [nzColor]="'purple'">{{ 'data.name_category.abbreviation' | translate}}</nz-tag>
}
@if (category === 'OTHER') {
  <nz-tag [nzColor]="'red'">{{ 'data.name_category.other' | translate}}</nz-tag>
}
