<div style="border-bottom: 1px solid rgb(233, 233, 233);">
  <label
    nz-checkbox
    [(ngModel)]="allChecked"
    (ngModelChange)="updateAllChecked()"
    [nzIndeterminate]="indeterminate"
  >
    {{ 'lexicon.lemma.export.all' | translate}}
  </label>
</div>
<br />
<nz-checkbox-group [nzOptions]="checkOptions" [(ngModel)]="selectedFields" (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="cancel()">{{ 'lexicon.lemma.export.cancel' | translate}}</button>
  <button nz-button nzType="primary" (click)="export()" [nzLoading]="isExporting">{{ 'lexicon.lemma.export.export' | translate}}</button>
</div>
