<nz-layout class="main-layout">
  <nz-layout class="inner-layout">
    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{ 'names.title' | translate}}</nz-page-header-title>
        <nz-page-header-subtitle>{{ 'names.subtitle' | translate}}</nz-page-header-subtitle>
        <nz-page-header-extra>
          <button nz-button nzType="primary" (click)="newOrEdit()">{{ 'names.new_button' | translate}}</button>
        </nz-page-header-extra>
      </nz-page-header>

      <nz-collapse>
        <nz-collapse-panel
          nzHeader="Filter"
          >
          <form nz-form [nzLayout]="'inline'" (ngSubmit)="applyFilter()">
            <nz-form-item>
              <nz-form-control [nzSpan]="8" [nzFlex]="1"style="min-width: 400px">
                <input  nz-input placeholder="Num" [(ngModel)]="nameFilter" name="name" (ngModelChange)="applyFilter()" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control style="min-width: 400px">
                <nz-select id="category" [(ngModel)]="categoryFilter" name="category" (ngModelChange)="applyFilter()">
                  <nz-option nzValue="" [nzLabel]="'-'"></nz-option>
                  <nz-option nzValue="GEOGRAPHY" [nzLabel]="'data.name_category.geography' | translate"></nz-option>
                  <nz-option nzValue="FIRSTNAME" [nzLabel]="'data.name_category.firstname' | translate"></nz-option>
                  <nz-option nzValue="SURNAME" [nzLabel]="'data.name_category.surname' | translate"></nz-option>
                  <nz-option nzValue="COMPANY" [nzLabel]="'data.name_category.company' | translate"></nz-option>
                  <nz-option nzValue="ABBREVIATION" [nzLabel]="'data.name_category.abbreviation' | translate"></nz-option>
                  <nz-option nzValue="OTHER" [nzLabel]="'data.name_category.other' | translate"></nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-collapse-panel>
      </nz-collapse>

      <nz-table #basicTable [nzData]="currentPage" nzFrontPagination="false"
        [nzTotal]="totalElements" [nzPageIndex]="pageNumber" [nzPageSize]="pageSize" nzBordered="true" nzOuterBordered="true"
        [nzLoading]="isLoading" [nzPageSizeOptions]="[10,20,50,100]" [nzShowSizeChanger]="true" (nzPageIndexChange)="changePage($event)"
        (nzPageSizeChange)="changePageSize($event)">
        <thead>
          <tr>
            <th>Rumantsch Grischun</th>
            <th>Tudestg</th>
            <th nzAlign="center">Categoria</th>
            <th>Sursilvan</th>
            <th>Sutsilvan</th>
            <th>Surmiran</th>
            <th>Puter</th>
            <th>Vallader</th>
            <th nzAlign="center">{{ 'names.actions' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          @for (data of basicTable.data; track data) {
            <tr>
              <td><app-name-display [name]="data.nameRumantschGrischun"></app-name-display></td>
              <td><app-name-display [name]="data.nameGerman"></app-name-display></td>
              <td nzAlign="center"><app-name-category [category]="data.category"></app-name-category></td>
              <td><app-name-display [name]="data.nameSursilvan"></app-name-display></td>
              <td><app-name-display [name]="data.nameSutsilvan"></app-name-display></td>
              <td><app-name-display [name]="data.nameSurmiran"></app-name-display></td>
              <td><app-name-display [name]="data.namePuter"></app-name-display></td>
              <td><app-name-display [name]="data.nameVallader"></app-name-display></td>
              <td nzAlign="center">
                <a (click)="newOrEdit(data.id!)">{{ 'names.edit_action' | translate}}</a>
                <nz-divider nzType="vertical"></nz-divider>
                <a (click)="delete(data!)">{{ 'names.delete_action' | translate}}</a>
              </td>
            </tr>
          }
        </tbody>
      </nz-table>
    </nz-content>
  </nz-layout>
</nz-layout>
