/* You can add global styles to this file, and also import other style files */
/* open-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/Open-Sans-Regular.woff2') format('woff2');
}

/* open-sans-italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url('./assets/fonts/Open-Sans-Italic.woff2') format('woff2');
}

/* open-sans-700 - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/Open-Sans-700.woff2') format('woff2');
}

/* open-sans-700italic - latin */
@font-face {
  font-display: swap;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url('./assets/fonts/Open-Sans-700italic.woff2') format('woff2');
}


body {
  // this font must be able to show characters like in sfrignọ̈z
  font-family: "Open Sans", sans-serif;
}

// used in highlighter pipe
.highlighted-text {
  font-weight: bold;
}


// used in diff component
.diff {
  span {
    border-radius: 2px;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  .green {
    background-color: #9bf098;
  }
  .red {
    background-color: #ffb3ba;
    text-decoration: line-through;
    text-decoration-color: grey;
  }

  .none {
    color: gray;
    background: #f1f1f1;
    padding-right: 3px;
    padding-left: 3px;
  }
}

// make form labels wider in 12-column div
@media (min-width: 576px) {
  .ant-col-12 .ant-col-sm-6 {
      flex: 0 0 40%;
      max-width: 40%;
  }
}

// description
.ant-descriptions-item-label {
  color: grey;
}
