@if (title) {
  <div class="title" >{{ title }}</div>
}
<table>
  @if (sing1) {
    <tr>
      <td class="pronoun" [innerHTML]="formatFormVariants(sing1Pronoun)"></td>
      <td [innerHtml]="formatFormVariants(sing1)"></td>
    </tr>
  }
  @if (sing2) {
    <tr>
      <td class="pronoun" [innerHTML]="formatFormVariants(sing2Pronoun)"></td>
      <td [innerHtml]="formatFormVariants(sing2)"></td>
    </tr>
  }
  @if (sing3) {
    <tr>
      <td class="pronoun" [innerHTML]="formatFormVariants(sing3Pronoun)"></td>
      <td [innerHtml]="formatFormVariants(sing3)"></td>
    </tr>
  }
  @if (sing3Alt) {
    <tr>
      <td class="pronoun" [innerHTML]="formatFormVariants(sing3PronounAlt)"></td>
      <td [innerHtml]="formatFormVariants(sing3Alt)"></td>
    </tr>
  }
  @if (plural1) {
    <tr>
      <td class="pronoun" [innerHTML]="formatFormVariants(plural1Pronoun)"></td>
      <td [innerHtml]="formatFormVariants(plural1)"></td>
    </tr>
  }
  @if (plural2) {
    <tr>
      <td class="pronoun" [innerHTML]="formatFormVariants(plural2Pronoun)"></td>
      <td [innerHtml]="formatFormVariants(plural2)"></td>
    </tr>
  }
  @if (plural3) {
    <tr>
      <td class="pronoun" [innerHTML]="formatFormVariants(plural3Pronoun)"></td>
      <td [innerHtml]="formatFormVariants(plural3)"></td>
    </tr>
  }
</table>
