:host {
  margin-bottom: 20px;
  display: inline-block;
  width: 100%;
}

table {
  // border-top: 1px solid #938c8c;
  width: 100%;
}

tr {
  border-bottom: 1px solid #938c8c;
}

th {
  text-align: left;
  font-weight: normal;
}

td {
  padding: 0;
}

.pronoun {
  width: 90px;
  text-align: right;
  margin-right: 8px;
  padding-right: 8px;
  color: grey;
}
