/* LOGIN */
#login_container {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 568px;
	margin-top: -178px;
	margin-left: -284px;
	padding: 28px 32px;
}

h1 {
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 28px;
}

.input_wrapper {
	float: left;
}

input[type="text"], input[type="password"]
	{
	width: 180px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(245, 245, 245);
}

input[type="text"]:focus, input[type="password"]:focus
	{
	border: 1px solid rgb(21, 233, 177);
}

input#internal_login {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0 none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	background-color: rgb(21, 233, 177);
	color: white;
	height: 24px;
	padding: 0 8px;
	font-family: "europa", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 13px;
	margin-top: 12px;
	margin-left: 356px;
}

#login_input .input_wrapper {
	width: 50%;
}

#login_input label {
	float: left;
	margin: 0 8px 0 0;
	padding-top: 4px;
}

.button_wrapper {
	clear: both;
}

form {
	display: block;
	margin: 0;
}

#openid_login {
	position: relative;
	top: -20px;
	clear: both;
	width: 50%;
}

#openid_login .input_wrapper {
	float: none;
	margin-bottom: 4px;
}

a#signUp::before {
    content: "→";
    left: 0px;
    top: 0px;
    padding-right: 2px;
}

a#signUp:hover{
	color: rgb(0, 200, 255);
	text-decoration: none;
}

p#error_font {
	color: red;
	margin-bottom: 14px;
}

#maalr_login_info {
	position: relative;
	top: 0px;
}

#maalr_login_info p {
	margin-top: 4px;
	margin-bottom: 0;
	width: 90%;
	line-height: 18px;
}



/* MOBILE */
@media all and (max-width: 767px) {
  #login_container {
    position: relative;
    width: 68%;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    margin-top: 112px;
    margin-bottom: 152px;
  }

  .input_wrapper {
    float: none;
  }

  #login_input .input_wrapper {
    width: 100%;
  }

  #login_input label {
    float: none;
  }

  #openid_login {
		position: static;
		top: auto;
		width: auto;
		margin-top: 12px;
	}

  input#internal_login {
    width: 100%;
    margin: 8px 0 0 0;
  }

  #maalr_login_info {
    position: static;
    top: auto;
    margin-top: 12px;
  }

  input[type="text"], input[type="password"]
    {
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    padding: 0 6px;
  }
}
