:host {
  height: calc(100vh - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

#login_container {
  background-color: #e3e3e3;
  border: 0 none;
  box-shadow: none;
  border-radius: 12px;
	width: 568px;
	padding: 32px;
}

h1 {
	font-size: 13px;
	line-height: 13px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 28px;
}

.input_wrapper {
	float: left;
}

input[type="text"],
input[type="password"] {
	width: 180px;
	background-color: rgb(245, 245, 245);
	border: 1px solid rgb(245, 245, 245);
}

input[type="text"]:focus,
input[type="password"]:focus {
	border: 1px solid rgb(21, 233, 177);
}

input#internal_login {
	border: 0 none;
	box-shadow: none;
	border-radius: 0;
	background-color: rgb(21, 233, 177);
	color: white;
	height: 24px;
	padding: 0 8px;
	font-family: "europa", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 13px;
}

#login_input {
  display: flex;
  flex-direction: row;

  .input_wrapper {
    width: 50%;
  }

  label {
    float: left;
    margin: 0 8px 0 0;
    padding-top: 4px;
  }
}

.login-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 8px;
  margin-bottom: 32px;
}

#signUp {
  &::before {
    content: "→";
    left: 0px;
    top: 0px;
    padding-right: 2px;
  }

  &:hover{
    color: rgb(0, 200, 255);
    text-decoration: none;
    cursor: pointer;
  }
}

p#error_font {
	color: red;
	margin-bottom: 14px;
}

#login_info {
  display: flex;
  flex-direction: row;

  p {
    margin-left: 8px;
    margin-top: -3px;
    line-height: 18px;
  }
}



/* MOBILE */
@media all and (max-width: 767px) {
  #login_container {
    position: relative;
    width: 90%;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0 auto;
    margin-top: 112px;
    margin-bottom: 152px;
  }

  .input_wrapper {
    float: none;
  }

  #login_input {
    flex-direction: column;

    .input_wrapper {
      width: 100%;
    }

    label {
      float: none;
    }
  }

  .login-buttons {
    flex-direction: column-reverse;
  }

  #signUp {
    margin-top: 16px;
  }

  input#internal_login {
    width: 100%;
    margin: 8px 0 0 0;
  }

  input[type="text"], input[type="password"]
    {
    box-sizing: border-box;
    width: 100%;
    height: 24px;
    padding: 0 6px;
  }
}
