<div class="container well" id="login_container">

  <h1>annunztga</h1>
  <br>
  <p id="error_font" *ngIf="hasLoginError">
    La connexiun n'è betg reussida. Empruvai p.pl. danovamain.
  </p>
  <form name="f" action="j_spring_security_check" method="POST">
    <div id="login_input">
      <div class="input_wrapper">
        <label for="uname">e-mail</label>
        <input id="uname" type="text" name="username" value="" [(ngModel)]="username">
      </div>
      <div class="input_wrapper">
        <label for="upwd">pled-clav</label>
        <input id="upwd" type="password" name="password" [(ngModel)]="password">
      </div>
      <div class="button_wrapper">
        <input name="submit" type="submit" value="tarmetter l'annunztga" id="internal_login" (click)="login()">
      </div>
    </div>
  </form>

  <div id="openid_login">
    <div class="input_wrapper">
      <a id="signUp" href="#signupDialog" data-toggle="modal">registrar</a>
    </div>
  </div>

  <div id="maalr_login_info">
    <span class="glyphicon icon-info-sign"></span>
    <p>Igl è pussebel d'utilisar igl Vocabulari surmiran online er sainza s'annunztgier. L'annunztga è voluntaria e facilitescha unicamaintg igl contact via e-mail, schi vous faschez propostas u remarcas. Datas sensiblas (an spezial pleds-clav) na vignan betg memorisadas.</p>
  </div>
</div>

<app-registration></app-registration>
