<div id="login_container">
  <h1>{{ 'login.header' | translate }}</h1>
  @if (hasLoginError) {
    <p id="error_font">
      {{ 'login.error' | translate }}
    </p>
  }
  <div id="login_input">
    <div class="input_wrapper">
      <label for="uname">{{ 'login.email' | translate }}</label>
      <input id="uname" type="text" name="username" value="" [(ngModel)]="username">
    </div>
    <div class="input_wrapper">
      <label for="upwd">{{ 'login.pwd' | translate }}</label>
      <input id="upwd" type="password" name="password" [(ngModel)]="password">
    </div>
  </div>
  <div class="login-buttons">
    <a id="signUp" (click)="openRegistrationModal()">{{ 'registration.signup' | translate }}</a>
    <input name="submit" type="submit" value="{{ 'login.sendButton' | translate }}" id="internal_login" (click)="login()">
  </div>

  <div id="login_info">
    <span class="glyphicon icon-info-sign"></span>
    <p>{{ 'login.welcome' | translate }}</p>
  </div>
</div>
