<div>
  <app-glossary-links></app-glossary-links>
</div>
<div class="info-box">
  <p>La Lia Rumantscha rinviescha al Dicziunari vallader da l'Uniun dals Grischs. I's po til consultar sur la colliaziun qua suotvart.</p>
  <p>Die Lia Rumantscha verweist auf das Dicziunari vallader der Uniun dals Grischs. Es ist über den unten stehenden Link aufrufbar.</p>

  <p>
    <span class="arrow">→</span>
    <a href="https://www.udg.ch/home?idiom=vallader" target="_blank" class="simpleLink"
       [matomoClickCategory]="'LINK'" [matomoClickAction]="'link vallader'">https://www.udg.ch</a>
  </p>
</div>
<div>

</div>
