:host {
  height: calc(100vh - 32px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-box {
  max-width: 500px;
  background-color: rgb(227, 227, 227);
  padding: 24px;
  border-radius: 12px;
  line-height: 20px;
  margin: 16px;
}

.arrow {
  color:#848484;
  margin-right: 8px;
}

a {
  // allow link to wrap
  word-break: break-word;
  hyphens: auto;
}
