<div>
  <div class="well" id="info-box">
    <p>
      </p><p>La Lia Rumantscha rinviescha al Dicziunari vallader da Gion Tscharner. I's po til consultar sur la colliaziun qua suotvart.</p>
      <p>Die Lia Rumantscha verweist auf das Dicziunari vallader von Gion Tscharner. Es ist über den unten stehenden Link aufrufbar.</p>
      <p></p>
    <br>
    <p>
      <span style="color:#848484;">→</span>
      <a href="http://www.udg.ch/dicziunari/vallader/impressum" target="_blank" class="gwt-Anchor simpleLink">http://www.udg.ch/dicziunari/vallader/impressum</a>
    </p>
  </div>
</div>
