<nz-page-header [nzGhost]="false">
  <nz-page-header-title>{{ 'index.title' | translate}}</nz-page-header-title>
  <nz-page-header-subtitle>{{ 'index.subtitle' | translate}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary" nzDanger (click)="rebuildIndex()" [nzLoading]="isRebuilding">{{ 'index.rebuild_button' | translate}}</button>
  </nz-page-header-extra>
</nz-page-header>

<nz-card class="stats-card">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(indexInfos.numberOfEntries| number)!" [nzTitle]="'index.stats.indexed' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(indexInfos.approvedEntries| number)!" [nzTitle]="'index.stats.approved' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(indexInfos.unverifiedEntries| number)!" [nzTitle]="'index.stats.unverified' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(indexInfos.unknown| number)!" [nzTitle]="'index.stats.other' | translate"></nz-statistic>
    </nz-col>
  </nz-row>
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(indexInfos.inflectionCount.V| number)!" [nzTitle]="'index.stats.verbs' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(indexInfos.inflectionCount.NOUN| number)!" [nzTitle]="'index.stats.nouns' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(indexInfos.inflectionCount.ADJECTIVE| number)!" [nzTitle]="'index.stats.adjectives' | translate"></nz-statistic>
    </nz-col>
  </nz-row>
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="24" style="text-align: right;">
      <button nz-button nzType="primary" (click)="loadIndexInfos()" [nzLoading]="isLoading">{{ 'index.stats.refresh_button' | translate}}</button>
    </nz-col>
  </nz-row>
</nz-card>
