@if (version && version.examples.length > 0) {
  <div class="content">
    <h4>{{ 'verbOverlayPopup.examples' | translate }}</h4>
    @for (example of version.examples; track example) {
      <div class="example">
        <div class="rm-example">{{ example.rm }}</div>
        <div class="de-example">{{ example.de }}</div>
      </div>
    }
  </div>
}
<!--
@if (version?.rmEtymologie) {
  <div class="content">
    <h4>{{ 'verbOverlayPopup.etymology' | translate }}</h4>
    <div class="etymology">{{ version?.rmEtymologie }}</div>
  </div>
}
-->
