@if (version) {
  <div class="content">
    <h4>Furmas da l'adjectiv</h4>
    <table>
      <tr>
        <th></th>
        <th>masculin</th>
        <th>feminin</th>
      </tr>
      <tr>
        <td>singular</td>
        <td>{{ version.inflection!.adjective!.mSingular ? version.inflection!.adjective!.mSingular : '-' }}</td>
        <td>{{ version.inflection!.adjective!.fSingular ? version.inflection!.adjective!.fSingular : '-' }}</td>
      </tr>
      <tr>
        <td>plural</td>
        <td>{{ version.inflection!.adjective!.mPlural ? version.inflection!.adjective!.mPlural : '-'  }}</td>
        <td>{{ version.inflection!.adjective!.fPlural ? version.inflection!.adjective!.fPlural : '-'  }}</td>
      </tr>
      @if (version.inflection!.adjective!.adverbialForm) {
        <tr>
          <td>furma adverbiala</td>
          <td>-</td>
          <td>{{ version.inflection!.adjective!.adverbialForm ? version.inflection!.adjective!.adverbialForm : '-'  }}</td>
        </tr>
      }
    </table>
  </div>
}
