<ng-container *ngIf="lemmaVersion">
  Furmas da l'adjectiv<br>
  <table>
    <tr>
      <th></th>
      <th>masculin</th>
      <th>feminin</th>
    </tr>
    <tr>
      <td>singular</td>
      <td>{{ lemmaVersion.lemmaValues.mSingular ? lemmaVersion.lemmaValues.mSingular : '-' }}</td>
      <td>{{ lemmaVersion.lemmaValues.fSingular ? lemmaVersion.lemmaValues.fSingular : '-' }}</td>
    </tr>
    <tr>
      <td>plural</td>
      <td>{{ lemmaVersion.lemmaValues.mPlural ? lemmaVersion.lemmaValues.mPlural : '-'  }}</td>
      <td>{{ lemmaVersion.lemmaValues.fPlural ? lemmaVersion.lemmaValues.fPlural : '-'  }}</td>
    </tr>
    <tr *ngIf="lemmaVersion.lemmaValues.adverbialForm">
      <td>furma adverbiala</td>
      <td>-</td>
      <td>{{ lemmaVersion.lemmaValues.adverbialForm ? lemmaVersion.lemmaValues.adverbialForm : '-'  }}</td>
    </tr>
  </table>

</ng-container>
