<h1>Informaziuns generalas</h1>

<p>
  Questa versiun online dil vocabulari sursilvan sebasa sin il Lexicon Romontsch Cumparativ dad Alexi Decurtins e cumpeglia actualmein:
  {{ nbrEntries | thousandSeparator }} endataziuns.
</p>

<p>Quei vocabulari online ei vegnius fatgs a basa dil Lexicon Romontsch
  Cumparativ dad Alexi Decurtins, publicaus igl onn 2012 dalla Societad
  Retorumantscha, da lezzas uras cun il sustegn da: Associaziun Raiffeisen
  Svizra, Promoziun da linguas dal Chantun Grischun, Fundaziun Ernst Göhner,
  Fond da contribuziuns da la Banca Chantunala Grischuna, Fundaziun dr. M. O.
  Winterhalter, Legat Anton Cadonau, Fundaziun Willi Muntwyler, Vischnaunca
  burgheisa da Domat, Fundaziun Stavros S. Niarchos (Cuera), Quarta Lingua,
  Regiun Surselva, Pro Raetia, Südostschweiz Presse und Print AG (Cuera) e la
  Lia Rumantscha. Plinavon ha igl Institut dal Dicziunari Rumantsch Grischun
  susteniu la publicaziun dil Lexicon Romontsch Cumparativ en aspects tecnics
  e grafics. Tochen alla publicaziun da quei “pledari sursilvan” a basa dil
  Lexicon Romontsch Cumparativ ei il sursilvan staus representaus cun il
  vocabulari sursilvan online che sebasava sin il Niev Vocabulari Sursilvan
  digl onn 2001, implementaus en in sistem che lubeva buc endataziuns ni
  actualisaziuns dil scazi da plaids. Ussa, sin la pattaforma dil Pledari
  Grond, eis ei pusseivel per la redacziun da tgirar il sursilvan. Ultra da
  quei han las utilisadras ed ils utilisaders la pusseivladad da proponer
  midadas, novs plaids e correcturas. L’actualisaziun cun neologissems vegn
  a succeder a moda cuntinuada.</p>

<p>La Lia Rumantscha engrazia alla Societad Retorumantscha per il material
  dil Lexicon Romontsch Cumparativ mess a disposiziun. In cordial engraziament
  era allas persunas ch’ein separticipadas cun formatar las datas, controllar
  lur qualitad e far las lavurs tecnicas corrispundentas. Quei project ei
  vegnius finanziaus digl Uffeci Federal da Cultura.</p>

<p>
  <b>© Lia Rumantscha, CH-7000 Cuira</b>
</p>

<p>
  <b>Concept e realisaziun</b><br>
  Lia Rumantscha<br>
  Daniel Telli
</p>

<p>
  <b>Redacziun interna</b> <br>
  Bettina Vital (manadra partiziun Lingua)<br>
  Laura Decurtins<br>
  Marina Cajacob-Wyss<br>
  Gabriela Holderegger-Pajarola<br>
  Lea Livers<br>
  Angela Schmed
</p>

<p>
  <b>Redacziun externa</b> <br>
  Marietta Cathomas Manetsch (RTR)
</p>

<p>
  <b>Anteriuras redacturas ed anteriurs redacturs</b> <br>
  Daniel Telli
</p>

<p>
  <b>Software</b> (code: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni e Martin Cantieni
</p>

<p>
  <b>Design grafic</b> <br>Remo Caminada, <a href="https://www.remocaminada.com" target="_blank">www.remocaminada.com</a>
</p>
