<h1>Informaziuns generalas</h1>

<p>
  <b>© Lia Rumantscha, CH-7000 Cuira</b>
</p>

<p>
  <b>Concept e realisaziun</b><br>
  Lia Rumantscha<br>
  Daniel Telli (fin favrer 2024)<br>
  Ignacio Pérez Prat (a partir da favrer 2024)<br>
  Marietta Cathomas Manetsch (coordinatura)
</p>

<p>
  <b>Redacziun interna</b> <br>
  Bettina Vital (manadra partiziun Lingua)<br>
  Laura Decurtins<br>
  Marina Cajacob-Wyss<br>
  Gabriela Holderegger-Pajarola<br>
  Lea Livers<br>
  Angela Schmed
</p>

<p>
  <b>Redacziun externa</b> <br>
  Marietta Cathomas Manetsch (RTR)
</p>

<p>
  <b>Software</b> (code: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni e Martin Cantieni
</p>
