<div class="header-actions">
  <div>
    <span *ngIf="resultPage && resultPage.totalElements > 0">
      Displaying entries {{ (resultPage.number*resultPage.size) + 1 }}
      to {{ math.min((resultPage.number + 1) * resultPage.size, resultPage.totalElements) }}
      of {{ resultPage.totalElements }}
    </span>
  </div>
  <div class="options">
    <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
      Columns
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu4="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item *ngIf="columns.user.allowed"><label nz-checkbox [(ngModel)]="columns.user.active">User</label></li>
        <li nz-menu-item *ngIf="columns.verifier.allowed"><label nz-checkbox [(ngModel)]="columns.verifier.active">Verifier</label></li>
        <li nz-menu-item *ngIf="columns.filter.allowed"><label nz-checkbox [(ngModel)]="columns.filter.active">Filter</label></li>
        <li nz-menu-item *ngIf="columns.entry.allowed"><label nz-checkbox [(ngModel)]="columns.entry.active">Entry</label></li>
        <li nz-menu-item *ngIf="columns.options.allowed"><label nz-checkbox [(ngModel)]="columns.options.active">Options</label></li>
        <li nz-menu-item *ngIf="columns.order.allowed"><label nz-checkbox [(ngModel)]="columns.order.active">Options</label></li>
        <li nz-menu-item *ngIf="columns.state.allowed"><label nz-checkbox [(ngModel)]="columns.state.active">State</label></li>
        <li nz-menu-item *ngIf="columns.created.allowed"><label nz-checkbox [(ngModel)]="columns.created.active">Creation date</label></li>
        <nz-divider></nz-divider>
        <li nz-menu-item *ngIf="columns.german.allowed"><label nz-checkbox [(ngModel)]="columns.german.active">German</label></li>
        <li nz-menu-item *ngIf="columns.germanGrammar.allowed"><label nz-checkbox [(ngModel)]="columns.germanGrammar.active">Grammar (de)</label></li>
        <li nz-menu-item *ngIf="columns.germanGender.allowed"><label nz-checkbox [(ngModel)]="columns.germanGender.active">Gender (de)</label></li>
        <li nz-menu-item *ngIf="columns.germanSemantics.allowed"><label nz-checkbox [(ngModel)]="columns.germanSemantics.active">Semantics (de)</label></li>
        <li nz-menu-item *ngIf="columns.germanLink.allowed"><label nz-checkbox [(ngModel)]="columns.germanLink.active">Link (de)</label></li>
        <li nz-menu-item *ngIf="columns.romansh.allowed"><label nz-checkbox [(ngModel)]="columns.romansh.active">Romansh</label></li>
        <li nz-menu-item *ngIf="columns.romanshGrammar.allowed"><label nz-checkbox [(ngModel)]="columns.romanshGrammar.active">Grammar (rm)</label></li>
        <li nz-menu-item *ngIf="columns.romanshGender.allowed"><label nz-checkbox [(ngModel)]="columns.romanshGender.active">Gender (rm)</label></li>
        <li nz-menu-item *ngIf="columns.romanshSemantics.allowed"><label nz-checkbox [(ngModel)]="columns.romanshSemantics.active">Semantics (rm)</label></li>
        <li nz-menu-item *ngIf="columns.romanshLink.allowed"><label nz-checkbox [(ngModel)]="columns.romanshLink.active">Link (rm)</label></li>
        <li nz-menu-item *ngIf="columns.romanshConjugation.allowed"><label nz-checkbox [(ngModel)]="columns.romanshConjugation.active">Conjugation (rm)</label></li>
        <li nz-menu-item *ngIf="columns.romanshAdditionalSearchTerms.allowed"><label nz-checkbox [(ngModel)]="columns.romanshAdditionalSearchTerms.active">Additional search terms (rm)</label></li>
        <li nz-menu-item *ngIf="columns.category.allowed"><label nz-checkbox [(ngModel)]="columns.category.active">Category</label></li>
        <li nz-menu-item *ngIf="columns.comment.allowed"><label nz-checkbox [(ngModel)]="columns.comment.active">Comment</label></li>
      </ul>
    </nz-dropdown-menu>

    <button nz-button nzType="default" (click)="exportResults()">
      <i nz-icon nzType="export"></i>
      Export
    </button>
    <button nz-button nzType="primary" (click)="addEntry()">
      <i nz-icon nzType="plus-square"></i>
      Add new entry
    </button>
  </div>

</div>

<nz-table
  nzNoAnimation
  [nzScroll]="{ x: '1100px' }"
  nzSize="small"
  #rowSelectionTable
  nzShowPagination="false"
  [nzData]="listOfLexEntries"
>
  <thead>
    <tr>
      <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)" *ngIf="columns.checkMultiple.active" nzLeft nzWidth="70px"></th>
      <th *ngIf="columns.user.active" nzLeft nzWidth="120px">User</th>
      <th *ngIf="columns.verifier.active" nzLeft nzWidth="120px">Verifier</th>
      <th *ngIf="columns.filter.active" nzWidth="110px">Filter</th>
      <th *ngIf="columns.entry.active" nzWidth="200px">Entry</th>
      <th *ngIf="columns.options.active" nzWidth="110px">Actions</th>
      <th *ngIf="columns.order.active" nzWidth="110px">Order</th>
      <th *ngIf="columns.state.active" nzWidth="120px">State</th>
      <th *ngIf="columns.created.active" nzWidth="120px">Created</th>
      <th *ngIf="columns.german.active">German</th>
      <th *ngIf="columns.germanGrammar.active">Grammar (de)</th>
      <th *ngIf="columns.germanGender.active">Gender (de)</th>
      <th *ngIf="columns.germanSemantics.active">Semantics (de)</th>
      <th *ngIf="columns.germanLink.active">Link (de)</th>
      <th *ngIf="columns.romansh.active">Romansh</th>
      <th *ngIf="columns.romanshGrammar.active">Grammar (rm)</th>
      <th *ngIf="columns.romanshGender.active">Gender (rm)</th>
      <th *ngIf="columns.romanshSemantics.active">Semantics (rm)</th>
      <th *ngIf="columns.romanshLink.active">Link (rm)</th>
      <th *ngIf="columns.romanshConjugation.active">Conjugation (rm)</th>
      <th *ngIf="columns.romanshAdditionalSearchTerms.active">Additional search terms (rm)</th>
      <th *ngIf="columns.category.active">Category</th>
      <th *ngIf="columns.comment.active">Comment</th>
      <th><!--empty columnt to take up space--></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of listOfLexEntries" (click)="selectRow(data)" [class.selected]="data.selected">
      <td
        nzLeft
        [nzChecked]="setOfCheckedId.has(data.id!)"
        [nzDisabled]="data.disabled"
        (nzCheckedChange)="onItemChecked(data.id!, $event)"
        *ngIf="columns.checkMultiple.active"
      ></td>
      <td *ngIf="columns.user.active" nzLeft class="small">
        <app-user-role [role]="data.mostRecent.creatorRole"></app-user-role><br>
        <ng-container *ngIf="data.mostRecent.userId">{{ data.mostRecent.userId }}</ng-container>
        {{ data.mostRecent.ip ? data.mostRecent.ip : '-' }}
      </td>
      <td *ngIf="columns.verifier.active" nzLeft class="small">
        {{ data.mostRecent.verifierId }}
      </td>
      <td *ngIf="columns.filter.active" class="button-column">
        <button nz-button nzSize="small" nzType="default" (click)="filterUser(data.mostRecent.ip); $event.stopPropagation();">Filter User</button>
        <button nz-button nzSize="small" nzType="default" (click)="filterVerifier(data.mostRecent.verifierId); $event.stopPropagation();" *ngIf="data.mostRecent.verifierId" style="margin-top: 4px;">Filter Verifier</button>
      </td>
      <td *ngIf="columns.entry.active">
        {{ data.mostRecent.entryValues.DStichwort }} ⇔ {{ data.mostRecent.entryValues.RStichwort }}
      </td>
      <td *ngIf="columns.options.active" class="button-column">
        <button nz-button nzSize="small" nzType="primary" (click)="editEntry(data.id!); $event.stopPropagation();">Edit</button><br>
        <button nz-button nzSize="small" nzType="primary" nzDanger (click)="dropEntry(data.id!); $event.stopPropagation();">Delete</button>
      </td>
      <td *ngIf="columns.order.active" class="button-column">
        <button nz-button nzSize="small" nzType="primary" (click)="$event.stopPropagation();">Order A</button><br>
        <button nz-button nzSize="small" nzType="primary" nzDanger (click)="$event.stopPropagation();">Order B</button>
      </td>
      <td *ngIf="columns.state.active" class="small">
        <app-verification [verification]="data.mostRecent.verification"></app-verification><br>
        <app-status [status]="data.mostRecent.status"></app-status>
      </td>
      <td *ngIf="columns.created.active" class="small">
        {{ formateDate(data.mostRecent.timestamp) }}<br>
        {{ formateTime(data.mostRecent.timestamp) }}
      </td>
      <td *ngIf="columns.german.active">{{ data.mostRecent.entryValues.DStichwort }}</td>
      <td *ngIf="columns.germanGrammar.active">{{ data.mostRecent.entryValues.DGrammatik }}</td>
      <td *ngIf="columns.germanGender.active">{{ data.mostRecent.entryValues.DGenus }}</td>
      <td *ngIf="columns.germanSemantics.active">{{ data.mostRecent.entryValues.DSubsemantik }}</td>
      <td *ngIf="columns.germanLink.active">{{ data.mostRecent.entryValues.redirect_a }}</td>
      <td *ngIf="columns.romansh.active">{{ data.mostRecent.entryValues.RStichwort }}</td>
      <td *ngIf="columns.romanshGrammar.active">{{ data.mostRecent.entryValues.RGrammatik }}</td>
      <td *ngIf="columns.romanshGender.active">{{ data.mostRecent.entryValues.RStichwort }}</td>
      <td *ngIf="columns.romanshSemantics.active">{{ data.mostRecent.entryValues.RSubsemantik }}</td>
      <td *ngIf="columns.romanshLink.active">{{ data.mostRecent.entryValues.redirect_b }}</td>
      <td *ngIf="columns.romanshConjugation.active">{{ data.mostRecent.entryValues.RFlex }}</td>
      <td *ngIf="columns.romanshAdditionalSearchTerms.active">{{ data.mostRecent.entryValues.RTags }}</td>
      <td *ngIf="columns.category.active">{{ data.mostRecent.entryValues.Bearbeitungshinweis }}</td>
      <td *ngIf="columns.comment.active">{{ data.mostRecent.entryValues.maalr_comment }}</td>
      <td><!--empty columnt to take up space--></td>
    </tr>
  </tbody>
</nz-table>


<div class="footer-actions">
  <div class="multi">
    <nz-switch
    [(ngModel)]="columns.checkMultiple.active"
    [nzCheckedChildren]="checkedTemplate"
    [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <label style="margin-left: 12px;">Enable Multi edit</label>
    <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
    <br>

    <button nz-button nzType="primary" nzDanger *ngIf="columns.checkMultiple.active && setOfCheckedId.size !== 0">Reject selected</button>
  </div>

  <nz-pagination
    [nzPageIndex]="(resultPage!.number) + 1"
    [nzPageSize]="resultPage.size"
    [nzTotal]="resultPage.totalElements"
    *ngIf="resultPage && resultPage.totalElements > 0"
    (nzPageIndexChange)="changePage($event)"></nz-pagination>
</div>

