<div class="header-actions">
  <div>
    <span *ngIf="resultPage && resultPage.totalElements > 0">
      Displaying entries {{ (resultPage.number*resultPage.size) + 1 }}
      to {{ math.min((resultPage.number + 1) * resultPage.size, resultPage.totalElements) }}
      of {{ resultPage.totalElements }}
    </span>
  </div>
  <div class="options">
    <button nz-button nz-dropdown [nzDropdownMenu]="menu4">
      Columns
      <i nz-icon nzType="down"></i>
    </button>
    <nz-dropdown-menu #menu4="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showUserColumn">User</label></li>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showFilterColumn">Filter</label></li>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showEntryColumn">Entry</label></li>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showOptionsColumn">Options</label></li>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showStateColumn">State</label></li>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showCreatedColumn">Creation date</label></li>
        <nz-divider></nz-divider>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showGermanColumn">German</label></li>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showRomanshColumn">Romansh</label></li>
        <li nz-menu-item><label nz-checkbox [(ngModel)]="showCommentColumn">Comment</label></li>
      </ul>
    </nz-dropdown-menu>

    <button nz-button nzType="default" (click)="exportResults()">
      <i nz-icon nzType="export"></i>
      Export
    </button>
    <button nz-button nzType="primary">
      <i nz-icon nzType="plus-square"></i>
      Add new entry
    </button>
  </div>

</div>

<nz-table
  nzNoAnimation
  [nzScroll]="{ x: '1100px' }"
  nzSize="small"
  #rowSelectionTable
  nzShowPagination="false"
  nzShowSizeChanger
  [nzData]="listOfLexEntries"
  (nzCurrentPageDataChange)="onCurrentPageDataChange($event)"
>
  <thead>
    <tr>
      <th [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)" *ngIf="showCheckMultiple" nzLeft></th>
      <th *ngIf="showUserColumn" nzLeft>User</th>
      <th *ngIf="showFilterColumn">Filter</th>
      <th *ngIf="showEntryColumn">Entry</th>
      <th *ngIf="showOptionsColumn">Options</th>
      <th *ngIf="showStateColumn">State</th>
      <th *ngIf="showCreatedColumn">Created</th>
      <th *ngIf="showGermanColumn">German</th>
      <th *ngIf="showRomanshColumn">Romansh</th>
      <th *ngIf="showCommentColumn">Comment</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of rowSelectionTable.data">
      <td
        nzLeft
        [nzChecked]="setOfCheckedId.has(data.id)"
        [nzDisabled]="data.disabled"
        (nzCheckedChange)="onItemChecked(data.id, $event)"
        *ngIf="showCheckMultiple"
      ></td>
      <td *ngIf="showUserColumn" nzLeft>
        <nz-tag [nzColor]="'geekblue'">{{ data.current.creatorRole }}</nz-tag><br>
        10.160.10.88
      </td>
      <td *ngIf="showFilterColumn">
        <button nz-button nzSize="small" nzType="default">Filter User</button>
      </td>
      <td *ngIf="showEntryColumn">
        {{ data.current.entryValues.DStichwort }} ⇔ {{ data.current.entryValues.RStichwort }}
      </td>
      <td *ngIf="showOptionsColumn">
        <button nz-button nzSize="small" nzType="primary">Edit</button><br>
        <button nz-button nzSize="small" nzType="primary" nzDanger>Delete</button>
      </td>
      <td *ngIf="showStateColumn">
        <nz-tag [nzColor]="'red'">{{ data.current.verification }}</nz-tag><br>
        <nz-tag>{{ data.current.status }}</nz-tag>
      </td>
      <td *ngIf="showCreatedColumn">
        02-04-2022<br>
        13:45:32
      </td>
      <td *ngIf="showGermanColumn">{{ data.current.entryValues.DStichwort }}</td>
      <td *ngIf="showRomanshColumn">{{ data.current.entryValues.RStichwort }}</td>
      <td *ngIf="showCommentColumn">{{ data.current.entryValues.comment }}</td>
    </tr>
  </tbody>
</nz-table>


<div class="footer-actions">
  <div class="multi">
    <nz-switch
    [(ngModel)]="showCheckMultiple"
    [nzCheckedChildren]="checkedTemplate"
    [nzUnCheckedChildren]="unCheckedTemplate"
    ></nz-switch>
    <label>Enable Multi edit</label>
    <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
    <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
    <br>

    <button nz-button nzType="primary" nzDanger *ngIf="showCheckMultiple && setOfCheckedId.size !== 0">Reject selected</button>
  </div>

  <nz-pagination
    [nzPageIndex]="(resultPage!.number) + 1"
    [nzPageSize]="resultPage.size"
    [nzTotal]="resultPage.totalElements"
    *ngIf="resultPage && resultPage.totalElements > 0"
    (nzPageIndexChange)="changePage($event)"></nz-pagination>
</div>

