// style header
.header-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 24px;

  .options {
    text-align: right;

    button {
      margin-left: 16px;
    }
  }
}

// style table
::ng-deep {
  table {
    tr {
      button {
        visibility: hidden;
      }

      &:hover {
        button {
          visibility:visible;
        }
      }
    }

    tr.selected {
      background-color: rgb(213, 213, 255) !important;

      td.ant-table-cell-fix-left {
        background-color: transparent;
      }
    }

    tr.ant-table-row.selected:hover>td {
      background-color: transparent;
    }

    td.small {
      font-size: 12px;
      text-align: center;

      nz-tag {
        font-size: 11px;
        width: 100%;
        text-align: center;

        &:nth-of-type(2) {
          margin-top: 3px;
        }
      }
    }

    .button-column {
      button {
        width: 90px;
        font-size: 12px;

        &.wide-button {
          width: 110px;
        }

        &.very-wide-button {
          width: 145px;
        }

        &:nth-of-type(2) {
          margin-top: 3px;
        }
      }
    }
  }

}

// style footer
.footer-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 24px;
}
