<h1>Allgemeine Informationen</h1>

<p>
  <strong>Diese Online-Version des Pledari sutsilvan basiert auf dem Pledari sutsilvan-tudestg/Wörterbuch
    Deutsch-Sutsilvan, redigiert von Wolfang Eichenhofer, herausgegeben im Jahre 2002 von Lehrmittel Graubünden. Wie
    dort weisen die eckigen Klammern auf domleschgerische Schreibungen hin.</strong>
</p>

<p>
  56.393 Einträge.
</p>

<p>Der Wortschatz einer Sprache hat keine Grenzen. So lange die Sprache lebt, wächst und entwickelt sich dieser weiter
  und passt sich organisch den Kommunikationsbedürfnissen der Sprachgemeinschaft an. Alle Nutzerinnen und Nutzer sind
  eingeladen, zur Entwicklung des Pledari sutsilvan online beizutragen. Wer ein Wort oder einen Ausdruck nicht findet,
  kann über das entsprechende Formular (es erscheint durch Anklicken des Buttons "Neuer Eintrag") Vorschläge machen. Wer
  einen Fehler entdeckt, kann über ein weiteres Formular (es erscheint durch Anklicken des Buttons "Bearbeiten") eine
  Änderung vorschlagen oder eine Anmerkung versenden.</p>
<p>
  <b> © Lia Rumantscha, CH-7000 Chur</b>
</p>

<p>
  <b>Konzept und Umsetzung </b>
  <br>Lia Rumantscha, Daniel Telli
</p>

<p>
  <b>Aktuelle Redaktion</b>
  <br>
  Johann Clopath
</p>

<p>
  <b>Programme</b>
  <br>Jürgen Rolshoven
  <br>Claes Neuefeind
  <br>Stephan Schwiebert
  <br>Mihail Atanassov
  <br>(Institut für Linguistik, Sprachliche Informationsverarbeitung, Universität zu Köln)
</p>

<p>
  <b>Grafisches Design</b>
  <br> Remo Caminada, www.remocaminada.com
</p>
