<nz-header>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu">
    <li nz-menu-item nzDisabled="true">Puter</li>
    <li nz-menu-item nzSelected>Rumantsch Grischun</li>
    <li nz-menu-item>Surmiran</li>
    <li nz-menu-item nzDisabled="true">Sursilvan</li>
    <li nz-menu-item>Sutsilvan</li>
    <li nz-menu-item nzDisabled="true">Vallader</li>
  </ul>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu-right">
    <li nz-menu-item>Nums</li>
    <li nz-menu-item>Admin</li>
  </ul>
</nz-header>
