<nz-header>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" [nzSelectable]="false">
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/rumantschgrischun" *ngIf="authService.isEditorRumantschgrischun()">Rumantsch Grischun</li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/surmiran" *ngIf="authService.isEditorSurmiran()">Surmiran</li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/sursilvan" *ngIf="authService.isEditorSursilvan()">Sursilvan</li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/sutsilvan" *ngIf="authService.isEditorSutsilvan()">Sutsilvan</li>

    <nz-divider nzType="vertical" *ngIf="authService.isEditorNames()"></nz-divider>

    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/names" *ngIf="authService.isEditorNames()">{{ 'names.menu_item' | translate}}</li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/users" *ngIf="authService.isAdmin()">{{ 'users.menu_item' | translate}}</li>
  </ul>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu-right">
    <a [class.lang_selected]="frontendLanguage === 'en'" (click)="changeFrontendLanguage('en')">en</a>
    <span> | </span>
    <a [class.lang_selected]="frontendLanguage === 'rm'" (click)="changeFrontendLanguage('rm')">rm</a>

    <span class="username">{{ authService.getUsername() }}</span>
    <span class="logout" (click)="logout()">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
    </span>
  </ul>
</nz-header>
