@if (language === 'puter') {
  <div class="modal-content">
    <h1>Installaziun da la controlla ortografica in Microsoft 365</h1>
    <p>Microsoft nu permetta displaschaivelmaing dad installer nouvs paquets da lingua per tuot ils idioms rumauntschs
      tenor il model üsito, ma nus vains sviluppo ün supplemaint (ün «add-in») chi pussibilitescha da druver ils
    programs da controlla ortografica almain in Word.</p>
    <p>Pass per installer il supplemaint:</p>
    <ol>
      <li>Avrir Word</li>
      <li>Acceder a «Einfügen» -> «Add-ins (installieren)» -> «Store»</li>
      <li>Tipper «rumantsch» i’l champ e tschercher cun clicker sülla marella</li>
      <li>Clicker sün il buttun «Hinzufügen» dasper il supplemaint da la controlla ortografica rumauntscha</li>
      <li>Turner al tab «Start» (eventuelmaing drouva ün mumaint infin cha l'installaziun es cumpletteda)</li>
      <li>Cliccar sin «Ortografia rumantscha»</li>
      <li>Illa trev laterela chi s’ho avierta, clicker suotvart a dretta sün «Parameters»</li>
      <li>Tscherner ün idiom</li>
      <li>Müder al tab «Correctura» e ler las instrucziuns</li>
    </ol>
  </div>
}

@if (language === 'rumantschgrischun') {
  <div class="modal-content">
    <h1>Installaziun da la controlla ortografica en Microsoft 365</h1>
    <p>Microsoft na permetta deplorablamain betg dad installar novs pachets da lingua per tut ils idioms rumantschs
      tenor il model usità, ma nus avain sviluppà in supplement (in «add-in») che pussibilitescha da duvrar ils programs
    da controlla ortografica almain en Word.</p>
    <p>Pass per installar il supplement:</p>
    <ol>
      <li>Avrir Word</li>
      <li>Acceder a «Einfügen» -> «Add-ins (installieren)» -> «Store»</li>
      <li>Tippar «rumantsch» en il champ e tschertgar cun cliccar sin la marella</li>
      <li>Cliccar sin il buttun «Hinzufügen» dasper il supplement da la controlla ortografica rumantscha</li>
      <li>Turnar al tab «Start» (eventualmain cuzzi in mument enfin che l'installaziun è terminada)</li>
      <li>Cliccar sin «Ortografia rumantscha» </li>
      <li>En la trav laterala ch'è s'averta, cliccar sutvart a dretga sin «Parameters»</li>
      <li>Tscherner in idiom</li>
      <li>Midar al tab «Correctura» e leger las instrucziuns</li>
    </ol>
  </div>
}

@if (language === 'sursilvan') {
  <div class="modal-content">
    <h1>Installaziun dalla controlla ortografica en Microsoft 365</h1>
    <p>Microsoft lubescha deplorablamein buca d'installar novs pachets da lungatg per tut ils idioms romontschs
      tenor il model usitau. Nus havein denton sviluppau in supplement (in «add-in») che possibilitescha da duvrar ils
      programs da controlla ortografica silmeins en Word.</p>
    <p>Pass per installar il supplement:</p>
    <ol>
      <li>Arver Word</li>
      <li>Acceder «Einfügen» -> «Add-ins (installieren)» -> «Store»</li>
      <li>Tippar «rumantsch» el camp ed encurir cun cliccar silla marella</li>
      <li>Cliccar sil buttun «Hinzufügen» sper il supplement dalla controlla ortografica romontscha</li>
      <li>Returnar al tab «Start» (eventualmein cuozi in mument tochen che l'installaziun ei terminada)</li>
      <li>Cliccar sin «Ortografia rumantscha» </li>
      <li>Ella trav laterala ch'ei s'aviarta, cliccar sut dretg sin «Parameters»</li>
      <li>Selecziunar in idiom</li>
      <li>Turnar al tab «Correctura» e leger las instrucziuns</li>
    </ol>
  </div>
}

@if (language === 'surmiran') {
  <div class="modal-content">
    <h1>Installaziun dalla controlla ortografica ainten Microsoft 365</h1>
    <p>Microsoft na lubescha deplorablamaintg betg d'installar novs pachets da lungatg per tut igls idioms rumantschs
      tenor igl model usito, ma nous vagn sviluppo en supplemaint (en «add-in») tgi pussibilitescha da duvrar igls
    programs da controlla ortografica aglmanc ainten Word.</p>
    <p>Pass per installar igl supplemaint:</p>
    <ol>
      <li>Darveir Word</li>
      <li>Eir sen «Einfügen» -> «Add-ins (installieren)» -> «Store»</li>
      <li>Tippar «rumantsch» aint igl camp e tschartger cun cliccar sen la marella</li>
      <li>Cliccar segl battung «Hinzufügen» sper igl supplemaint dalla controlla ortografica rumantscha</li>
      <li>Turnar agl tab «Start» (eventualmaintg vo chegl en mument anfignen tgi l'installaziun è terminada)</li>
      <li>Cliccar sen «Ortografia rumantscha»</li>
      <li>Aint la trav laterala tgi è sa daverta, cliccar giusot a dretga sen «Parameters»</li>
      <li>Tscherner en idiom</li>
      <li>Midar agl tab «Correctura» e liger las instrucziuns</li>
    </ol>
  </div>
}

@if (language === 'sutsilvan') {
  <div class="modal-content">
    <h1>Instalaziùn da la controla ortografica an Microsoft 365</h1>
    <p>Microsoft lubescha deplorablameing betga dad instalar novs pacets da lungatg par tut igls idioms rumàntschs
      tanor igl modèl usito, mo nus vagn svilupo egn suplemaint (egn «add-in») ca pussibilitescha da duvrar
    igls programs da controla ortografica gearmains an Word.</p>
    <p>Pass par instalar igl suplemaint:</p>
    <ol>
      <li>Earver Word</li>
      <li>Aczeder ad «Einfügen» -> «Add-ins (installieren)» -> «Store»</li>
      <li>Tipar «rumantsch» agl tgomp da tschartgear cun clicar sen la lupa</li>
      <li>Clicar sen la tasta «Hinzufügen» sper igl suplemaint da la controla ortografica rumàntscha</li>
      <li>Turnar agl tab «Start» (eventualmeing cuz’igl egn mumaint tocen ca l'instalaziùn e terminada)</li>
      <li>Clicar sen «Ortografia rumantscha»</li>
      <li>An la trav laterala c'â saviert, clicar sutvart a dretg sen «Parameters»</li>
      <li>Tschearner egn idiom</li>
      <li>Midar agl tab «Corectura» a liger las instrucziùns.</li>
    </ol>
  </div>
}

@if (language === 'vallader') {
  <div class="modal-content">
    <h1>Installaziun da la controlla ortografica in Microsoft 365</h1>
    <p>Microsoft nu permetta displaschaivelmaing dad installar nouvs pakets da lingua per tuot ils idioms rumantschs
      tenor il model üsità, ma nus vain sviluppà ün supplemaint (ün «add-in») chi pussibiltescha da dovrar ils programs
    da controlla ortografica almain in Word.</p>
    <p>Pass per installar il supplemaint:</p>
    <ol>
      <li>Drivir Word</li>
      <li>Acceder a «Einfügen» -> «Add-ins (installieren)» -> «Store»</li>
      <li>Tippar «rumantsch» i’l chomp e tscherchar cun cliccar sülla marella</li>
      <li>Cliccar sün il buttun «Hinzufügen» dasper il supplemaint da la controlla ortografica rumantscha</li>
      <li>Tuornar al tab «Start» (eventualmaing douvra ün mumaint infin cha l'installaziun es cumplettada)</li>
      <li>Cliccar sün «Ortografia rumantscha»</li>
      <li>Illa trav laterala chi s’ha drivida, cliccar suotvart a dretta sün «Parameters»</li>
      <li>Tscherner ün idiom</li>
      <li>Müdar al tab «Correctura» e leger las instrucziuns</li>
    </ol>
  </div>
}

@if (language === 'de') {
  <div class="modal-content">
    <h1>Installation der Rechtschreibkontrolle in Microsoft 365</h1>
    <p>Microsoft erlaubt leider keine Installation von rätoromanischen Sprachpaketen, die es ermöglichen würden, die
      romanischen Idiome wie andere Sprachen zu überprüfen. Wir haben aber ein Add-in entwickelt, das die
    rätoromanische Rechtschreibprüfung in Microsoft Word zur Verfügung stellt.</p>
    <p>Schritte, um das Add-in zu installieren:</p>
    <ol>
      <li>Word öffnen</li>
      <li>Gehe zu «Einfügen» -> «Add-ins (installieren)» -> «Store»</li>
      <li>«rumantsch» ins Feld tippen und suchen</li>
      <li>Neben «Controlla ortografica rumantscha» auf die Schaltfläche «Hinzufügen» klicken</li>
      <li>Zum Tab «Start» zurückkehren (es kann einen Augenblick dauern bis die Installation abgeschlossen ist)</li>
      <li>Auf «Ortografia rumantscha» klicken</li>
      <li>In der Seitenleiste, die sich geöffnet hat, unten rechts auf «Parameters» klicken</li>
      <li>Ein Idiom auswählen</li>
      <li>Zum Reiter «Correctura» zurückkehren und die Anweisungen lesen</li>
    </ol>
  </div>
}
