<div class="info-box">
  <p>La Lia Rumantscha renviescha al Niev vocabulari romontsch sursilvan-tudestg dad Alexi Decurtins. Ina versiun digitala anflan ins cun cliccar sin la colligiaziun sutvart.</p>
  <p>Die Lia Rumantscha verweist auf das Niev vocabulari romontsch sursilvan-tudestg von Alexi Decurtins. Eine digitale Version ist über den unten stehenden Link aufrufbar.</p>

  <p>
    <span class="arrow">→</span>
    <a href="https://www.vocabularisursilvan.ch" target="_blank" class="simpleLink"
    [matomoClickCategory]="'LINK'" [matomoClickAction]="'link sursilvan'">https://www.vocabularisursilvan.ch</a>
  </p>
</div>
