<div>
  <div class="well" id="info-box">
    <p>
      </p><p>La Lia Rumantscha renviescha al Niev vocabulari romontsch sursilvan-tudestg dad Alexi Decurtins. Ina versiun digitala anflan ins cun cliccar sin la colligiaziun sutvart.</p>
      <p>Die Lia Rumantscha verweist auf das Niev vocabulari romontsch sursilvan-tudestg von Alexi Decurtins. Eine digitale Version ist über den unten stehenden Link aufrufbar.</p>
      <p></p>
    <br>
    <p>
      <span style="color:#848484;">→</span>
      <a href="http://www.vocabularisursilvan.ch" target="_blank" class="simpleLink">http://www.vocabularisursilvan.ch</a>
    </p>
  </div>
</div>
