<div class="modal-content" *ngIf="language === 'puter'">
  <h1>Installaziun da la controlla ortografica in oters sistems</h1>

  <p>Ils programs da correctura ortografica rumauntscha as basan sün «Hunspell» e funcziunan in divers programs, tanter oter en Adobe InDesign ed SDL Trados.</p>

  <p>Per l'installaziun in quists programs servan las seguaintas datotecas. Üna cuntegna il dicziunari, l’otra reglas per generer pleds in pü, la terza indicaziuns davart la versiun e la quarta la licenza.</p>

  <p>
    {{hunspellLanguage}}.dic<br>
    {{hunspellLanguage}}.aff<br>
    {{hunspellLanguage}}_version.txt<br>
    {{hunspellLanguage}}_LICENSE.txt<br>
  </p>

  <p>Il zip cuntegna tuottas quatter datotecas:</p>

  <button (click)="downloadHunspell.emit()" style="margin-bottom: 44px">{{hunspellLanguage}}.zip</button>

  <p>Consultè per plaschair las paginas d’agüd dals programs correspundents per gnir a savair cu installer las datotecas.</p>

  <p>Suotvart las colliaziuns a manuels per:</p>

  <ul class="list">
    <li><a href="https://helpx.adobe.com/ch_de/indesign/kb/add_cs_dictionaries.html" target="_blank">Adobe InDesign</a></li>
    <li><a href="https://gateway.sdl.com/apex/communityknowledge?articleName=000001362" target="_blank">SDL Trados Studio</a></li>
  </ul>
</div>

<div class="modal-content" *ngIf="language === 'rumantschgrischun'">
  <h1>Installaziun da la controlla ortografica en auters sistems</h1>

  <p>Ils programs da correctura ortografica rumantscha baseschan sin «Hunspell» e funcziunan en numerus programs, tranter auter en Adobe InDesign ed SDL Trados.</p>

  <p>Per l'installaziun en quests programs servan las suandantas datotecas. Ina cuntegna il dicziunari, l'autra reglas per generar ulteriurs pleds, la terza indicaziuns davart la versiun e la quarta la licenza.</p>

  <p>
    {{hunspellLanguage}}.dic<br>
    {{hunspellLanguage}}.aff<br>
    {{hunspellLanguage}}_version.txt<br>
    {{hunspellLanguage}}_LICENSE.txt<br>
  </p>

  <p>Il zip cuntegna tuttas quatter datotecas:</p>

  <button (click)="downloadHunspell.emit()" style="margin-bottom: 44px">{{hunspellLanguage}}.zip</button>

  <p>Consultai per plaschair las paginas d'agid dals programs correspundents per vegnir a savair co installar las datotecas.</p>

  <p>Qua sutvart las colliaziuns a manuals per:</p>

  <ul class="list">
    <li><a href="https://helpx.adobe.com/ch_de/indesign/kb/add_cs_dictionaries.html" target="_blank">Adobe InDesign</a></li>
    <li><a href="https://gateway.sdl.com/apex/communityknowledge?articleName=000001362" target="_blank">SDL Trados Studio</a></li>
  </ul>
</div>

<div class="modal-content" *ngIf="language === 'surmiran'">
  <h1>Installaziun dalla controlla ortografica ainten oters sistems</h1>

  <p>Igls programs da correctura ortografica rumantscha sa basan sen «Hunspell» e funcziuneschan ainten numerous programs, tranter oter ainten Adobe InDesign ed SDL Trados.</p>

  <p>Per l'installaziun ainten chels programs servan las suandontas datotecas. Egna cuntigna igl dicziunari, l'otra reglas per generar ulteriours pleds, la terza indicaziuns davart la versiun e la quarta la licenza.</p>

  <p>
    {{hunspellLanguage}}.dic<br>
    {{hunspellLanguage}}.aff<br>
    {{hunspellLanguage}}_version.txt<br>
    {{hunspellLanguage}}_LICENSE.txt<br>
  </p>

  <p>Igl zip cuntigna tottas quatter datotecas:</p>

  <button (click)="downloadHunspell.emit()" style="margin-bottom: 44px">{{hunspellLanguage}}.zip</button>

  <p>Consulte per plascheir las paginas d'ageid digls programs correspondents per neir a saveir scu installar las datotecas.</p>

  <p>Cò sotvart las colliaziuns a manuals per:</p>

  <ul class="list">
    <li><a href="https://helpx.adobe.com/ch_de/indesign/kb/add_cs_dictionaries.html" target="_blank">Adobe InDesign</a></li>
    <li><a href="https://gateway.sdl.com/apex/communityknowledge?articleName=000001362" target="_blank">SDL Trados Studio</a></li>
  </ul>
</div>

<div class="modal-content" *ngIf="language === 'sutsilvan'">
  <h1>Instalaziùn da la controla ortografica an oters sistems</h1>

  <p>Igls programs da corectura ortografica rumàntscha sabasan sen «Hunspell» a funcziuneschan an numerus programs, trànter oter an Adobe InDesign ad SDL Trados.</p>

  <p>Par l'instalaziùn an quels programs searvan las suandàntas datotecas. Egna cuntegna igl pledari, l'otra reglas par generar ulteriurs pleds, la tearza indicaziùns davart la versiùn a la quarta la lizenza.</p>

  <p>
    {{hunspellLanguage}}.dic<br>
    {{hunspellLanguage}}.aff<br>
    {{hunspellLanguage}}_version.txt<br>
    {{hunspellLanguage}}_LICENSE.txt<br>
  </p>

  <p>Igl zip cuntegna tutas quater datotecas::</p>

  <button (click)="downloadHunspell.emit()" style="margin-bottom: 44px">{{hunspellLanguage}}.zip</button>

  <p>Consultad par plascher las paginas d'agid digls programs coraspundaints par vagnir a saver sco instalar las datotecas.</p>

  <p>Qua sutvart las culiaziùns a manuals par:</p>

  <ul class="list">
    <li><a href="https://helpx.adobe.com/ch_de/indesign/kb/add_cs_dictionaries.html" target="_blank">Adobe InDesign</a></li>
    <li><a href="https://gateway.sdl.com/apex/communityknowledge?articleName=000001362" target="_blank">SDL Trados Studio</a></li>
  </ul>
</div>

<div class="modal-content" *ngIf="language === 'vallader'">
  <h1>Installaziun da la controlla ortografica in oters sistems</h1>

  <p>Ils programs da correctura ortografica rumantscha as basan sün «Hunspell» e funcziunan in divers programs, tanter oter en Adobe InDesign ed SDL Trados.</p>

  <p>Per l'installaziun in quists programs servan las seguaintas datotecas. Üna cuntegna il dicziunari, tschella reglas per generar ulteriurs pleds, la terza indicaziuns davart la versiun e la quarta la licenza.</p>

  <p>
    {{hunspellLanguage}}.dic<br>
    {{hunspellLanguage}}.aff<br>
    {{hunspellLanguage}}_version.txt<br>
    {{hunspellLanguage}}_LICENSE.txt<br>
  </p>

  <p>Il zip cuntegna tuottas quatter datotecas:</p>

  <button (click)="downloadHunspell.emit()" style="margin-bottom: 44px">{{hunspellLanguage}}.zip</button>

  <p>Consultai per plaschair las paginas d’agüd dals programs correspundents per gnir a savair co installar las datotecas.</p>

  <p>Suotvart las colliaziuns a manuals per:</p>

  <ul class="list">
    <li><a href="https://helpx.adobe.com/ch_de/indesign/kb/add_cs_dictionaries.html" target="_blank">Adobe InDesign</a></li>
    <li><a href="https://gateway.sdl.com/apex/communityknowledge?articleName=000001362" target="_blank">SDL Trados Studio</a></li>
  </ul>
</div>

<div class="modal-content" *ngIf="language === 'de'">
  <h1>Installation der Rechtschreibprüfung auf anderen Systemen</h1>

  <p>Die romanische Rechtschreibprüfung basiert auf der Software «Hunspell». Diese funktioniert mit einer Vielzahl an Programmen, unter anderem mit Adobe InDesign und SDL Trados.</p>

  <p>Die folgenden Dateien werden für die Installation in diesen Programmen benötigt. Die erste Datei enthält das Wörterbuch, die Zweite die Regeln um weitere Wörter zu generieren, die Dritte enthält Angaben zur Version und die Vierte die Lizenz. </p>

  <p>
    {{hunspellLanguage}}.dic<br>
    {{hunspellLanguage}}.aff<br>
    {{hunspellLanguage}}_version.txt<br>
    {{hunspellLanguage}}_LICENSE.txt<br>
  </p>

  <p>Die Zip-Datei beinhaltet alle vier Dateien:</p>

  <button (click)="downloadHunspell.emit()" style="margin-bottom: 44px">{{hunspellLanguage}}.zip</button>

  <p>Besuchen Sie die Hilfe-Seiten der entsprechenden Software um zu erfahren wie die Dateien installiert werden müssen. </p>

  <p>Hier die Links zu Anleitungen für:</p>

  <ul class="list">
    <li><a href="https://helpx.adobe.com/ch_de/indesign/kb/add_cs_dictionaries.html" target="_blank">Adobe InDesign</a></li>
    <li><a href="https://gateway.sdl.com/apex/communityknowledge?articleName=000001362" target="_blank">SDL Trados Studio</a></li>
  </ul>
</div>
