<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-content class="type-filter">
      <nz-page-header-title>Filter</nz-page-header-title>
      <nz-radio-group [(ngModel)]="searchCriteria.automaticChangesType" (ngModelChange)="changePage(0)">
        <label nz-radio nzValue="ALL">{{ 'review.filter.all' | translate }}</label>
        <label nz-radio nzValue="VERBS">{{ 'review.filter.verbs' | translate }}</label>
        <label nz-radio nzValue="NOUNS">{{ 'review.filter.nouns' | translate }}</label>
        <label nz-radio nzValue="ADJECTIVES">{{ 'review.filter.adjectives' | translate }}</label>
      </nz-radio-group>
      <input nz-input [(ngModel)]="searchCriteria.searchPhrase" style="width: 200px; margin-left: 36px;" [placeholder]="'review.filter.search_rm' | translate" (ngModelChange)="changePage(0)">
      <label nz-checkbox [(ngModel)]="searchCriteria.showReviewLater" style="margin-left: 24px;" (ngModelChange)="changePage(0)">{{ 'review.filter.later' | translate }}</label>
      <nz-select [(ngModel)]="searchCriteria.searchMethod" style="width: 150px; margin-left: 36px;" (ngModelChange)="changePage(0)">
        <nz-option [nzLabel]="'lexicon.filter.method.normal' | translate" nzValue="NORMAL"></nz-option>
        <nz-option [nzLabel]="'lexicon.filter.method.intern' | translate" nzValue="INTERN"></nz-option>
        <nz-option [nzLabel]="'lexicon.filter.method.prefix' | translate" nzValue="PREFIX"></nz-option>
        <nz-option [nzLabel]="'lexicon.filter.method.suffix' | translate" nzValue="SUFFIX"></nz-option>
        <nz-option [nzLabel]="'lexicon.filter.method.exact' | translate" nzValue="EXACT"></nz-option>
      </nz-select>
    </nz-content>
  </div>
</div>

<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="9" class="left-side">
    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{ 'review.list.title' | translate }}</nz-page-header-title>
      </nz-page-header>

      {{ 'lexicon.lemma.results_info' | translate:{
        start: (currentPage.number*currentPage.size) + 1,
        end: math.min((currentPage.number + 1) * currentPage.size, currentPage.totalElements),
        total: currentPage.totalElements
      } }}

      <div class="lemma-list">
        <nz-list [nzLoading]="isLoadingData">
          <nz-list-item *ngFor="let item of lemmas" (click)="selectLemma(item)" [class.selected]="item.selected" id="list-id-{{ item.lexEntryId }}">
            <ng-container >
              <i nz-icon
              [nzType]="item.local_review_status === 'ACCEPTED' ? 'check-circle' : item.local_review_status === 'REJECTED' ? 'close-circle' : item.local_review_status === 'EDITED' ? 'info-circle' : item.local_review_status === 'LATER' ? 'clock-circle' : 'question-circle'"
              class="state-icon"
              [class.accepted]="item.local_review_status === 'ACCEPTED'"
              [class.rejected]="item.local_review_status === 'REJECTED'"
              [class.edited]="item.local_review_status === 'EDITED'"
              [class.later]="item.local_review_status === 'LATER'"
              ></i>
              <nz-list-item-meta nzDescription="{{ item.lemmaValues.RGrammatik }}">
                <nz-list-item-meta-title>
                  <a>{{ item.lemmaValues.RStichwort }} ⇔ {{ item.lemmaValues.DStichwort }}</a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </ng-container>
          </nz-list-item>
        </nz-list>
      </div>

      <div class="pg-pagination">
        <nz-pagination
          [nzPageIndex]="(currentPage!.number) + 1"
          [nzPageSize]="currentPage.size"
          [nzTotal]="currentPage.totalElements"
          [nzSize]="'small'"
          *ngIf="currentPage && currentPage.totalElements > 0"
          (nzPageIndexChange)="changePage($event)"></nz-pagination>
      </div>
    </nz-content>
  </div>

  <div nz-col nzSpan="15" class="right-side">
    <nz-content>
      <div class="content" *ngIf="selectedLexEntry">
        <nz-page-header [nzGhost]="false">
          <nz-page-header-title>{{ selectedLexEntry.mostRecent.lemmaValues.RStichwort }} ⇔ {{ selectedLexEntry.mostRecent.lemmaValues.DStichwort }}</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button nzType="primary"  class="button-accept" (click)="acceptSelectedLemma()">{{ 'review.actions.accept' | translate }}<span class="keyboard">enter</span></button>
            <button nz-button nzType="primary" nzDanger (click)="rejectSelectedLemma()">{{ 'review.actions.reject' | translate }}<span class="keyboard">del</span></button>
            <button nz-button nzType="primary" *ngIf="!searchCriteria.showReviewLater" style="background-color: rgb(82, 82, 82); border: none;" (click)="reviewLater()">{{ 'review.actions.later' | translate }}</button>
            <button nz-button (click)="editSelectedLemma()">{{ 'review.actions.modify' | translate }}<span class="keyboard">space</span></button>
          </nz-page-header-extra>
        </nz-page-header>

        <div class="manual-actions" *ngIf="selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'NOUN'">
          <span style="margin-right: 16px;">{{ 'review.actions.automatic.title' | translate }}:</span>
          <button nz-button (click)="nounChangeOnlyMale()">{{ 'review.actions.automatic.only_m' | translate }} <span class="keyboard">1</span></button>
        </div>
        <div class="manual-actions" *ngIf="selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'V-'">
          <span style="margin-right: 16px;">{{ 'review.actions.automatic.title' | translate }}:</span>
        </div>
        <div class="manual-actions" *ngIf="selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'ADJECTIVE'">
          <span style="margin-right: 16px;">{{ 'review.actions.automatic.title' | translate }}:</span>
          <button nz-button (click)="adjectiveNoAdverbialForm()">{{ 'review.actions.automatic.no_adverbial' | translate }} <span class="keyboard">1</span></button>
        </div>

        <nz-descriptions nzTitle="">
          <nz-descriptions-item [nzTitle]="'edit.lemma.category' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.categories" [new]="selectedLexEntry.mostRecent.lemmaValues.categories"></app-diff></nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions [nzTitle]="'edit.lemma.german' | translate">
          <nz-descriptions-item [nzTitle]="'edit.lemma.de' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.DStichwort" [new]="selectedLexEntry.mostRecent.lemmaValues.DStichwort"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.de_gender' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.DGenus" [new]="selectedLexEntry.mostRecent.lemmaValues.DGenus"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.de_tags' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.DTags" [new]="selectedLexEntry.mostRecent.lemmaValues.DTags"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.de_grammar' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.DGrammatik" [new]="selectedLexEntry.mostRecent.lemmaValues.DGrammatik"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.de_semantics' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.DSubsemantik" [new]="selectedLexEntry.mostRecent.lemmaValues.DSubsemantik"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.de_link' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.DRedirect" [new]="selectedLexEntry.mostRecent.lemmaValues.DRedirect"></app-diff></nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions [nzTitle]="'edit.lemma.romansh' | translate">
          <nz-descriptions-item [nzTitle]="'edit.lemma.rm' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.RStichwort" [new]="selectedLexEntry.mostRecent.lemmaValues.RStichwort"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.rm_gender' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.RGenus" [new]="selectedLexEntry.mostRecent.lemmaValues.RGenus"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.rm_tags' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.RTags" [new]="selectedLexEntry.mostRecent.lemmaValues.RTags"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.rm_grammar' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.RGrammatik" [new]="selectedLexEntry.mostRecent.lemmaValues.RGrammatik"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.rm_semantics' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.RSubsemantik" [new]="selectedLexEntry.mostRecent.lemmaValues.RSubsemantik"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.rm_link' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.RRedirect" [new]="selectedLexEntry.mostRecent.lemmaValues.RRedirect"></app-diff></nz-descriptions-item>
          <nz-descriptions-item [nzTitle]="'edit.lemma.inflection.title' | translate"><app-diff [old]="selectedLexEntry.current.lemmaValues.RInflectionType" [new]="selectedLexEntry.mostRecent.lemmaValues.RInflectionType"></app-diff></nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions nzTitle="Flexiuns da substantivs" *ngIf="selectedLexEntry.current.lemmaValues.RInflectionType === 'NOUN' || selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'NOUN'">
          <nz-descriptions-item nzTitle="m sing"><app-diff [old]="selectedLexEntry.current.lemmaValues.mSingular" [new]="selectedLexEntry.mostRecent.lemmaValues.mSingular"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="f sing"><app-diff [old]="selectedLexEntry.current.lemmaValues.fSingular" [new]="selectedLexEntry.mostRecent.lemmaValues.fSingular"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tip da flexiun"><app-diff [old]="selectedLexEntry.current.lemmaValues.RInflectionSubtype" [new]="selectedLexEntry.mostRecent.lemmaValues.RInflectionSubtype"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="m plural"><app-diff [old]="selectedLexEntry.current.lemmaValues.mPlural" [new]="selectedLexEntry.mostRecent.lemmaValues.mPlural"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="f plural"><app-diff [old]="selectedLexEntry.current.lemmaValues.fPlural" [new]="selectedLexEntry.mostRecent.lemmaValues.fPlural"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="coll"><app-diff [old]="selectedLexEntry.current.lemmaValues.pluralCollectiv" [new]="selectedLexEntry.mostRecent.lemmaValues.pluralCollectiv"></app-diff></nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions nzTitle="Flexiuns dad adjectivs" *ngIf="selectedLexEntry.current.lemmaValues.RInflectionType === 'ADJECTIVE' || selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'ADJECTIVE'">
          <nz-descriptions-item nzTitle="m sing"><app-diff [old]="selectedLexEntry.current.lemmaValues.mSingular" [new]="selectedLexEntry.mostRecent.lemmaValues.mSingular"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="f sing"><app-diff [old]="selectedLexEntry.current.lemmaValues.fSingular" [new]="selectedLexEntry.mostRecent.lemmaValues.fSingular"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tip da flexiun"><app-diff [old]="selectedLexEntry.current.lemmaValues.RInflectionSubtype" [new]="selectedLexEntry.mostRecent.lemmaValues.RInflectionSubtype"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="m plural"><app-diff [old]="selectedLexEntry.current.lemmaValues.mPlural" [new]="selectedLexEntry.mostRecent.lemmaValues.mPlural"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="f plural"><app-diff [old]="selectedLexEntry.current.lemmaValues.fPlural" [new]="selectedLexEntry.mostRecent.lemmaValues.fPlural"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Furma adverbiala"><app-diff [old]="selectedLexEntry.current.lemmaValues.adverbialForm" [new]="selectedLexEntry.mostRecent.lemmaValues.adverbialForm"></app-diff></nz-descriptions-item>
        </nz-descriptions>


        <nz-descriptions nzTitle="Conjugaziun da verbs" *ngIf="selectedLexEntry.current.lemmaValues.RInflectionType === 'V' || selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'V'">
          <nz-descriptions-item nzTitle="Infinitiv"><app-diff [old]="selectedLexEntry.current.lemmaValues.infinitiv" [new]="selectedLexEntry.mostRecent.lemmaValues.infinitiv"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tip da flexiun"><app-diff [old]="selectedLexEntry.current.lemmaValues.RInflectionSubtype" [new]="selectedLexEntry.mostRecent.lemmaValues.RInflectionSubtype"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Conjugaziun regulara"><app-diff [old]="selectedLexEntry.current.lemmaValues.RRegularInflection" [new]="selectedLexEntry.mostRecent.lemmaValues.RRegularInflection"></app-diff></nz-descriptions-item>
        </nz-descriptions>

        <div class="conjugaziuns" *ngIf="selectedLexEntry.current.lemmaValues.RInflectionType === 'V' || selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'V'">
          <div class="conjugaziun">
            <div><b>Preschent</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentsing1" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentsing1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentsing2" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentsing2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentsing3" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentsing3"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentplural1" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentplural1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentplural2" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentplural2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentplural3" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentplural3"></app-diff><br>
          </div>

          <div class="conjugaziun">
            <div><b>Imperfect</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectsing1" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectsing1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectsing2" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectsing2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectsing3" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectsing3"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectplural1" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectplural1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectplural2" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectplural2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectplural3" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectplural3"></app-diff><br>
          </div>

          <div class="conjugaziun">
            <div><b>Conjunctiv</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivsing1" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivsing1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivsing2" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivsing2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivsing3" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivsing3"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivplural1" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivplural1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivplural2" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivplural2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivplural3" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivplural3"></app-diff><br>
          </div>

          <div class="conjugaziun" *ngIf="language === 'sutsilvan'">
            <div><b>Conjunctiv imperfect</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivimperfectsing1" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivimperfectsing1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivimperfectsing2" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivimperfectsing2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivimperfectsing3" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivimperfectsing3"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivimperfectplural1" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivimperfectplural1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivimperfectplural2" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivimperfectplural2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.conjunctivimperfectplural3" [new]="selectedLexEntry.mostRecent.lemmaValues.conjunctivimperfectplural3"></app-diff><br>
          </div>

          <div class="conjugaziun">
            <div><b>Cundiziunal</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalsing1" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalsing1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalsing2" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalsing2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalsing3" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalsing3"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalplural1" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalplural1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalplural2" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalplural2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalplural3" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalplural3"></app-diff><br>
          </div>

          <div class="conjugaziun" *ngIf="language === 'sutsilvan'">
            <div><b>Cundiziunal indirect</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalindirectsing1" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalindirectsing1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalindirectsing2" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalindirectsing2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalindirectsing3" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalindirectsing3"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalindirectplural1" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalindirectplural1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalindirectplural2" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalindirectplural2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalindirectplural3" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalindirectplural3"></app-diff><br>
          </div>

          <div class="conjugaziun">
            <div><b>Futur</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futursing1" [new]="selectedLexEntry.mostRecent.lemmaValues.futursing1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futursing2" [new]="selectedLexEntry.mostRecent.lemmaValues.futursing2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futursing3" [new]="selectedLexEntry.mostRecent.lemmaValues.futursing3"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futurplural1" [new]="selectedLexEntry.mostRecent.lemmaValues.futurplural1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futurplural2" [new]="selectedLexEntry.mostRecent.lemmaValues.futurplural2"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futurplural3" [new]="selectedLexEntry.mostRecent.lemmaValues.futurplural3"></app-diff><br>
          </div>

          <div class="conjugaziun" *ngIf="language === 'sutsilvan' || language === 'surmiran'">
            <div><b>Preschent enclitic</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentsing1enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentsing1enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentsing2enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentsing2enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentsing3encliticm" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentsing3encliticm"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentsing3encliticf" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentsing3encliticf"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentplural1enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentplural1enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentplural2enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentplural2enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.preschentplural3enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.preschentplural3enclitic"></app-diff><br>
          </div>

          <div class="conjugaziun" *ngIf="language === 'sutsilvan' || language === 'surmiran'">
            <div><b>Imperfect enclitic</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectsing1enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectsing1enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectsing2enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectsing2enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectsing3encliticm" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectsing3encliticm"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectsing3encliticf" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectsing3encliticf"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectplural1enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectplural1enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectplural2enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectplural2enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperfectplural3enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.imperfectplural3enclitic"></app-diff><br>
          </div>

          <div class="conjugaziun" *ngIf="language === 'sutsilvan' || language === 'surmiran'">
            <div><b>Cundiziunal enclitic</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalsing1enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalsing1enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalsing2enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalsing2enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalsing3encliticm" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalsing3encliticm"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalsing3encliticf" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalsing3encliticf"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalplural1enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalplural1enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalplural2enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalplural2enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.cundizionalplural3enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.cundizionalplural3enclitic"></app-diff><br>
          </div>

          <div class="conjugaziun" *ngIf="language === 'surmiran'">
            <div><b>Futur enclitic</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futursing1enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.futursing1enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futursing2enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.futursing2enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futursing3encliticm" [new]="selectedLexEntry.mostRecent.lemmaValues.futursing3encliticm"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futursing3encliticf" [new]="selectedLexEntry.mostRecent.lemmaValues.futursing3encliticf"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futurplural1enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.futurplural1enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futurplural2enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.futurplural2enclitic"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.futurplural3enclitic" [new]="selectedLexEntry.mostRecent.lemmaValues.futurplural3enclitic"></app-diff><br>
          </div>

          <div class="conjugaziun">
            <div><b>Particip Perfect</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.participperfectms" [new]="selectedLexEntry.mostRecent.lemmaValues.participperfectms"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.participperfectfs" [new]="selectedLexEntry.mostRecent.lemmaValues.participperfectfs"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.participperfectmp" [new]="selectedLexEntry.mostRecent.lemmaValues.participperfectmp"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.participperfectfp" [new]="selectedLexEntry.mostRecent.lemmaValues.participperfectfp"></app-diff><br>
          </div>

          <div class="conjugaziun">
            <div><b>Imperativ</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperativ1" [new]="selectedLexEntry.mostRecent.lemmaValues.imperativ1"></app-diff><br>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.imperativ2" [new]="selectedLexEntry.mostRecent.lemmaValues.imperativ2"></app-diff><br>
          </div>

          <div class="conjugaziun">
            <div><b>Gerundi</b></div>
            <app-diff [old]="selectedLexEntry.current.lemmaValues.gerundium" [new]="selectedLexEntry.mostRecent.lemmaValues.gerundium"></app-diff><br>
          </div>
        </div>
      </div>
    </nz-content>
  </div>
</div>
