<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-content class="type-filter">
      <nz-page-header-title>Filter</nz-page-header-title>
      <nz-radio-group [(ngModel)]="searchCriteria.automaticChangesType" (ngModelChange)="changePage(0)">
        <label nz-radio nzValue="ALL">Mussar tut</label>
        <label nz-radio nzValue="NOUNS">Substantivs</label>
        <label nz-radio nzValue="ADJECTIVES">Adjectivs</label>
      </nz-radio-group>
    </nz-content>
  </div>
</div>

<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="9" class="left-side">
    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{ 'lexicon.lemma_history.title' | translate }}</nz-page-header-title>
        <nz-page-header-subtitle>{{ 'lexicon.lemma_history.subtitle' | translate }}</nz-page-header-subtitle>
      </nz-page-header>

      {{ 'lexicon.lemma.results_info' | translate:{
        start: (currentPage.number*currentPage.size) + 1,
        end: math.min((currentPage.number + 1) * currentPage.size, currentPage.totalElements),
        total: currentPage.totalElements
      } }}

      <div class="lemma-list">
        <nz-list [nzLoading]="isLoadingData">
          <nz-list-item *ngFor="let item of lemmas" (click)="selectLemma(item)" [class.selected]="item.selected" id="list-id-{{ item.lexEntryId }}">
            <ng-container >
              <i nz-icon
              [nzType]="item.local_review_status === 'ACCEPTED' ? 'check-circle' : item.local_review_status === 'REJECTED' ? 'close-circle' : item.local_review_status === 'EDITED' ? 'info-circle' : 'question-circle'"
              class="state-icon"
              [class.accepted]="item.local_review_status === 'ACCEPTED'"
              [class.rejected]="item.local_review_status === 'REJECTED'"
              [class.edited]="item.local_review_status === 'EDITED'"
              ></i>
              <nz-list-item-meta nzDescription="{{ item.lemmaValues.RGrammatik }}">
                <nz-list-item-meta-title>
                  <a>{{ item.lemmaValues.RStichwort }} ⇔ {{ item.lemmaValues.DStichwort }}</a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </ng-container>
          </nz-list-item>
        </nz-list>
      </div>

      <div class="pg-pagination">
        <nz-pagination
          [nzPageIndex]="(currentPage!.number) + 1"
          [nzPageSize]="currentPage.size"
          [nzTotal]="currentPage.totalElements"
          [nzSize]="'small'"
          *ngIf="currentPage && currentPage.totalElements > 0"
          (nzPageIndexChange)="changePage($event)"></nz-pagination>
      </div>
    </nz-content>
  </div>

  <div nz-col nzSpan="15" class="right-side">
    <nz-content>
      <div class="content" *ngIf="selectedLexEntry">
        <nz-page-header [nzGhost]="false">
          <nz-page-header-title>{{ selectedLexEntry.mostRecent.lemmaValues.RStichwort }} ⇔ {{ selectedLexEntry.mostRecent.lemmaValues.DStichwort }}</nz-page-header-title>
          <nz-page-header-extra>
            <button nz-button nzType="primary"  class="button-accept" (click)="acceptSelectedLemma()">Acceptar (enter)</button>
            <button nz-button nzType="primary" nzDanger (click)="rejectSelectedLemma()">Refusar (esc)</button>
            <button nz-button (click)="editSelectedLemma()">Modifitgar (space)</button>
          </nz-page-header-extra>
        </nz-page-header>

        <div class="manual-actions" *ngIf="selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'NOUN'">
          <span style="margin-right: 16px;">Correcturas automaticas:</span>
          <button nz-button (click)="nounChangeOnlyMale()">Mo masculin (1)</button>
        </div>
        <div class="manual-actions" *ngIf="selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'V'">
          <span style="margin-right: 16px;">Correcturas automaticas:</span>
        </div>
        <div class="manual-actions" *ngIf="selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'ADJECTIVE'">
          <span style="margin-right: 16px;">Correcturas automaticas:</span>
          <button nz-button (click)="adjectiveNoAdverbialForm()">Nagina furma adverbiala (1)</button>
        </div>

        <nz-descriptions nzTitle="">
          <nz-descriptions-item nzTitle="category">{{ selectedLexEntry.mostRecent.lemmaValues.categories }} </nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions nzTitle="Deutsch">
          <nz-descriptions-item nzTitle="tudestg"><app-diff [old]="selectedLexEntry.current.lemmaValues.DStichwort" [new]="selectedLexEntry.mostRecent.lemmaValues.DStichwort"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="genus"><app-diff [old]="selectedLexEntry.current.lemmaValues.DGenus" [new]="selectedLexEntry.mostRecent.lemmaValues.DGenus"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Search term"><app-diff [old]="selectedLexEntry.current.lemmaValues.DTags" [new]="selectedLexEntry.mostRecent.lemmaValues.DTags"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Grammatik"><app-diff [old]="selectedLexEntry.current.lemmaValues.DGrammatik" [new]="selectedLexEntry.mostRecent.lemmaValues.DGrammatik"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Semantica"><app-diff [old]="selectedLexEntry.current.lemmaValues.DSubsemantik" [new]="selectedLexEntry.mostRecent.lemmaValues.DSubsemantik"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Link"><app-diff [old]="selectedLexEntry.current.lemmaValues.DRedirect" [new]="selectedLexEntry.mostRecent.lemmaValues.DRedirect"></app-diff></nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions nzTitle="Rumantsch">
          <nz-descriptions-item nzTitle="rumantsch"><app-diff [old]="selectedLexEntry.current.lemmaValues.RStichwort" [new]="selectedLexEntry.mostRecent.lemmaValues.RStichwort"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="genus"><app-diff [old]="selectedLexEntry.current.lemmaValues.RGenus" [new]="selectedLexEntry.mostRecent.lemmaValues.RGenus"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Search term"><app-diff [old]="selectedLexEntry.current.lemmaValues.RTags" [new]="selectedLexEntry.mostRecent.lemmaValues.RTags"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Grammatik"><app-diff [old]="selectedLexEntry.current.lemmaValues.RGrammatik" [new]="selectedLexEntry.mostRecent.lemmaValues.RGrammatik"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Semantica"><app-diff [old]="selectedLexEntry.current.lemmaValues.RSubsemantik" [new]="selectedLexEntry.mostRecent.lemmaValues.RSubsemantik"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Link"><app-diff [old]="selectedLexEntry.current.lemmaValues.RRedirect" [new]="selectedLexEntry.mostRecent.lemmaValues.RRedirect"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tip da flexiun"><app-diff [old]="selectedLexEntry.current.lemmaValues.RInflectionType" [new]="selectedLexEntry.mostRecent.lemmaValues.RInflectionType"></app-diff></nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions nzTitle="Flexiuns da substantivs" *ngIf="selectedLexEntry.current.lemmaValues.RInflectionType === 'NOUN' || selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'NOUN'">
          <nz-descriptions-item nzTitle="m sing"><app-diff [old]="selectedLexEntry.current.lemmaValues.mSingular" [new]="selectedLexEntry.mostRecent.lemmaValues.mSingular"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="f sing"><app-diff [old]="selectedLexEntry.current.lemmaValues.fSingular" [new]="selectedLexEntry.mostRecent.lemmaValues.fSingular"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tip da flexiun"><app-diff [old]="selectedLexEntry.current.lemmaValues.RInflectionSubtype" [new]="selectedLexEntry.mostRecent.lemmaValues.RInflectionSubtype"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="m plural"><app-diff [old]="selectedLexEntry.current.lemmaValues.mPlural" [new]="selectedLexEntry.mostRecent.lemmaValues.mPlural"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="f plural"><app-diff [old]="selectedLexEntry.current.lemmaValues.fPlural" [new]="selectedLexEntry.mostRecent.lemmaValues.fPlural"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="coll"><app-diff [old]="selectedLexEntry.current.lemmaValues.pluralCollectiv" [new]="selectedLexEntry.mostRecent.lemmaValues.pluralCollectiv"></app-diff></nz-descriptions-item>
        </nz-descriptions>

        <nz-descriptions nzTitle="Flexiuns dad adjectivs" *ngIf="selectedLexEntry.current.lemmaValues.RInflectionType === 'ADJECTIVE' || selectedLexEntry.mostRecent.lemmaValues.RInflectionType === 'ADJECTIVE'">
          <nz-descriptions-item nzTitle="m sing"><app-diff [old]="selectedLexEntry.current.lemmaValues.mSingular" [new]="selectedLexEntry.mostRecent.lemmaValues.mSingular"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="f sing"><app-diff [old]="selectedLexEntry.current.lemmaValues.fSingular" [new]="selectedLexEntry.mostRecent.lemmaValues.fSingular"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Tip da flexiun"><app-diff [old]="selectedLexEntry.current.lemmaValues.RInflectionSubtype" [new]="selectedLexEntry.mostRecent.lemmaValues.RInflectionSubtype"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="m plural"><app-diff [old]="selectedLexEntry.current.lemmaValues.mPlural" [new]="selectedLexEntry.mostRecent.lemmaValues.mPlural"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="f plural"><app-diff [old]="selectedLexEntry.current.lemmaValues.fPlural" [new]="selectedLexEntry.mostRecent.lemmaValues.fPlural"></app-diff></nz-descriptions-item>
          <nz-descriptions-item nzTitle="Furma adverbiala"><app-diff [old]="selectedLexEntry.current.lemmaValues.adverbialForm" [new]="selectedLexEntry.mostRecent.lemmaValues.adverbialForm"></app-diff></nz-descriptions-item>
        </nz-descriptions>
      </div>
    </nz-content>
  </div>
</div>
