nz-content {
  background-color: white;
  padding: 24px;
}

.type-filter {
  margin-bottom: 24px;
}

.left-side {
  display: flex;
  flex-direction: column;
}

.right-side {
  min-height: calc(100vh - 64px - 48px - 47px);

  nz-content {
    height: 100%;
  }
}

app-version-history {
  flex-grow: 1;
}

nz-page-header {
  padding-left: 0;
}

nz-list-item.selected {
  background-color: rgb(0, 191, 0);
}

.lemma-list {
  overflow-y: scroll;
  max-height: calc(100vh - 450px);
}

.button-accept {
  border-color: #269a2f;
  background-color: #269a2f;
}

.state-icon {
  margin-left: 8px;
  margin-right: 8px;
  font-size: 18px;

  &.accepted {
    color: green;
  }
  &.rejected {
    color: red;
  }
  &.edited {
    color: blue;
  }
}

.pg-pagination {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
}

.manual-actions {
  display: flex;
  justify-content: flex-end;
  padding-right: 24px;
  align-items: center;
}

.verb-title {
  font-weight: 700;
  font-size: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.verbs-table {
  width: 100%;

  td {
    width: 50%;
  }
}
