<app-pronunciation-characters *ngIf="environmentService.isLadin()"></app-pronunciation-characters>
<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="baseForm">{{ 'edit.adjective.forms.baseForm' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="baseForm" id="baseForm" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RInflectionSubtype" nzRequired>{{ 'edit.adjective.type' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="20">
          <nz-select formControlName="RInflectionSubtype" id="RInflectionSubtype">
            <nz-option nzValue="" nzLabel="none"></nz-option>
            <nz-option [nzValue]="type.id" [nzLabel]="type.name" *ngFor="let type of subTypes" nzCustomContent>
              <b>{{type.name}}</b>: {{type.description}}
            </nz-option>
          </nz-select>
        </div>
        <div nz-col [nzSpan]="4">
          <button nz-button (click)="updateForms()">{{ 'edit.conjugation.generate_button' | translate }}</button>
        </div>
      </div>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="irregular-checkbox">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox formControlName="RRegularInflection">
        <span>Regular generation</span>
      </label>
    </nz-form-control>
  </nz-form-item>

  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mSingular">{{ 'edit.adjective.forms.mSingular' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="mSingular" id="mSingular" [readonly]="isRegular" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mPlural">{{ 'edit.adjective.forms.mPlural' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="mPlural" id="mPlural" [readonly]="isRegular" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fSingular">{{ 'edit.adjective.forms.fSingular' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="fSingular" id="fSingular" [readonly]="isRegular" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fPlural">{{ 'edit.adjective.forms.fPlural' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="fPlural" id="fPlural" [readonly]="isRegular" />
        </nz-form-control>
      </nz-form-item>

    </div>
  </div>

  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="adverbialForm">{{ 'edit.adjective.forms.adverbialForm' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="adverbialForm" id="adverbialForm" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
    </div>
  </div>

</form>

<div *nzModalFooter>
  <div class="footer-buttons">
    <div>
      <button nz-button nzType="default" (click)="cancel()">{{ 'edit.cancel' | translate }}</button>
      <button nz-button nzType="default" (click)="reset()">{{ 'edit.reset' | translate }}</button>
    </div>
    <div>
      <button nz-button nzType="primary" (click)="ok()">{{ 'edit.ok' | translate }}</button>
    </div>
  </div>
</div>
