@if (status === 'TODO') {
  <nz-tag [nzColor]="'blue'">{{ 'data.registration_status.todo' | translate}}</nz-tag>
}
@if (status === 'POSTPONED_REGISTRATION') {
  <nz-tag [nzColor]="'blue'">{{ 'data.registration_status.postponed_registration' | translate}}</nz-tag>
}
@if (status === 'IN_REVIEW') {
  <nz-tag [nzColor]="'orange'">{{ 'data.registration_status.in_review' | translate}}</nz-tag>
}
@if (status === 'POSTPONED_REVIEW') {
  <nz-tag [nzColor]="'orange'">{{ 'data.registration_status.postponed_review' | translate}}</nz-tag>
}
@if (status === 'COMPLETED') {
  <nz-tag [nzColor]="'green'">{{ 'data.registration_status.completed' | translate}}</nz-tag>
}
@if (status === 'REFUSED') {
  <nz-tag [nzColor]="'red'">{{ 'data.registration_status.refused' | translate}}</nz-tag>
}
