<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="9" class="left-side">
    <nz-content class="duration-filter">
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Verification</nz-page-header-title>
        <nz-page-header-subtitle>Review the last changes</nz-page-header-subtitle>
      </nz-page-header>
      <app-duration></app-duration>
    </nz-content>

    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Lemma History</nz-page-header-title>
        <nz-page-header-subtitle>See all the changes to the selected lemma</nz-page-header-subtitle>
      </nz-page-header>
      <app-version-history></app-version-history>
    </nz-content>
  </div>

  <div nz-col nzSpan="15" class="right-side">
    <nz-content>
      <app-lemma-list></app-lemma-list>
    </nz-content>
  </div>
</div>
