<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="9" class="left-side">
    <nz-content class="duration-filter">
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{ 'lexicon.history.title' | translate }}</nz-page-header-title>
        <nz-page-header-subtitle>{{ 'lexicon.history.subtitle' | translate }}</nz-page-header-subtitle>
      </nz-page-header>
      <app-duration
        (dateRangeSelected)="search($event)"
        [(userFilter)]="userFilter"
        ></app-duration>
    </nz-content>

    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{ 'lexicon.lemma_history.title' | translate }}</nz-page-header-title>
        <nz-page-header-subtitle>{{ 'lexicon.lemma_history.subtitle' | translate }}</nz-page-header-subtitle>
      </nz-page-header>
      <app-version-history
      [entry]="selectedEntry"
      ></app-version-history>
    </nz-content>
  </div>

  <div nz-col nzSpan="15" class="right-side">
    <nz-content>
      <app-dictionary-list
        [items]="items"
        [paginationInfo]="paginationInfo"
        (updatePage)="loadPage($event)"
        (showDetailsForEntryId)="showLexEntryDetails($event)"
        (addUserFilter)="userFilter = $event"
        [columns]="columns"
        [filter]="currentEditorQuery"
        ></app-dictionary-list>
    </nz-content>
  </div>
</div>
