<div [class.open]="showDetails" id="search-options">
  <div id="search_panel">
    <form>
      <div class="search_options">
        <div class="search-phrase-container">
          <div class="small"></div>
          <div class="main">
            <label class="control-label">{{ 'search.searchPhrase' | translate }}</label>
            <input type="text" name="searchPhrase" id="searchPhrase" [(ngModel)]="searchCriteria.searchPhrase" (keyup)="emitSearch()">
          </div>
          <div class="small" style="margin-left: 32px;">
            <button (click)="emitSearch()">{{ 'search.search' | translate }}</button>
          </div>
        </div>

        <div class="horizontal-options">
          <label class="radio">
            <input type="radio" name="searchDirection" value="BOTH"
              [(ngModel)]="searchCriteria.searchDirection" (ngModelChange)="emitSearch()">
            <span>{{ 'search.both' | translate }}</span>
            <span class="checkmark"></span>
          </label>

          <label class="radio">
            <input type="radio" name="searchDirection" value="ROMANSH"
              [(ngModel)]="searchCriteria.searchDirection" (ngModelChange)="emitSearch()">
            <span>{{ 'search.romansh' | translate }}</span>
            <span class="checkmark"></span>
          </label>

          <label class="radio">
            <input type="radio" name="searchDirection" value="GERMAN"
              [(ngModel)]="searchCriteria.searchDirection" (ngModelChange)="emitSearch()">
            <span>{{ 'search.german' | translate }}</span>
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="horizontal-options">
          <label class="radio">
            <input type="radio" name="searchMethod" value="NORMAL"
              [(ngModel)]="searchCriteria.searchMethod" (ngModelChange)="emitSearch()">
            <span>{{ 'search.normal' | translate }}</span>
            <span class="checkmark"></span>
          </label>

          <label class="radio">
            <input type="radio" name="searchMethod" value="INTERN"
              [(ngModel)]="searchCriteria.searchMethod" (ngModelChange)="emitSearch()">
            <span>{{ 'search.intern' | translate }}</span>
            <span class="checkmark"></span>
          </label>

          <label class="radio">
            <input type="radio" name="searchMethod" value="PREFIX"
              [(ngModel)]="searchCriteria.searchMethod" (ngModelChange)="emitSearch()">
            <span>{{ 'search.prefix' | translate }}</span>
            <span class="checkmark"></span>
          </label>

          <label class="radio">
            <input type="radio" name="searchMethod" value="SUFFIX"
              [(ngModel)]="searchCriteria.searchMethod" (ngModelChange)="emitSearch()">
            <span>{{ 'search.suffix' | translate }}</span>
            <span class="checkmark"></span>
          </label>

          <label class="radio">
            <input type="radio" name="searchMethod" value="EXACT"
              [(ngModel)]="searchCriteria.searchMethod" (ngModelChange)="emitSearch()">
            <span>{{ 'search.exact' | translate }}</span>
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="horizontal-options">
          <label class="checkbox">
            <input type="checkbox" name="highlight"
              [(ngModel)]="searchCriteria.highlight" (ngModelChange)="emitSearch()">
            <span>{{ 'search.highlight' | translate }}</span>
            <span class="checkmark"></span>
          </label>
        </div>

        <div class="horizontal-options">
          <label class="checkbox">
            <input type="checkbox" name="suggestions"
              [(ngModel)]="searchCriteria.suggestions" (ngModelChange)="emitSearch()">
            <span>{{ 'search.suggestions' | translate }}</span>
            <span class="checkmark"></span>
          </label>
        </div>
      </div>
      <div class="horizontal-options toggle-details" >
        <a (click)="toggleDetails()" [title]="showDetails ? ('search.less_options' | translate) : ('search.more_options' | translate)" [class.active]="showDetails"></a>
      </div>
    </form>
