#ext_links_container {
	margin-left: 20px;
  margin-top: 20px;

  a {
    cursor: pointer;
  }
}

#ext_links_container>a {
	text-decoration: none;
	line-height: 25px;
	display: block;

  &.spellchecker {
    color: rgb(0, 200, 255);
    font-weight: bold;
  }
}

#ext_links_container>a:hover {
	color: rgb(21, 233, 177);
}

#ext_links_container a:before {
	content: "→ ";
	color: #848484;
}

@media (min-width: 768px) {
}

@media (min-width: 1180px) {
  :host {
    padding-top: 450px;
    display: inline-block;
  }
}

.pink {
  color: #FFC0CB;
  font-weight: 900;
}
