<div id="gridWrapper">
  <div id="ext_links_container">
    <a class="gwt-Anchor" href="javascript:;" id="links_ulteriurs">ulteriurs dicziunaris</a><a class="gwt-Anchor"
      href="javascript:;" id="link_glossaris" style="visibility: visible;">glossaris</a>
  </div>
  <div id="mock_middle_container"></div>

  <div id="feed_container" style="visibility: visible;" class="">
    <div class="feed" data-color="#ff605c" style="display: block; background-color: rgb(188, 188, 188);">
      <div class="pubDate"></div>
      <div class="excerpt">«<b>«TiM – Tandem en il museum»</b>
        <i>ils 20 da mars al Di ...»</i>
      </div>
      <div class="feedLinkWrap"><i><a class="readMore" href="http://liarumantscha.ch/?changeLang=#type-misc=nd_id1594"
            target="_blank">legia dapli</a></i></div>
    </div>
    <div class="feed" data-color="#ff605c" style="display: none;">
      <div class="pubDate"></div>
      <div class="excerpt">«<b>Vegni sin in café (virtual)!</b>

        Nus ans inscuntrain v...»</div>
      <div class="feedLinkWrap"><a class="readMore" href="http://liarumantscha.ch/?changeLang=#type-misc=nd_id1612"
          target="_blank">legia dapli</a></div>
    </div>
    <div class="feed" data-color="#ff605c" style="display: none;">
      <div class="pubDate"></div>
      <div class="excerpt">«La Lia Rumantscha tschertga a partir d'immediat u tenor cunv...»</div>
      <div class="feedLinkWrap"><a class="readMore" href="http://liarumantscha.ch/?changeLang=#type-misc=nd_id1549"
          target="_blank">legia dapli</a></div>
    </div>
  </div>
</div>
