<div>
  <app-glossary-links></app-glossary-links>
</div>
<div class="info-box">
  <p>La Lia Rumantscha rinviescha al Dicziunari puter da l'Uniun dals Grischs. A's po consulter quel sur la colliaziun cò suotvart.</p>
  <p>Die Lia Rumantscha verweist auf das Dicziunari puter der Uniun dals Grischs. Es ist über den unten stehenden Link aufrufbar.</p>

  <p>
    <span class="arrow">→</span>
    <a href="https://www.udg.ch/dicziunari?idiom=puter" target="_blank" class="simpleLink"
       [matomoClickCategory]="'LINK'" [matomoClickAction]="'link puter'">https://www.udg.ch</a>
  </p>
</div>
<div>

</div>
