<div class="info-box">
  <p>La Lia Rumantscha rinviescha al Dicziunari puter da Gion Tscharner. A's po consulter quel sur la colliaziun cò suotvart.</p>
  <p>Die Lia Rumantscha verweist auf das Dicziunari puter von Gion Tscharner. Es ist über den unten stehenden Link aufrufbar.</p>

  <p>
    <span class="arrow">→</span>
    <a href="http://www.udg.ch/dicziunari/puter/impressum" target="_blank" class="simpleLink"
       [matomoClickCategory]="'LINK'" [matomoClickAction]="'link puter'">http://www.udg.ch/dicziunari/puter/impressum</a>
  </p>
</div>
