:host {
  margin-bottom: 20px;
  display: inline-block;
}

.title {
  font-weight: normal;
  margin-bottom: 4px;
}

table {
  // border-top: 1px solid #cfcfcf;
}

tr {
  border-bottom: 1px solid #cfcfcf;

  &:last-of-type {
    border-bottom: none;
  }
}

td {
  padding: 0;
}

.pronoun {
  width: 90px;
  margin-right: 8px;
  padding-right: 8px;
  color: grey;
}
