<div class="title"  *ngIf="title">{{ title }}</div>
<table>
  <tr *ngIf="form1">
    <td [innerHtml]="replaceComma(form1)"></td>
  </tr>
  <tr *ngIf="form2">
    <td [innerHtml]="replaceComma(form2)"></td>
  </tr>
  <tr *ngIf="form3">
    <td [innerHtml]="replaceComma(form3)"></td>
  </tr>
  <tr *ngIf="form4">
    <td [innerHtml]="replaceComma(form4)"></td>
  </tr>
  <tr *ngIf="form5">
    <td [innerHtml]="replaceComma(form5)"></td>
  </tr>
  <tr *ngIf="form6">
    <td [innerHtml]="replaceComma(form6)"></td>
  </tr>
</table>
