<h1>Allgemeine Informationen</h1>

<p>
  <strong>
    Diese Online-Version des Vocabulari surmiran basiert auf dem Vocabulari surmiran-tudestg/Wörterbuch
    Deutsch-Surmiran, Version CD, Lizenzausgabe © Lehrmittel Graubünden; technische Bearbeitung der sprachlichen Daten
    © 2004 Lia Rumantscha; Redaktion Faust Signorell et al.
  </strong>
</p>

<p>
  {{ nbrEntries | thousandSeparator }} Einträge.
</p>

<p>
  Der Wortschatz einer Sprache hat keine Grenzen. So lange die Sprache lebt, wächst und entwickelt sich dieser weiter
  und passt sich organisch den Kommunikationsbedürfnissen der Sprachgemeinschaft an. Alle Nutzerinnen und Nutzer sind
  eingeladen, zur Entwicklung des Vocabulari surmiran online beizutragen. Wer ein Wort oder einen Ausdruck nicht
  findet, kann über das entsprechende Formular (es erscheint durch Anklicken des Buttons "Neuer Eintrag") Vorschläge
  machen. Wer einen Fehler entdeckt, kann über ein weiteres Formular (es erscheint durch Anklicken des Buttons
  "Bearbeiten") eine Änderung vorschlagen oder eine Anmerkung versenden.
</p>

<p>
  <b> © Lia Rumantscha, CH-7000 Chur</b>
</p>

<p>
  <b>Konzept und Umsetzung</b>
  <br>
  Lia Rumantscha, Daniel Telli
</p>

<p>
  <b>Aktuelle Redaktion</b>
  <br>
  Reto Capeder
</p>

<p>
  <b>Software</b> (Quellcode: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">Frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni e Martin Cantieni
  <br>Konzept und Quellcode basiert auf <a href="https://spinfo.phil-fak.uni-koeln.de/forschung/abgeschlossene-forschungsprojekte/maalr-a-modern-approach-to-aggregate-lexical-resources" target="_blank">Maalr</a>
</p>

<p>
  <b>Grafisches Design</b>
  <br>
  Remo Caminada, <a href="https://www.remocaminada.com" target="_blank">www.remocaminada.com</a>
</p>
