html {
	position: absolute;
	min-height: 100%;
	width: 100%;
}

body {
	position: absolute;
	padding-top: 0px;
	min-height: 100%;
	width: 100%;
	color: rgb(76, 76, 76);
}

a {
	color: rgb(132, 132, 132);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	outline: 0 !important;
	width: 100%;
	height: 26px;
	padding: 4px 12px;
	margin-left: 0;
	border: 1px solid white;
	font-family: "europa", sans-serif;
	box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
	border: 1px solid rgb(21, 233, 177);
	color: rgb(76, 76, 76);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}


/* SPRINGEN & CO. */
/* GENERAL */
body {
	font-family: "europa", sans-serif;
	font-weight: 400;
	background-color: rgb(245, 245, 245);
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0.07em;
	padding-left: 0;
	padding-right: 0;
}

.container-fluid {
	padding: 0;
}

label,
input,
button,
select,
textarea {
	font-weight: 400;
	margin-bottom: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: transparent;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: transparent;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: transparent;
}

button,
input,
textarea {
	letter-spacing: 0.07em;
}

h1 {
	font-size: 22px;
}

h4 {
  font-size: 13px;
  font-weight: bold;
}

blockquote {
	border: 0 none;
}

blockquote h4 {
	margin-top: 8px;
}

.table tbody tr:hover td,
.table tbody tr:hover th,
.table tbody tr:active td,
.table tbody tr:active th
{
	background: none !important;
}

// form error messages
.help-inline {
	padding: 0;
	color: red !important;
}

.control-group.error>label {
	color: red !important;
}

.control-group.error textarea {
	border: 0 none !important;
	color: rgb(21, 233, 177) !important;
	box-shadow: none !important;
}

.control-group.success>label {
	color: rgb(76, 76, 76) !important;
}

.control-group.success textarea {
	border-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.control-group.success textarea:FOCUS {
	border-color: rgb(21, 233, 177);
}

a.btn.btn-danger {
	background-color: rgb(21, 233, 177) !important;
}

a.btn.btn-danger:hover {
	color: white !important;
}

#search_panel>a {
	margin: 0px auto 6px;
	position: relative;
	display: block;
	text-align: center;
}

a.simpleLink {
	text-decoration: none;
}

a.simpleLink:hover {
	color: rgb(0, 200, 255);
}

// highlight text
.highlighted-text {
  font-weight: bold;
}
