html {
	position: absolute;
	min-height: 100%;
	width: 100%;
}

body {
	position: absolute;
	padding-top: 0px;
	min-height: 100%;
	width: 100%;
	color: rgb(76, 76, 76);
}

a {
	color: rgb(132, 132, 132);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	outline: 0 !important;
	width: 100%;
	height: 26px;
	padding: 4px 12px;
	margin-left: 0;
	border: 1px solid white;
	font-family: "europa", sans-serif;
	box-sizing: border-box;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
textarea:focus {
	border: 1px solid rgb(21, 233, 177);
	color: rgb(76, 76, 76);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.unverified {
	color: red;
	font-style: italic;
}

@media print {
	.dont_print {
		display: none;
	}
}

.gwt-SuggestBox {
	padding: 2px;
}

.gwt-SuggestBoxPopup {
	margin-right: 3px;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px 6px;
	color: #424242;
	cursor: default;
}

.gwt-SuggestBoxPopup .item-selected {
	background: #b7d6f6;
}

.gwt-SuggestBoxPopup .suggestPopupContent {
	background: white;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.resultlist tr .btn {
	visibility: hidden;
}

.resultlist tr:hover .btn {
	visibility: visible;
}

/* SPRINGEN & CO. */
/* GENERAL */
body {
	font-family: "europa", sans-serif;
	font-weight: 400;
	background-color: rgb(245, 245, 245);
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0.07em;
	padding-left: 0;
	padding-right: 0;
}

.container-fluid {
	padding: 0;
}

label,
input,
button,
select,
textarea {
	font-weight: 400;
	margin-bottom: 0;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: transparent;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	color: transparent;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: transparent;
}

button,
input,
textarea {
	letter-spacing: 0.07em;
}

h1 {
	font-size: 22px;
}


/* CONTENT */
#content {
	min-height: 100%;
	width: 100%;
	position: absolute;
	/*   	display: flex; */
}

#content.container {
	width: 100%;
}

#content a:hover {
	/* color: rgb(21, 233, 177); */
	color: rgb(0, 200, 255);
	text-decoration: none;
	background-color: transparent;
}



#info-box {
	/* 	position: relative; */ /* 	margin: 125px auto; */
	/*  width: 500px; */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 206px;
	/* with heading: */ /*	height: 306px;*/
	margin-top: -11.7em;
	margin-left: -20.7em;
}

#info-box p {
	margin: 0 0 10px;
	letter-spacing: 1px;
	line-height: 20px;
}

.well {
	background-color: rgb(227, 227, 227);
	border: 0 none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	border-radius: 12px;
	float: none;
	margin: 0 auto;
}

#langauges,#login-widget {
	/* 	text-transform: lowercase; */
	text-transform: uppercase;
}

/* SEARCH */
.search_container {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 100%;
}

#search-widget {

}

#search-widget #simple_search_input {
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	border-radius: 24px;
	width: 284px;
	height: 24px;
	padding: 4px 12px;
	margin-left: -8px;
}

#search-plus-icon {
	display: none;
	text-align: center;
	margin: 0 auto;
	width: 56px;
	font-size: 56px;
	line-height: 56px;
}

#search-plus-icon a {
	color: rgb(132, 132, 132);
}

#search-plus-icon a:hover {
	color: rgb(132, 132, 132);
	text-decoration: none;
}

#search-widget form {
	margin-bottom: 0;
}

#search-widget #Submit {
	display: block;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0 none;
	background-color: transparent;
	color: rgb(132, 132, 132);
	text-transform: lowercase;
	padding: 0;
	font-family: "europa", sans-serif;
	font-size: 13px;
}


/* BOTTOM */
#navi_bottom {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	min-height: 36px;
	background-color: rgb(236, 236, 236);
	z-index: 1000;
}

#navi_bottom a {
	color: rgb(126, 126, 126);
	display: inline-block;
}

#navi_bottom a:hover {
	color: black;
	text-decoration: none;
}

#navi_bottom ul {
	/* float: left; */
	list-style: none;
	margin: 0;
	padding: 0;
}

#navi_bottom ul li {
	display: inline;
}

#navi_bottom #navi_bottom_menu {
	padding-top: 10px;
	margin: 0 24px;
}

#navi_bottom #navi_bottom_menu li {
	margin-right: 18px;
}

#navi_bottom #navi_bottom_social {
	display: none;
	position: relative;
	right: 12px;
	float: right;
	margin: 0;
	padding-top: 10px;
}

#navi_bottom #navi_bottom_social li {
	margin-right: 10px;
}

#navi_bottom #navi_bottom_social img {
	width: 28px;
}

#navi_bottom #navi_bottom_social .count {
	position: relative;
	top: 4px;
	margin-left: 8px;
}

#navi_bottom #abc_list {
	display: none;
}

/* SEARCH RESULTS */
#searchphrase+span {
	color: white;
}



#content.content .row-fluid .span8 {
	width: 662px;
	float: none;
	margin: 0 auto 112px;
}

#content.content .container-fluid noscript+.row-fluid .span8 {
	margin: 0 auto;
}



#content.content .row-fluid .span8 .gwt-HTML span {
	font-size: 13px !important;
	font-weight: 400 !important;
	display: block;
	width: 100%;
}

#content.content .row-fluid .span8 .gwt-HTML span:last-child {
	color: rgb(163, 163, 163);
	margin-bottom: 24px;
}

#content.content .row-fluid .span8 table {
	width: 100%;
}

#content.content .row-fluid .span8 th {
	padding: 0;
}

#content.content .row-fluid .span8 table.resultlist {
	padding: 0 20px;
}

#content.content .row-fluid .span8 table.resultlist a {
	color: rgb(163, 163, 163);
}

#content.content table.resultlist tr.GKHQX3BBBC,#content.content table.resultlist tr.GKHQX3BBBC td,#content.content table.resultlist tr.GKHQX3BBBC td div
	{
	background-color: transparent;
}

#content.content table.resultlist button.btn-mini {
	border: 0 none;
	color: white;
	background: none;
	background-image: none;
	background-color: rgb(0, 200, 255);
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	font-size: 10px !important;
	letter-spacing: 0.2em;
	text-transform: lowercase;
}

#content.content table.resultlist button.btn-mini i {
	display: none;
}

#content.content .row-fluid .span8 td {
	padding: 0;
	border: 0 none;
	line-height: 22px;
}

#content.content .row-fluid .span8 .container-fluid {
	padding: 0;
}



/* INFORMATION */
.information_container {
	width: 880px;
	max-width: 70%;
	margin-top: 102px;
	margin-bottom: 92px;
	line-height: 20px;
}

.information_container h1 {
	margin-bottom: 24px;
}

.information_container h2 {
	letter-spacing: 0.02em;
}

/* BROWSE */
.browse_container {
	margin-top: 24px;
	margin-bottom: 112px;
	max-width: 70%;
	font-size: 10px;
}

.browse_container .alphatable {
	overflow: hidden;
}

.browse_container .span12 {
	width: auto;
}

.browse_container .item {
	float: left;
	width: 138px;
	padding-right: 12px;
	margin-bottom: 4px;
}

.browse_container>.span12 {
	margin-top: 24px;
	margin-left: 24px;
}

.browse_container .span12 a {
	color: rgb(132, 132, 132);
}

.browse_container .well {

}

/* PLUGIN */
.container_plugin {
	max-width: 70%;
	margin-top: 102px;
	margin-bottom: 112px;
	color: rgb(51, 51, 51);
}

.container_plugin h2 {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	margin-bottom: 32px;
}

.container_plugin h3 {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	margin-bottom: 16px;
	font-weight: 400;
}

.container_plugin img {
	margin-bottom: 32px;
}

.container_plugin .section {
	margin-bottom: 24px;
}

tr.search-result td:nth-child(1) {
  width:0%;
}

tr.search-result td:nth-child(2) {
  width: 46%;
}

tr.search-result td:nth-child(3) {
  /* width: 10%; */
}

tr.search-result td:nth-child(4) {
  /* width: 10%; */
}

tr.search-result td:nth-child(5)
{
  width:43%;
}

tr.search-result td:nth-child(6) {
  width: 0%;
}

/* MODAL */
.modal-backdrop {
	background-color: rgb(245, 245, 245);
}

.modal {
	position: absolute;
	width: 600px !important;
	height: auto !important;
	top: 112px !important;
	left: 50% !important;
	right: auto !important;
	//bottom: !important;
	padding: 32px;
	margin-top: 0 !important;
	margin-left: -332px !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	border: 0;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	background: rgb(227, 227, 227);
}

.modal.vertical-center {
	top: 50% !important;
	margin-top: -112px !important;
	height: 162px !important;
}

.modal-body {
	position: relative;
	padding: 0;
	margin-bottom: 12px;
}

.modal-body ul.ext_links_dicts {
	margin-left: 0;
}

.modal-body textarea {
	height: auto;
}

.modal-body input[type="text"]:focus,
.modal-body input[type="email"]:focus,
.modal-body textarea:focus {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.modal-body .lemma-editor>table {
	width: 100% !important;
}

.modal-body .lemma-editor>table>tbody>tr>td:first-child input {
	width: 90% !important;
}

.modal a.btn {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border: none;
	background: rgba(255, 255, 255, 0.3);
	text-transform: lowercase;
}

.modal a.btn:hover {
	color: rgb(0, 200, 255);
}

.modal a.btn.btn-primary {
	background: rgb(0, 200, 255);
	color: white;
}

.modal-body table {
	width: 600px;
}

.modal table,.modal tr,.modal td {
	padding: 0 !important;
	margin: 0 !important;
}

.modal-body table .control-group {
	padding: 0;
	margin-bottom: 12px;
}

.modal-body table .form-horizontal .control-group .control-label {
	padding: 0;
	margin: 0;
	width: 90px;
	text-align: left;
	border: 0 none;
}

.modal-body table .form-horizontal .control-group .controls {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

.modal-body table .form-horizontal .control-group .controls .gwt-TextBox
	{
	box-sizing: border-box;
	width: 100%;
	font-size: 13px;
	border: 1px solid white;
}

.modal-body table .form-horizontal .control-group .controls .gwt-TextBox:focus
	{
	border: 1px solid rgb(21, 233, 177);
}

.modal .page-header {
	padding: 0;
	margin: 0;
	border: none;
}

.modal .page-header h1,.modal h3 {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.modal .page-header h1 small {
	display: none;
	font-size: 13px;
	line-height: 18px;
	text-transform: none;
	letter-spacing: 0.1em;
	color: black;
}

.modal .modal-footer {
	padding: 0;
	margin: 0;
	background: rgb(227, 227, 227);
	border-top: none;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.modal .gwt-HTML  table td {
	font-size: 13px;
	line-height: 18px;
}

.modal td[width="25%"] {
	padding: 0 10px 0 0 !important;
}

.container_entry {
	width: 522px;
	line-height: 20px;
	margin-top: 68px;
}

.container_entry ul {
	list-style-type: none;
	margin: 6px 0 0 18px;
}

.container_entry a {
	color: rgb(76, 76, 76);
}

blockquote {
	border: 0 none;
}

blockquote h4 {
	margin-top: 8px;
}



.verb_overlay {
	background-color: rgb(0, 200, 255);
	color: white;
	text-decoration: none;
	padding: 0 5px 0 6px;
	margin-right: 6px;
  cursor: pointer;
}

.table tbody tr:hover td,.table tbody tr:hover th,.table tbody tr:active td,.table tbody tr:active th
	{
	background: none !important;
}

.help-inline {
	padding: 0;
	color: red !important;
}

.control-group.error>label {
	color: red !important;
}

.control-group.error textarea {
	border: 0 none !important;
	color: rgb(21, 233, 177) !important;
	box-shadow: none !important;
}

.control-group.success>label {
	color: rgb(76, 76, 76) !important;
}

.control-group.success textarea {
	/*border-color: rgb(21, 233, 177);*/
	border-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.control-group.success textarea:FOCUS {
	border-color: rgb(21, 233, 177);
}

a.btn.btn-danger {
	background-color: rgb(21, 233, 177) !important;
}

a.btn.btn-danger:hover {
	color: white !important;
}

#showErrorDialogMaalr {
	background-color: rgb(204, 204, 204);
}

#showErrorDialogMaalr .modal-footer {
	background-color: rgb(204, 204, 204);
}

#showErrorDialogMaalr .modal-header {
	padding: 0;
	border-bottom: 0 none;
}

#showErrorDialogMaalr .modal-header .close {
	position: relative;
	top: -3px;
	right: -3px;
}

/*DICTIONARY LINK WIDGET*/
#dictionary_links {
	margin: 0px auto;
	position: relative;
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 6px;
}

.ext_links_dicts {
	list-style: none
}

.ext_links_dicts li:before {
	content: "→";
	color: #848484;
}

.ext_links_dicts li>a {
	padding: 0px 0px 0px 3px;
	font-size: 13px;
}

.ext_links_dicts li>a:hover {
	color: rgb(0, 200, 255);
	text-decoration: none;
}

#gridWrapper {
	width: 100%;
	display: flex;
	position: absolute;
	top: 43.5%;
	/* 	margin-top: -25px; */
	justify-content: space-between;
}


#moc_middle_container {
	width: 70%;
	text-align: center;
	display: none;
}

#search_panel>a {
	margin: 0px auto 6px;
	position: relative;
	display: block;
	vertical-align: middle;
	text-align: center;
}

a.simpleLink {
	text-decoration: none;
}

a.simpleLink:hover {
	color: rgb(0, 200, 255);
}

.quotation {
	color: #333;
	/*     background-color: #ffd700; */
	background-color: #FFF;
	border-radius: 5px;
	padding: 0 4px 0 4px;
	font-style: italic;
}

.quotations {
	margin-top: 5px;
}

.quotationWrapper {
	margin-top: 15px;
	min-height: 150px;
}

.noQuotation {
	text-align: center;
	padding-top: 10%;
}

/* MOBILE */
@media all and (max-width: 767px) {

	#info-box {
		/* 		margin: 125px auto; */ /*  	margin-top: -13em; */
		/* 		margin-left: -13em; */
		width: 300px;
		height: 246px;
		margin: 25px auto 142px;
		position: inherit;
	}

	.ext_links_mobile {
		margin: 0px auto 6px;
		position: relative;
		display: block;
		vertical-align: middle;
		text-align: center;
	}

	#content .container-fluid {
		clear: both;
		margin-top: 0px;
		min-height: 0px;
	}



	#content.content .row-fluid .span8 {
		width: 84%;
		margin: 0 auto;
		/* 		margin-bottom: 142px; */
	}
	#navi_bottom {
		/* 		position: absolute; */
		padding-bottom: 6px;
	}
	#navi_bottom #navi_bottom_menu {
		margin: 0;
		float: none;
		text-align: center;
	}

	#navi_bottom #navi_bottom_menu
		li:nth-child(5){
		display:none;
	}

	#navi_bottom #navi_bottom_menu a {
		line-height: 26px;
	}

	#navi_bottom #navi_bottom_social {
		right: auto;
		float: none;
		text-align: center;
		padding-bottom: 10px;
	}

	#navi_bottom #navi_bottom_menu li {
		margin-bottom: 6px;
	}

	.pagination {
		font-size: 10px;
	}

	.pagination a {
		padding: 0 4px;
	}

	.verb_overlay {
		margin-left: 0;
		padding: 0 2px;
	}

	#searchphrase+span {
		float: right;
	}

	.information_container,.container_plugin {
		margin-top: 112px;
		width: 80%;
		margin-bottom: 146px;
	}

	#content.content .row-fluid .span {
		margin-bottom: 222px;
	}

	.modal {
		position: absolute !important;
		top: 112px !important;
		left: 22px !important;
		right: 22px !important;
		bottom: auto !important;
		width: auto !important;
		margin: 0 !important;
		padding: 12px;
		-webkit-overflow-scrolling: touch;
	}

	.modal table,.modal tr,.modal td,.modal tbody {
		display: block;
	}

	.modal .control-label {
		float: none;
		display: block;
		margin-bottom: 6px !important;
	}

	.modal tbody,.modal table {
		width: 100% !important;
	}

	.modal-footer .btn {
		display: block;
	}

	.modal-footer .btn+.btn {
		margin-left: 0;
	}

	.modal-body table .form-horizontal .control-group .controls,.modal-body table .form-horizontal .control-group .controls .gwt-TextBox
		{
		width: 100%;
		max-width: none !important;
	}

	.modal input[type="text"],
  .modal input[type="email"] {
		box-sizing: border-box !important;
		height: 32px;
		margin-bottom: 0;
	}

	.modal input[type="password"] {
		box-sizing: border-box !important;
		height: 32px;
		margin-bottom: 0;
	}

	.modal textarea {
		box-sizing: border-box !important;
		height: 64px;
	}

	.modal a.btn {
		margin-bottom: 8px !important;
	}

	.modal td[width="25%"] {
		padding: 0;
		width: 100% !important;
	}

	.modal-body .lemma-editor>table>tbody>tr>td:first-child input {
		width: 100% !important;
	}



	.container_entry {
		width: 90%;
	}
}
@media all and (width: 768px) {

	#content.content .row-fluid .span8 {
		width: 662px;
		float: none;
		margin: 0 auto;
	}
}
