html {
	position: absolute;
	min-height: 100%;
	width: 100%;
}

body {
	position: absolute;
	padding-top: 0px;
	min-height: 100%;
	width: 100%;
	color: rgb(76, 76, 76);
}

.navbar-fixed-top,.navbar-fixed-bottom {
	position: static;
	right: auto;
	left: auto;
}

.page-header {
	border: 0 none;
}

a {
	color: rgb(132, 132, 132);
}

input[type="text"],input[type="password"],textarea {
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	border-radius: 0;
	outline: 0 !important;
	width: 100%;
	height: 26px;
	padding: 4px 12px;
	margin-left: 0;
	border: 1px solid white;
	font-family: "europa", sans-serif;
	box-sizing: border-box;
}

input[type="text"]:focus,input[type="password"]:focus,textarea:focus {
	border: 1px solid rgb(21, 233, 177);
	color: rgb(76, 76, 76);
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

/* Alphabetical List */
.alpha_navi {
	width: 92%;
	margin: 0 auto;
	font-size: 8px;
	margin-top: 132px;
}

.alpha_navi.chars,.alpha_navi.letters {
	overflow: hidden;
	text-align: center;
}

.alpha_navi.chars .item,.alpha_navi.letters .item {
	display: inline;
	width: 22px;
	text-align: center;
}

.alpha_navi+.alpha_navi {
	margin-top: 0;
}

.alpha_sub_navi {
	overflow: hidden;
	width: 100%;
}

.alpha_navi td {
	width: 15px;
	text-align: center;
	padding-top: 5px;
}

/* Alphabetical List */
.alphatable table {
	border-spacing: 0px;
	margin: 0px auto;
}

.alphatable td {
	border: 0px;
	width: 200px;
	padding: 5px;
}

.unverified {
	color: red;
	font-style: italic;
}

@media print {
	.dont_print {
		display: none;
	}
}

.gwt-SuggestBox {
	padding: 2px;
}

.gwt-SuggestBoxPopup {
	margin-right: 3px;
}

.gwt-SuggestBoxPopup .item {
	padding: 2px 6px;
	color: #424242;
	cursor: default;
}

.gwt-SuggestBoxPopup .item-selected {
	background: #b7d6f6;
}

.gwt-SuggestBoxPopup .suggestPopupContent {
	background: white;
}

.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
	width: 8px;
	height: 5px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
	width: 5px;
	height: 8px;
	zoom: 1;
}

.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
	width: 8px;
	height: 8px;
	zoom: 1;
}

.resultlist tr .btn {
	visibility: hidden;
}

.resultlist tr:hover .btn {
	visibility: visible;
}

.maalr_overlay {
	text-decoration: underline;
	color: #002994;
	cursor: pointer;
}

/* SPRINGEN & CO. */
/* GENERAL */
body {
	font-family: "europa", sans-serif;
	font-weight: 400;
	background-color: rgb(245, 245, 245);
	font-size: 13px;
	line-height: 13px;
	letter-spacing: 0.07em;
	padding-left: 0;
	padding-right: 0;
}

.container-fluid {
	padding: 0;
}

label,input,button,select,textarea {
	font-weight: 400;
	margin-bottom: 0;
}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
	color: transparent;
}

input:-moz-placeholder,textarea:-moz-placeholder { /* Firefox 18- */
	color: transparent;
}

input::-moz-placeholder,textarea::-moz-placeholder { /* Firefox 19+ */
	color: transparent;
}

input:-ms-input-placeholder,textarea:-ms-input-placeholder {
	color: transparent;
}

button,input,textarea {
	letter-spacing: 0.07em;
}

h1 {
	font-size: 22px;
}

/*
input, textarea {
	background-image: url(/assets/img/cursor.gif);
	background-repeat: no-repeat;
	background-position: 1px 2px;
}

input:focus, textarea:focus {
	background-image: none;
}
*/

/* NEW (ADDITIONAL) NAVI HEAD */
#dic_navi_head {
	position: absolute;
	width: 100%;
	height: 28px;
	z-index: 1000;
	top: 48px;
	background-color: rgb(188, 188, 188);
	background-image: linear-gradient(bottom, rgb(167, 167, 167) 0%,
		rgb(188, 188, 188) 100%);
	background-image: -o-linear-gradient(bottom, rgb(167, 167, 167) 0%,
		rgb(188, 188, 188) 100%);
	background-image: -moz-linear-gradient(bottom, rgb(167, 167, 167) 0%,
		rgb(188, 188, 188) 100%);
	background-image: -webkit-linear-gradient(bottom, rgb(167, 167, 167) 0%,
		rgb(188, 188, 188) 100%);
	background-image: -ms-linear-gradient(bottom, rgb(167, 167, 167) 0%,
		rgb(188, 188, 188) 100%);
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(167,
		167, 167)), color-stop(1, rgb(188, 188, 188)));
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

#dic_navi_head div {
	-webkit-flex: 1; /* Safari 6.1+ */
	-ms-flex: 1; /* IE 10 */
	flex: 1;
}

#sm_brand_title {
	border-right: 1px solid #FFFFFF;
}

#st_brand_title {
	border-right: 1px solid #FFFFFF;
}

#rm_brand_title {
	border-right: 1px solid #FFFFFF;
}

#sm_brand_title:hover {
	background-color: rgb(21, 233, 177);
}

#st_brand_title:hover {
	background-color: rgb(21, 233, 177);
}

#rm_brand_title:hover {
	background-color: rgb(21, 233, 177);
}

#sr_brand_title {
	border-right: 1px solid #FFFFFF;
}

#sr_brand_title:hover {
	border-right: 1px solid #fff;
	background-color: rgb(21, 233, 177);
	/*background-color: #999999;*/
}

#vl_brand_title {
	/* 	border-right: 1px solid #FFFFFF; */

}

#vl_brand_title:hover {
	/*background-color: #999999;*/
	background-color: rgb(21, 233, 177);
}

#pt_brand_title {
	border-right: 1px solid #FFFFFF;
}

#pt_brand_title:hover {
	/*background-color: #999999;*/
	background-color: rgb(21, 233, 177);
}

.dict_navi_item {
	width: 33.33%;
	text-align: center;
	padding-top: 8px;
	font-size: 10.6px;
}

.selected {
	background-color: rgb(21, 233, 177);
}

.dict_navi_item a {
	text-decoration: none;
	color: #FFFFFF;
	letter-spacing: 1.2px;
}

/* CONTENT */
#content {
	min-height: 100%;
	width: 100%;
	position: absolute;
	/*   	display: flex; */
}

#content.container {
	width: 100%;
}

#content a:hover {
	/* color: rgb(21, 233, 177); */
	color: rgb(0, 200, 255);
	text-decoration: none;
	background-color: transparent;
}

#content.search-centered .container-fluid:last-child .span4 {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -271px;
	margin-top: -54px;
}

#info-box {
	/* 	position: relative; */ /* 	margin: 125px auto; */
	/*  width: 500px; */
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 206px;
	/* with heading: */ /*	height: 306px;*/
	margin-top: -11.7em;
	margin-left: -20.7em;
}

#info-box p {
	margin: 0 0 10px;
	letter-spacing: 1px;
	line-height: 20px;
}

.well {
	background-color: rgb(227, 227, 227);
	border: 0 none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	-ms-border-radius: 12px;
	border-radius: 12px;
	float: none;
	margin: 0 auto;
}

#langauges,#login-widget {
	/* 	text-transform: lowercase; */
	text-transform: uppercase;
}

/* SEARCH */
.search_container {
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 100%;
}

#search-widget {

}

#search-widget #simple_search_input {
	-webkit-border-radius: 24px;
	-moz-border-radius: 24px;
	-ms-border-radius: 24px;
	border-radius: 24px;
	width: 284px;
	height: 24px;
	padding: 4px 12px;
	margin-left: -8px;
}

#search-plus-icon {
	display: none;
	text-align: center;
	margin: 0 auto;
	width: 56px;
	font-size: 56px;
	line-height: 56px;
}

#search-plus-icon a {
	color: rgb(132, 132, 132);
}

#search-plus-icon a:hover {
	color: rgb(132, 132, 132);
	text-decoration: none;
}

#search-widget form {
	margin-bottom: 0;
}

#search-widget #Submit {
	display: block;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	border: 0 none;
	background-color: transparent;
	color: rgb(132, 132, 132);
	text-transform: lowercase;
	padding: 0;
	font-family: "europa", sans-serif;
	font-size: 13px;
}


/* BOTTOM */
#navi_bottom {
	position: fixed;
	bottom: 0px;
	left: 0px;
	right: 0px;
	min-height: 36px;
	background-color: rgb(236, 236, 236);
	z-index: 1000;
}

#navi_bottom a {
	color: rgb(126, 126, 126);
	display: inline-block;
}

#navi_bottom a:hover {
	color: black;
	text-decoration: none;
}

#navi_bottom ul {
	/* float: left; */
	list-style: none;
	margin: 0;
	padding: 0;
}

#navi_bottom ul li {
	display: inline;
}

#navi_bottom #navi_bottom_menu {
	padding-top: 10px;
	margin: 0 24px;
}

#navi_bottom #navi_bottom_menu li {
	margin-right: 18px;
}

#navi_bottom #navi_bottom_social {
	display: none;
	position: relative;
	right: 12px;
	float: right;
	margin: 0;
	padding-top: 10px;
}

#navi_bottom #navi_bottom_social li {
	margin-right: 10px;
}

#navi_bottom #navi_bottom_social img {
	width: 28px;
}

#navi_bottom #navi_bottom_social .count {
	position: relative;
	top: 4px;
	margin-left: 8px;
}

#navi_bottom #abc_list {
	display: none;
}

/* SEARCH RESULTS */
#searchphrase+span {
	color: white;
}

#searchoptions fieldset .control-group:nth-child(4) {
  margin-bottom:8px;
}

#searchoptions label {
	margin-top: 4px;
	line-height: 16px;
	cursor: pointer;
}

#searchoptions label.deafualt-config-maalr {
	margin-bottom: 0;
}

#searchoptions label.gwt-checkbox-maalr input,#searchoptions label.default-config-maalr input
	{
	margin-top: -4px;
}

#searchoptions label input {
	margin: 0 6px 0 0;
}

#searchoptions label span {
	margin-top: -2px;
}

#content.content .row-fluid .span4 {
	float: none;
	margin: 0 auto;
	width: 542px;
}

#content.content .row-fluid .span4 .well form {
	margin-bottom: 6px;
}

#content.content .row-fluid .span8 {
	width: 662px;
	float: none;
	margin: 0 auto 112px;
}

#content.content .container-fluid noscript+.row-fluid .span8 {
	margin: 0 auto;
}

#content.content .row-fluid .span4 .well {
	margin-bottom: 42px;
	position: relative;
	background-color: transparent;
}

#content.content .row-fluid .span4 label.control-label {
	display: none;
}

#content.content .control-group a.btn {
	text-transform: lowercase;
	color: rgb(132, 132, 132);
	position: absolute;
	top: 26px;
	right: 42px;
	display: block;
	width: 37px;
	height: 18px;
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	text-shadow: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	background-image: none;
	border: 0 none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#content.content .control-group a.btn:hover {
	color: rgb(21, 233, 177);
}

#content.content .control-group+.control-group,#content.content .control-group+.control-group+.control-group
	{
	/*	display: none; */

}

#content.content .row-fluid .span4 .well form>a {
	position: relative;
	top: 0px;
	display: block;
	margin: 0 auto;
	width: 42px;
	height: 42px;
	color: transparent;
	font-weight: 100;
	padding: 0;
	text-shadow: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	background-image: url(/assets/img/more_inactive.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 22px 22px;
	border: 0 none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: none;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

#content.content .row-fluid .span4.open .well form>a {
	background-image: url(/assets/img/less_inactive.png);
}

#content.content .row-fluid .span4 .well form>a:hover {
	background-image: url(/assets/img/more_active.png);
}

#content.content .row-fluid .span4.open .well form>a:hover {
	background-image: url(/assets/img/less_active.png);
}

#content.content .row-fluid .span8 .gwt-HTML span {
	font-size: 13px !important;
	font-weight: 400 !important;
	display: block;
	width: 100%;
}

#content.content .row-fluid .span8 .gwt-HTML span:last-child {
	color: rgb(163, 163, 163);
	margin-bottom: 24px;
}

#searchphrase {
	font-weight: bold;
}

#content.content .row-fluid .span8 table {
	width: 100%;
}

#content.content .row-fluid .span8 .maalr_result_title {
	font-size: 13px !important;
	line-height: 22px !important;
	font-weight: 400 !important;
	color: rgb(132, 132, 132) !important;
}

#content.content .row-fluid .span8 th {
	padding: 0;
}

#content.content .row-fluid .span8 table.resultlist {
	padding: 0 20px;
}

#content.content .row-fluid .span8 table.resultlist a {
	color: rgb(163, 163, 163);
}

#content.content table.resultlist tr.GKHQX3BBBC,#content.content table.resultlist tr.GKHQX3BBBC td,#content.content table.resultlist tr.GKHQX3BBBC td div
	{
	background-color: transparent;
}

#content.content table.resultlist button.btn-mini {
	border: 0 none;
	color: white;
	background: none;
	background-image: none;
	background-color: rgb(0, 200, 255);
	box-shadow: none;
	text-shadow: none;
	border-radius: 0;
	font-size: 10px !important;
	letter-spacing: 0.2em;
	text-transform: lowercase;
}

#content.content table.resultlist button.btn-mini i {
	display: none;
}

#content.content .row-fluid .span8 td {
	padding: 0;
	border: 0 none;
	line-height: 22px;
}

#content.content .row-fluid .span8 .container-fluid {
	padding: 0;
}

.maalr_result_title {
	color: rgb(163, 163, 163);
}

.span8 .well .span12 a.btn {
	text-transform: lowercase;
	color: rgb(132, 132, 132);
	height: 18px;
	padding: 0;
	margin: 0;
	font-size: 13px;
	line-height: 18px;
	text-align: left;
	text-shadow: none;
	vertical-align: middle;
	cursor: pointer;
	background-color: transparent;
	background-image: none;
	border: 0 none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	filter: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	background-color: rgb(21, 233, 177);
	color: white;
	padding: 2px 4px;
	margin-top: 12px;
}

.span8 .well .span12 a.btn:hover {
	color: white !important;
}

.span8 .well .span12 a.btn i {
	display: none;
}

/* INFORMATION */
.information_container {
	width: 880px;
	max-width: 70%;
	margin-top: 102px;
	margin-bottom: 92px;
	line-height: 20px;
}

.information_container h1 {
	margin-bottom: 24px;
}

.information_container h2 {
	letter-spacing: 0.02em;
}

/* BROWSE */
.browse_container {
	margin-top: 24px;
	margin-bottom: 112px;
	max-width: 70%;
	font-size: 10px;
}

.browse_container .alphatable {
	overflow: hidden;
}

.browse_container .span12 {
	width: auto;
}

.browse_container .item {
	float: left;
	width: 138px;
	padding-right: 12px;
	margin-bottom: 4px;
}

.browse_container>.span12 {
	margin-top: 24px;
	margin-left: 24px;
}

.browse_container .span12 a {
	color: rgb(132, 132, 132);
}

.browse_container .well {

}

/* PLUGIN */
.container_plugin {
	max-width: 70%;
	margin-top: 102px;
	margin-bottom: 112px;
	color: rgb(51, 51, 51);
}

.container_plugin h2 {
	font-size: 13px;
	line-height: 18px;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	margin-bottom: 32px;
}

.container_plugin h3 {
	font-size: 13px;
	line-height: 18px;
	letter-spacing: 0.1em;
	margin-bottom: 16px;
	font-weight: 400;
}

.container_plugin img {
	margin-bottom: 32px;
}

.container_plugin .section {
	margin-bottom: 24px;
}

tr.GKHQX3BBKB td:nth-child(1) {
  width:0%;
}

tr.GKHQX3BBKB td:nth-child(2) {
  width: 46%;
}

tr.GKHQX3BBKB td:nth-child(3) {
  /* width: 10%; */
}

tr.GKHQX3BBKB td:nth-child(4) {
  /* width: 10%; */
}

tr.GKHQX3BBKB td:nth-child(5)
{
  width:43%;
}

tr.GKHQX3BBKB td:nth-child(6) {
  width: 0%;
}

/* RADIO BUTTONS */
#searchoptions .control-group {
	text-align: center;
	margin-left: -12px;
}

#searchoptions .control-group:first-child {
	text-align: left;
	margin-left: 0;
}

#searchoptions .control-group:nth-child(2) {
  margin-top: 24px;
}

#searchoptions .control-group table {
	position: relative;
	margin: 0 auto;
	left: -8px;
}

#searchoptions .control-group tr {
	display: inline-block;
}

#searchoptions .control-group tr td {
	display: inline-block;
	padding: 0 6px;
}

#searchoptions .control-group span {
	color: rgb(132, 132, 132);
	cursor: pointer;
}

#searchoptions .control-group span:hover {
	/* color: rgb(0, 200, 255); */
}

#searchoptions input#searchPhrase {
	border-radius: 24px;
	width: 312px;
	height: 32px;
	margin: 0 auto;
	display: block;
}

#searchoptions .styledRadio,#searchoptions .styledCheckbox {
	width: 16px;
	height: 16px;
	float: left;
	margin-right: 4px;
	margin-top: -1px;
	background-size: 16px 32px;
}

#searchoptions .styledRadio {
	background-image:
		url(/assets/img/radiobutton_sprite.png);
	background-position: 0px 0px;
}

#searchoptions .styledCheckbox {
	background-image: url(/assets/img/checkbox_sprite.png);
	background-position: 0px 0px;
}

#searchoptions .styledRadio.checked {
	background-position: 0px 16px;
}

#searchoptions .styledCheckbox.checked {
	background-position: 0px 16px;
}

#searchoptions .styledRadio.checked+input+span,#searchoptions .styledCheckbox.checked+input+span
	{
	color: rgb(0, 200, 255);
}

/* MODAL */
.modal-backdrop {
	background-color: rgb(245, 245, 245);
}

.modal {
	position: absolute;
	width: 600px !important;
	height: auto !important;
	top: 112px !important;
	left: 50% !important;
	right: auto !important;
	//bottom: !important;
	padding: 32px;
	margin-top: 0 !important;
	margin-left: -332px !important;
	margin-right: 0 !important;
	margin-bottom: 0 !important;
	border: 0;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border-radius: 12px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	background: rgb(227, 227, 227);
}

.modal.vertical-center {
	top: 50% !important;
	margin-top: -112px !important;
	height: 162px !important;
}

.modal-body {
	position: relative;
	padding: 0;
	margin-bottom: 12px;
}

.modal-body ul.ext_links_dicts {
	margin-left: 0;
}

.modal-body textarea {
	height: auto;
}

.modal-body input[type="text"]:focus,.modal-body textarea:focus {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.modal-body .lemma-editor>table {
	width: 100% !important;
}

.modal-body .lemma-editor>table>tbody>tr>td:first-child input {
	width: 90% !important;
}

.modal a.btn {
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	text-shadow: 0 0 0 rgba(0, 0, 0, 0);
	border: none;
	background: rgba(255, 255, 255, 0.3);
	text-transform: lowercase;
}

.modal a.btn:hover {
	color: rgb(0, 200, 255);
}

.modal a.btn.btn-primary {
	background: rgb(0, 200, 255);
	color: white;
}

.modal-body table {
	width: 600px;
}

.modal table,.modal tr,.modal td {
	padding: 0 !important;
	margin: 0 !important;
}

.modal-body table .control-group {
	padding: 0;
	margin-bottom: 12px;
}

.modal-body table .form-horizontal .control-group .control-label {
	padding: 0;
	margin: 0;
	width: 90px;
	text-align: left;
	border: 0 none;
}

.modal-body table .form-horizontal .control-group .controls {
	float: left;
	margin: 0;
	padding: 0;
	width: 100%;
}

.modal-body table .form-horizontal .control-group .controls .gwt-TextBox
	{
	box-sizing: border-box;
	width: 100%;
	font-size: 13px;
	border: 1px solid white;
}

.modal-body table .form-horizontal .control-group .controls .gwt-TextBox:focus
	{
	border: 1px solid rgb(21, 233, 177);
}

.modal .page-header {
	padding: 0;
	margin: 0;
	border: none;
}

.modal .page-header h1,.modal h3 {
	font-size: 13px;
	line-height: 18px;
	margin-bottom: 12px;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}

.modal .page-header h1 small {
	display: none;
	font-size: 13px;
	line-height: 18px;
	text-transform: none;
	letter-spacing: 0.1em;
	color: black;
}

.modal .modal-footer {
	padding: 0;
	margin: 0;
	background: rgb(227, 227, 227);
	border-top: none;
	box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
	-moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.modal .gwt-HTML  table td {
	font-size: 13px;
	line-height: 18px;
}

.modal td[width="25%"] {
	padding: 0 10px 0 0 !important;
}

.container_entry {
	width: 522px;
	line-height: 20px;
	margin-top: 68px;
}

.container_entry ul {
	list-style-type: none;
	margin: 6px 0 0 18px;
}

.container_entry a {
	color: rgb(76, 76, 76);
}

blockquote {
	border: 0 none;
}

blockquote h4 {
	margin-top: 8px;
}

#content .pagination a {
	color: #999;
	border-color: rgb(163, 163, 163);
}

#content .pagination ul li a {
	background-color: transparent;
}

#content .pagination ul li.active a {
	background-color: white;
}

#content .pagination ul li.disabled a,#content .pagination ul li.disabled a:hover
	{
	color: rgb(192, 192, 192);
}

#content .pagination a[disabled=""],#content .pagination a[disabled=""] *
	{
	-webkit-text-shadow: none !important;
	-moz-text-shadow: none !important;
	-ms-text-shadow: none !important;
	text-shadow: none !important;
	filter: none;
}

#content .pagination ul {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	-ms-box-shadow: none !important;
	box-shadow: none !important;
}

#content .pagination li a:hover {
	color: rgb(0, 200, 255);
}

#content .pagination li.disabled a:hover,#content .pagination li.active a:hover
	{
	color: #999;
}

#content .pagination li.active a:hover {
	background-color: #f5f5f5;
}

.maalr_overlay_V {
	background-color: rgb(0, 200, 255);
	color: white;
	text-decoration: none;
	padding: 0 5px 0 6px;
	/* 	margin-left: 14px; */
	margin-right: 6px;
}

.maalr_overlay_I {
	/* background-color: rgb(0, 200, 155); */
	background-color: rgb(255, 215, 0);
	color: white;
	text-decoration: none;
	padding: 0 7px 0 8px;
	margin-left: 14px;
	margin-right: 6px;
}

.table tbody tr:hover td,.table tbody tr:hover th,.table tbody tr:active td,.table tbody tr:active th
	{
	background: none !important;
}

.help-inline {
	padding: 0;
	color: red !important;
}

.control-group.error>label {
	color: red !important;
}

.control-group.error textarea {
	border: 0 none !important;
	color: rgb(21, 233, 177) !important;
	box-shadow: none !important;
}

.control-group.success>label {
	color: rgb(76, 76, 76) !important;
}

.control-group.success textarea {
	/*border-color: rgb(21, 233, 177);*/
	border-color: transparent;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

.control-group.success textarea:FOCUS {
	border-color: rgb(21, 233, 177);
}

a.btn.btn-danger {
	background-color: rgb(21, 233, 177) !important;
}

a.btn.btn-danger:hover {
	color: white !important;
}

#showErrorDialogMaalr {
	background-color: rgb(204, 204, 204);
}

#showErrorDialogMaalr .modal-footer {
	background-color: rgb(204, 204, 204);
}

#showErrorDialogMaalr .modal-header {
	padding: 0;
	border-bottom: 0 none;
}

#showErrorDialogMaalr .modal-header .close {
	position: relative;
	top: -3px;
	right: -3px;
}

/*DICTIONARY LINK WIDGET*/
#dictionary_links {
	margin: 0px auto;
	position: relative;
	display: block;
	vertical-align: middle;
	text-align: center;
	margin-bottom: 6px;
}

.ext_links_dicts {
	list-style: none
}

.ext_links_dicts li:before {
	content: "→";
	color: #848484;
}

.ext_links_dicts li>a {
	padding: 0px 0px 0px 3px;
	font-size: 13px;
}

.ext_links_dicts li>a:hover {
	color: rgb(0, 200, 255);
	text-decoration: none;
}

#gridWrapper {
	width: 100%;
	display: flex;
	position: absolute;
	top: 43.5%;
	/* 	margin-top: -25px; */
	justify-content: space-between;
}

#ext_links_container {
	width: 15%;
	text-align: left;
	padding-left: 50px;
	z-index: 1000;
}

#ext_links_container>a {
	text-decoration: none;
	line-height: 25px;
	display: block;
}

#ext_links_container>a:hover {
	color: rgb(21, 233, 177);
}

#ext_links_container a:before {
	content: "→ ";
	color: #848484;
}

#feed_container {
	/* 	visibility: hidden; */
	z-index: 1000;
	width: 18%;
	text-align: right;
	padding-right: 50px;
	line-height: 1.2;
}

.feed {
	position: absolute;
	width: 16.3%;
	min-height: 76px;
	font-family: "europa", sans-serif;
	color: white;
	margin-right: 50px;
	background-color: rgb(188, 188, 188);
	padding: 10px 10px 0 10px;
	text-align: left;
	font-size: 12px;
	box-shadow: 2px 2px 5px #999;
}

.feed a {
	color: white;
	text-align: left;
}

.feed a.readMore:hover {
	text-decoration: none;
	/*color:rgb(21, 233, 177);*/
/* 	color: #999; */
}

.feed a.readMore:before {
	content: "↳ ";
	color: white;
}

.pubDate {
	width: auto;
	position: relative;
	letter-spacing: 0.2em;
	font-size: 14px;
	min-height: 14px;
	padding : 0 0 10px 4px;
	font-weight: lighter;
/* 	padding: 0 0 10px 4px; */
	padding: 10px 0 10px 4px;
}

.excerpt {
	width: auto;
	position: relative;
	font-size: 11px;
	min-height: 22px;
	padding: 0 0 10px 4px;
}

.feedLinkWrap {
	position: relative;
	min-height: 12px;
	padding: 0 0 10px 4px;
	width: auto;
}

.readMore {
	/* 	position: absolute; */
	/* 	left: 10px; */
	/* 	bottom: 10px; */
	/* 	padding: 0 0 10px 4px; */
}

#moc_middle_container {
	width: 70%;
	text-align: center;
	display: none;
}

#search_panel>a {
	margin: 0px auto 6px;
	position: relative;
	display: block;
	vertical-align: middle;
	text-align: center;
}

a.simpleLink {
	text-decoration: none;
}

a.simpleLink:hover {
	color: rgb(0, 200, 255);
}

.quotation {
	color: #333;
	/*     background-color: #ffd700; */
	background-color: #FFF;
	border-radius: 5px;
	padding: 0 4px 0 4px;
	font-style: italic;
}

.quotations {
	margin-top: 5px;
}

.quotationWrapper {
	margin-top: 15px;
	min-height: 150px;
}

.noQuotation {
	text-align: center;
	padding-top: 10%;
}

.feedMargeMore {
	width: 84% !important;
	min-height: 180px;
	margin: 10px auto !important;
	padding-right: 0px !important;
	border-radius: 11px;
}

/* MOBILE */
@media all and (max-width: 767px) {
	#dict_descript {
		color: rgb(21, 233, 177);
		/* 		color: rgb(132, 132, 132); */
		margin-top: 97px;
		text-align: center;
		letter-spacing: 2px;
		font-weight: lighter;
	}
	.dict_navi_item {
		font-size: 10.0px;
	}
	#info-box {
		/* 		margin: 125px auto; */ /*  	margin-top: -13em; */
		/* 		margin-left: -13em; */
		width: 300px;
		height: 246px;
		margin: 25px auto 142px;
		position: inherit;
	}
	
	.ext_links_mobile {
		margin: 0px auto 6px;
		position: relative;
		display: block;
		vertical-align: middle;
		text-align: center;
	}

	#content .container-fluid {
		clear: both;
		margin-top: 0px;
		min-height: 0px;
	}

	#content.search-centered .container-fluid:last-child .span4 {
		/* 		margin-top: -82px; */
		/* 		top: 33%; */
		margin: 0px;
		position: inherit;
	}
	#content.content .row-fluid .span4 {
		width: 100%;
		left: auto !important;
		margin-left: 0 !important;
		margin-top: 22px;
	}
	#content.content .row-fluid .span4 .well {
		margin: 0;
		padding-left: 0;
		padding-right: 0;
	}
	#content.content .row-fluid .span4 .well form {
		margin: 0;
	}
	#content.content .row-fluid .span4 .well form #searchoptions input[type="text"]
		{
		display: block;
		width: 80%;
		padding-left: 12px;
		padding-right: 12px;
		margin: 0 auto;
		margin-top: 20px;
	}
	#content.content .row-fluid .span4 .well form #searchoptions input[type="text"]+a.btn
		{
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		width: auto;
		text-align: center;
		margin: 0 !important;
	}
	#content.content .row-fluid .span4 .well form #searchoptions+a.btn {
		top: 0px;
		width: 52px;
		height: 52px;
	}
	#content.content .row-fluid .span4 .well form #searchoptions .control-group
		{
		width: 80%;
		margin: 0 auto;
	}
	#content.content .row-fluid .span4 .well form #searchoptions .control-group:first-child
		{
		width: auto;
		margin-bottom: 12px;
	}
	#content.content .row-fluid .span4 .well form #searchoptions+a.btn:after
		{
		position: absolute;
		display: block;
		top: 0;
		left: auto;
	}
	#content.content .row-fluid .span4 .well form #searchoptions+a.btn i {
		display: none;
	}
	#content.content .row-fluid .span8 {
		width: 84%;
		margin: 0 auto;
		/* 		margin-bottom: 142px; */
	}
	#navi_bottom {
		/* 		position: absolute; */
		padding-bottom: 6px;
	}
	#navi_bottom #navi_bottom_menu {
		margin: 0;
		float: none;
		text-align: center;
	}

	#navi_bottom #navi_bottom_menu
		li:nth-child(5){
		display:none;
	}

	#navi_bottom #navi_bottom_menu a {
		line-height: 26px;
	}

	#navi_bottom #navi_bottom_social {
		right: auto;
		float: none;
		text-align: center;
		padding-bottom: 10px;
	}

	#navi_bottom #navi_bottom_menu li {
		margin-bottom: 6px;
	}

	.pagination {
		font-size: 10px;
	}

	.pagination a {
		padding: 0 4px;
	}

	.GKHQX3BBGC div button {
		display: none;
	}

	.GKHQX3BBGC {
		width: 1px;
	}

	.maalr_overlay_V {
		/* display: none; */
		margin-left: 0;
		padding: 0 2px;
	}

	#searchphrase+span {
		float: right;
	}

	.information_container,.container_plugin {
		margin-top: 112px;
		width: 80%;
		margin-bottom: 146px;
	}

	#content.content .row-fluid .span {
		margin-bottom: 222px;
	}

	.modal {
		position: absolute !important;
		top: 112px !important;
		left: 22px !important;
		right: 22px !important;
		bottom: auto !important;
		width: auto !important;
		margin: 0 !important;
		padding: 12px;
		-webkit-overflow-scrolling: touch;
	}

	.modal table,.modal tr,.modal td,.modal tbody {
		display: block;
	}

	.modal .control-label {
		float: none;
		display: block;
		margin-bottom: 6px !important;
	}

	.modal tbody,.modal table {
		width: 100% !important;
	}

	.modal-footer .btn {
		display: block;
	}

	.modal-footer .btn+.btn {
		margin-left: 0;
	}

	.modal-body table .form-horizontal .control-group .controls,.modal-body table .form-horizontal .control-group .controls .gwt-TextBox
		{
		width: 100%;
		max-width: none !important;
	}

	.modal input[type="text"] {
		box-sizing: border-box !important;
		height: 32px;
		margin-bottom: 0;
	}

	.modal input[type="password"] {
		box-sizing: border-box !important;
		height: 32px;
		margin-bottom: 0;
	}

	.modal textarea {
		box-sizing: border-box !important;
		height: 64px;
	}

	.modal a.btn {
		margin-bottom: 8px !important;
	}

	.modal td[width="25%"] {
		padding: 0;
		width: 100% !important;
	}

	.modal-body .lemma-editor>table>tbody>tr>td:first-child input {
		width: 100% !important;
	}

	#searchoptions .control-group span {
		/*font-size: 10px;*/

	}

	#content.search-centered .container-fluid:last-child .span4.open {
		position: relative;
		margin-top: 22px;
	}

	.container_entry {
		width: 90%;
	}

	#searchoptions .styledRadio,#searchoptions .styledCheckbox {
		margin-top: 1px;
	}

	#feed_container {
	    z-index: 1000;
	    text-align: right;
	    line-height: 1.2;
	    padding-bottom: 50px;
	    position: relative;
	    margin: 0 auto !important;
	    width: 70% !important;
	    top: 20px;
	}

	.feed {
	    position: absolute;
	    height: auto;
	    font-family: "europa", sans-serif;
	    color: white;
	    text-align: left;
	    font-size: 12px;
	    box-shadow: 2px 2px 5px #999;
	    width: 92%;
	    padding: 4%;
    }

	.feed a.readMore:hover {
		text-decoration: none;
	}
}
@media all and (width: 768px) {
	#content.content .row-fluid .span4 {
		float: none;
		margin: 100px auto;
		width: 542px;
	}
	#content.content .row-fluid .span8 {
		width: 662px;
		float: none;
		margin: 0 auto;
	}
}
