.spell-error {
  border-bottom: 2px solid #e86a69;
  transition: background .25s ease-in-out;

  &:hover {
    background: rgba(232,106,105,.2);
  }
}

.ProseMirror {
  width: 660px;
  background-color: white;
  min-height: 300px;
  margin-right: 50px;
  padding: 6px;
}

.suggestions-box {
  position: absolute;
  border: 1px solid black;
  background-color: #f7f7f7;
  padding: 2px 4px;
  border-radius: 4px;

  ul {
    padding: 0;
    margin: 0;
  }

  li {
    cursor: pointer;
    list-style: none;
  }
  li:before {
    content: "→";
    color: #848484;
    padding-right: 5px;
  }
}
