<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="24">
    <nz-content class="type-filter">
      <nz-page-header-title>Filter</nz-page-header-title>
      <nz-radio-group [(ngModel)]="filter.status" (ngModelChange)="changeStatus($event)">
        <label nz-radio nzValue="IN_REVIEW">{{ 'pronunciation.filter.in_review' | translate }}</label>
        <label nz-radio nzValue="POSTPONED_REVIEW">{{ 'pronunciation.filter.postponed_review' | translate }}</label>
        <nz-divider nzType="vertical" class="filter-divider"></nz-divider>
        <label nz-radio nzValue="TODO">{{ 'pronunciation.filter.todo' | translate }}</label>
        <label nz-radio nzValue="POSTPONED_REGISTRATION">{{ 'pronunciation.filter.postponed_registration' | translate }}</label>
        <label nz-radio nzValue="COMPLETED">{{ 'pronunciation.filter.completed' | translate }}</label>
        <label nz-radio nzValue="REFUSED">{{ 'pronunciation.filter.refused' | translate }}</label>
      </nz-radio-group>
      <input nz-input [(ngModel)]="filter.searchTerm" style="width: 200px; margin-left: 36px;" [placeholder]="'lexicon.filter.search' | translate" (ngModelChange)="changePage(0)">
    </nz-content>
  </div>
</div>

<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="9" class="left-side">
    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{ 'pronunciation.list.title' | translate }}</nz-page-header-title>
      </nz-page-header>

      @if (registrations.length > 0) {
        {{ 'lexicon.lemma.results_info' | translate:{
        start: (currentPage.number*currentPage.size) + 1,
        end: math.min((currentPage.number + 1) * currentPage.size, currentPage.totalElements),
        total: currentPage.totalElements
      }
      }}
    }
    @if (registrations.length === 0) {
      {{ 'lexicon.lemma.no_results' | translate }}
    }

    <div class="lemma-list">
      <nz-list [nzLoading]="isLoadingData">
        @for (r of registrations; track r) {
          <nz-list-item (click)="selectRegistration(r)" [class.selected]="r.id === selectedRegistration?.id" id="list-id-{{ r.id }}">
            <ng-container >
              <nz-list-item-meta nzDescription="{{ r.deStichwort }}">
                <nz-list-item-meta-title>
                  <a>{{ r.rmStichwort }}</a>
                </nz-list-item-meta-title>
              </nz-list-item-meta>
            </ng-container>
          </nz-list-item>
        }
      </nz-list>
    </div>

    <div class="pg-pagination">
      @if (currentPage && currentPage.totalElements > 0) {
        <nz-pagination
          [nzPageIndex]="(currentPage!.number) + 1"
          [nzPageSize]="currentPage.size"
          [nzTotal]="currentPage.totalElements"
          [nzSize]="'small'"
        (nzPageIndexChange)="changePage($event, true)"></nz-pagination>
      }
    </div>
  </nz-content>
</div>

<div nz-col nzSpan="15" class="right-side">
  @if (selectedRegistration) {
    <nz-content>
      <div class="content">
        <nz-page-header [nzGhost]="false">
          <nz-page-header-title>
            @if (showPlayButton(selectedRegistration.status)) {
              <app-audio-player [url]="getAudioUrl(selectedRegistration)"></app-audio-player>
            }
            {{ selectedRegistration.rmStichwort }} ⇔ {{ selectedRegistration.deStichwort }}
          </nz-page-header-title>
          <nz-page-header-extra>
            @if (showAcceptButton(selectedRegistration.status)) {
              <button nz-button nzType="primary" class="button-accept" (click)="acceptRegistration(selectedRegistration)">{{ 'review.actions.accept' | translate }}<!--<span class="keyboard">enter</span>--></button>
            }
            @if (showRejectButton(selectedRegistration.status)) {
              <button nz-button nzType="primary" nzDanger (click)="rejectRegistration(selectedRegistration)">{{ 'review.actions.reject' | translate }}<!--<span class="keyboard">del</span>--></button>
            }
            @if (showPostponeButton(selectedRegistration.status)) {
              <button nz-button nzType="primary" style="background-color: rgb(82, 82, 82); border: none;" (click)="reviewLater(selectedRegistration)">{{ 'review.actions.later' | translate }}</button>
            }
            <button nz-button nzType="primary" style="background-color: rgb(82, 82, 82); border: none;" (click)="delete(selectedRegistration)">{{ 'review.actions.delete' | translate }}</button>
          </nz-page-header-extra>
        </nz-page-header>
      </div>
    </nz-content>
  }

  @if (selectedRegistration) {
    <nz-content>
      <nz-descriptions [nzTitle]="'pronunciation.list.comments' | translate">
        <nz-descriptions-item [nzTitle]="'pronunciation.list.comment_speaker' | translate">{{ selectedRegistration.speakerComment ?? '-' }}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'pronunciation.list.comment_reviewer' | translate">{{ selectedRegistration.reviewerComment ?? '-' }}</nz-descriptions-item>
      </nz-descriptions>
    </nz-content>
  }

  @if (selectedRegistration) {
    <nz-content>
      <nz-descriptions [nzTitle]="'pronunciation.list.grammar' | translate">
        <nz-descriptions-item [nzTitle]="'edit.lemma.rm' | translate">{{ selectedRegistration.rmStichwort ?? '-' }}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'edit.lemma.de' | translate">{{ selectedRegistration.deStichwort ?? '-' }}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'edit.lemma.rm_grammar' | translate">{{ selectedRegistration.rmGrammatik ?? '-' }}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'edit.lemma.rm_gender' | translate">{{ selectedRegistration.rmGenus ?? '-' }}</nz-descriptions-item>
        <nz-descriptions-item [nzTitle]="'edit.lemma.rm_semantics' | translate">{{ selectedRegistration.rmSubsemantik  ?? '-'}}</nz-descriptions-item>
      </nz-descriptions>
    </nz-content>
  }

  @if (selectedRegistration && entryVersions.length > 0) {
    <nz-content>
      <nz-descriptions [nzTitle]="'Vign attribuì a quests lemmas'"></nz-descriptions>
      <ul>
        @for (lv of entryVersions; track lv) {
          <li>
            {{ lv.rmStichwort }} / {{ lv.deStichwort }}
          </li>
        }
      </ul>
    </nz-content>
  }
</div>
</div>
