.pg-modal-wrapper {
  max-width: 600px;
  height: 360px;

  .modal-content {
    overflow-y: initial;
  }
}

#buttonGroupSignup {
  width: 100%;
  text-align: right;
}

#registerSubmit {
	margin-left: 16px;
	background: rgb(0, 200, 255);
	color: white;
}

.registration-info {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  span {
    margin-right: 16px;
  }

  p {
    margin-bottom: 0;
  }
}

@media all and (max-width: 767px) {
	.sign-up-input {
		width: 100%;
	}

  #registerSubmit {
    width: 100%;
    background: rgb(0, 200, 255);
    color: white;
    margin-left: 0;
  }

  #cancelButton {
		width: 100%;
	}
}
