<div id="signupDialog" class="modal hide fade vertical-center" tabindex="-1" aria-hidden="true" style="display: none;">
	<div class="modal-body" style="overflow-y: hidden; overflow-x: hidden; max-height: 480px;">
    <h3>{{ 'registration.header' | translate }}</h3>

    <div class="registration-info">
      <span class="glyphicon icon-info-sign"></span>
      <p>{{ 'registration.information' | translate }}</p>
    </div>

    <label>{{ 'login.email' | translate }}</label>
    <input class="form-control sign-up-input" type="text" name="reg_email" [(ngModel)]="email">

    <label>{{ 'login.pwd' | translate }}</label>
    <input type="password" name="reg_password" [(ngModel)]="password">

    <label>{{ 'registration.repeat_pw' | translate }}</label>
    <input type="password" name="reg_confirm" [(ngModel)]="repeatedPassword">

    <span id="errorMessage" style="margin-left:8px; color: red;">{{ errorMessage }}</span>

    <div id="buttonGroupSignup" class="col-sm-offset-3 col-sm-9 pull-right">
      <a class="btn btn-default" (click)="cancel()" id="cancelButton">
        {{ 'registration.cancel' | translate }}
      </a>
      <a class="btn btn-default" (click)="save()" id="registerSubmit">
        {{ 'registration.submit' | translate }}
      </a>
    </div>
	</div>
</div>
