<ul nz-menu nzMode="horizontal" [nzSelectable]="false">
  <i nz-icon nzType="user" nzTheme="outline"></i>
  <li nz-menu-item [nzMatchRouter]="true" [routerLink]="'/admin/' + languageSelectionService.getCurrentLanguage() + '/editor/suggestions'">
    {{ 'lexicon.suggestions_menu_item' | translate }}
  </li>
  <li nz-menu-item [nzMatchRouter]="true" [routerLink]="'/admin/' + languageSelectionService.getCurrentLanguage() + '/editor/history'">
    {{ 'lexicon.history_menu_item' | translate }}
  </li>
  <li nz-menu-item [nzMatchRouter]="true" [routerLink]="'/admin/' + languageSelectionService.getCurrentLanguage() + '/editor/lexicon'">
    {{ 'lexicon.lexicon_menu_item' | translate }}
  </li>
  <li nz-menu-item [nzMatchRouter]="true" [routerLink]="'/admin/' + languageSelectionService.getCurrentLanguage() + '/editor/automatic'"  *ngIf="languageSelectionService.getCurrentLanguage() === 'surmiran'">
    {{ 'lexicon.review_menu_item' | translate }}
  </li>

  <nz-divider nzType="vertical" *ngIf="authService.isAdmin()"></nz-divider>
  <i nz-icon nzType="laptop" nzTheme="outline" *ngIf="authService.isAdmin()"></i>
  <li nz-menu-item [nzMatchRouter]="true" [routerLink]="'/admin/' + languageSelectionService.getCurrentLanguage() + '/admin/database'" *ngIf="authService.isAdmin()">
    {{ 'database.menu_item' | translate }}
  </li>
  <li nz-menu-item [nzMatchRouter]="true" [routerLink]="'/admin/' + languageSelectionService.getCurrentLanguage() + '/admin/index'" *ngIf="authService.isAdmin()">
    {{ 'index.menu_item' | translate }}
  </li>
  <nz-divider nzType="vertical"></nz-divider>
  <i nz-icon nzType="expand-alt" nzTheme="outline"></i>
  <li nz-menu-item [nzMatchRouterExact]="true" [nzSelected]="false" (click)="openFe()">
    {{ 'frontend.menu_item' | translate }}
  </li>
</ul>
