<nz-header>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" [nzSelectable]="false">
    @if (authService.isEditorPuter()) {
      <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/puter">
        <span class="short">PT</span>
        <span class="long">Puter</span>
      </li>
    }
    @if (authService.isEditorVallader()) {
      <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/vallader">
        <span class="short">VL</span>
        <span class="long">Vallader</span>
      </li>
    }

    @if (authService.isEditorNames()) {
      <nz-divider nzType="vertical"></nz-divider>
    }

    @if (authService.isAdmin()) {
      <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/users">{{ 'users.menu_item' | translate}}</li>
    }
  </ul>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu-right">
    <a [class.lang_selected]="frontendLanguage === 'en'" (click)="changeFrontendLanguage('en')">en</a>
    <span> | </span>
    <a [class.lang_selected]="frontendLanguage === 'rm'" (click)="changeFrontendLanguage('rm')">rm</a>

    <span class="username">{{ authService.getUsername() }}</span>
    <span class="logout" (click)="logout()">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
    </span>
  </ul>
</nz-header>
