<nz-header>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu" [nzSelectable]="false">
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/puter" *ngIf="authService.isEditorPuter()">
      <span class="short">PT</span>
      <span class="long">Puter</span>
    </li>
    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/vallader" *ngIf="authService.isEditorVallader()">
      <span class="short">VL</span>
      <span class="long">Vallader</span>
    </li>

    <nz-divider nzType="vertical" *ngIf="authService.isEditorNames()"></nz-divider>

    <li nz-menu-item [nzMatchRouter]="true" routerLink="/admin/users" *ngIf="authService.isAdmin()">{{ 'users.menu_item' | translate}}</li>
  </ul>
  <ul nz-menu nzTheme="dark" nzMode="horizontal" class="header-menu-right">
    <a [class.lang_selected]="frontendLanguage === 'en'" (click)="changeFrontendLanguage('en')">en</a>
    <span> | </span>
    <a [class.lang_selected]="frontendLanguage === 'rm'" (click)="changeFrontendLanguage('rm')">rm</a>

    <span class="username">{{ authService.getUsername() }}</span>
    <span class="logout" (click)="logout()">
      <i nz-icon nzType="logout" nzTheme="outline"></i>
    </span>
  </ul>
</nz-header>
