<div class="dic_navi_head">
	<a class="dict_navi_item" [class.selected]="idiom === 'puter'" routerLink="/puter">
    <span class="show-mobile">PT</span>
    <span class="hide-mobile">{{ 'languages.puter' | translate }}</span>
  </a>
	<a class="dict_navi_item" [class.selected]="idiom === 'rumgr'" routerLink="/rumantschgrischun">
    <span class="show-mobile">RG</span>
    <span class="hide-mobile">{{ 'languages.rumantschgrischun' | translate }}</span>
  </a>
	<a class="dict_navi_item" [class.selected]="idiom === 'surmiran'" routerLink="/surmiran">
    <span class="show-mobile">SM</span>
    <span class="hide-mobile">{{ 'languages.surmiran' | translate }}</span>
  </a>
	<a class="dict_navi_item" [class.selected]="idiom === 'sursilv'" routerLink="/sursilvan">
    <span class="show-mobile">SR</span>
    <span class="hide-mobile">{{ 'languages.sursilvan' | translate }}</span>
  </a>
	<a class="dict_navi_item" [class.selected]="idiom === 'sutsilv'" routerLink="/sutsilvan">
    <span class="show-mobile">ST</span>
    <span class="hide-mobile">{{ 'languages.sutsilvan' | translate }}</span>
  </a>
	<a class="dict_navi_item" [class.selected]="idiom === 'vallader'" routerLink="/vallader">
    <span class="show-mobile">VL</span>
    <span class="hide-mobile">{{ 'languages.vallader' | translate }}</span>
  </a>
</div>
<div class="dic_navi_head secondary" *ngIf="idiom !== 'sursilv'">
  <a class="dict_navi_item" [class.selected]="!this.router.url.includes('spellchecker')" [routerLink]="'/' + urlSegment">
    <span class="show-mobile">PLEDARI</span>
    <span class="hide-mobile">{{ 'navi.pledari' | translate }}</span>
  </a>
  <a class="dict_navi_item" [class.selected]="this.router.url.includes('spellchecker')" [routerLink]="'/' + urlSegment + '/spellchecker'">
    <span class="show-mobile">CORRECTURA</span>
    <span class="hide-mobile">{{ 'navi.spellchecker' | translate }}</span>
  </a>
</div>

<div id="dict_descript">
  <ng-container *ngIf="idiom === 'puter'">{{ 'languages.puter' | translate }}</ng-container>
  <ng-container *ngIf="idiom === 'rumgr'">{{ 'languages.rumantschgrischun' | translate }}</ng-container>
  <ng-container *ngIf="idiom === 'surmiran'">{{ 'languages.surmiran' | translate }}</ng-container>
  <ng-container *ngIf="idiom === 'sursilv'">{{ 'languages.sursilvan' | translate }}</ng-container>
  <ng-container *ngIf="idiom === 'sutsilv'">{{ 'languages.sutsilvan' | translate }}</ng-container>
  <ng-container *ngIf="idiom === 'vallader'">{{ 'languages.vallader' | translate }}</ng-container>
</div>
