/* NEW (ADDITIONAL) NAVI HEAD */
.dic_navi_head {
	position: absolute;
	width: 100%;
	height: 28px;
	z-index: 1000;
	top: 48px;
	background-color: rgb(188, 188, 188);
	background-image: linear-gradient(to top, rgb(167, 167, 167) 0%, rgb(188, 188, 188) 100%);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

  &.secondary {
    top: 76px;
    border-top: 1px solid white;
  }

  // Shimmer Sweep - Light sweep across second navigation item on page load
  &.highlight-shimmer .dict_navi_item:nth-child(2) {
    position: relative;
    overflow: hidden;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        transparent 0%,
        transparent 35%,
        rgba(255, 255, 255, 0.6) 50%,
        transparent 65%,
        transparent 100%
      );
      background-size: 200% 100%;
      background-position: -200% center;
      animation: shimmer-sweep 1.5s ease-in-out 0.3s forwards;
      pointer-events: none;
    }
  }
}

@keyframes shimmer-sweep {
  0% {
    background-position: -200% center;
    opacity: 1;
  }
  80% {
    background-position: 150% center;
    opacity: 1;
  }
  100% {
    background-position: 200% center;
    opacity: 0;
  }
}

.dic_navi_head a {
	flex: 1;
  text-decoration: none;
  color: white;
}

.dict_navi_item {
	width: 33.33%;
	text-align: center;
	padding-top: 8px;
	font-size: 10.6px;
  border-right: 1px solid #FFFFFF;

  &:hover {
    background-color: rgb(21, 233, 177);
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  &:last-of-type {
    border-right: 0;
  }
}

.selected {
	background-color: rgb(21, 233, 177);
  color: white;
}

.dict_navi_item a {
	text-decoration: none;
	color: #FFFFFF;
	letter-spacing: 1.2px;
  outline: none;
}

@media all and (max-width: 767px) {
  .dict_navi_item {
		font-size: 10.0px;
	}
}

@media (max-width: 767px) {
  #dict_descript {
      color: rgb(21, 233, 177);
      margin-top: 125px;
      text-align: center;
      letter-spacing: 2px;
      font-weight: lighter;
  }
}
