<div id="dic_navi_head">
	<div id="pt_brand_title" class="dict_navi_item"><a href="/puter">puter</a></div>
	<div id="rm_brand_title" class="dict_navi_item selected"><a href="/rumantschgrischun">rumantsch grischun</a></div>
	<div id="sm_brand_title" class="dict_navi_item"><a href="/surmiran">surmiran</a></div>
	<div id="sr_brand_title" class="dict_navi_item"><a href="/sursilvan">sursilvan</a></div>
	<div id="st_brand_title" class="dict_navi_item"><a href="/sutsilvan">sutsilvan</a></div>
	<div id="vl_brand_title" class="dict_navi_item"><a href="/vallader">vallader</a></div>
</div>
