/* NEW (ADDITIONAL) NAVI HEAD */
.dic_navi_head {
	position: absolute;
	width: 100%;
	height: 28px;
	z-index: 1000;
	top: 48px;
	background-color: rgb(188, 188, 188);
	background-image: linear-gradient(to top, rgb(167, 167, 167) 0%, rgb(188, 188, 188) 100%);
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;

  &.secondary {
    top: 76px;
    border-top: 1px solid white;
  }
}

.dic_navi_head a {
	flex: 1;
  text-decoration: none;
  color: white;
}

.dict_navi_item {
	width: 33.33%;
	text-align: center;
	padding-top: 8px;
	font-size: 10.6px;
  border-right: 1px solid #FFFFFF;

  &:hover {
    background-color: rgb(21, 233, 177);
    text-decoration: none;
    color: white;
    cursor: pointer;
  }

  &:last-of-type {
    border-right: 0;
  }
}

.selected {
	background-color: rgb(21, 233, 177);
  color: white;
}

.dict_navi_item a {
	text-decoration: none;
	color: #FFFFFF;
	letter-spacing: 1.2px;
  outline: none;
}

@media all and (max-width: 767px) {
  .dict_navi_item {
		font-size: 10.0px;
	}
}

@media (max-width: 767px) {
  #dict_descript {
      color: rgb(21, 233, 177);
      margin-top: 97px;
      text-align: center;
      letter-spacing: 2px;
      font-weight: lighter;
  }
}
