<nz-layout class="main-layout">
  <nz-layout class="inner-layout">
    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>{{ 'users.title' | translate}}</nz-page-header-title>
        <nz-page-header-extra>
          <button nz-button nzType="primary" (click)="newOrEdit()">{{ 'users.new_button' | translate}}</button>
        </nz-page-header-extra>
      </nz-page-header>

      <nz-table #basicTable [nzData]="listOfUsers">
        <thead>
          <tr>
            <th>{{ 'users.email' | translate}}</th>
            <th nzAlign="center">{{ 'users.admin' | translate}}</th>
            <!--<th nzAlign="center">PT</th>-->
            <th nzAlign="center">RG</th>
            <th nzAlign="center">SM</th>
            <!--<th nzAlign="center">SR</th>-->
            <th nzAlign="center">ST</th>
            <!--<th nzAlign="center">VL</th>-->
            <th nzAlign="center">{{ 'users.names' | translate}}</th>
            <th nzAlign="center">{{ 'users.actions' | translate}}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of basicTable.data">
            <td>{{ data.email }}</td>
            <td nzAlign="center" class="admin-icon" [class.is-admin]="data.admin"><i nz-icon nzType="check-circle" nzTheme="outline" *ngIf="data.admin"></i><i nz-icon nzType="stop" nzTheme="outline" *ngIf="!data.admin"></i></td>
            <!--<td nzAlign="center"><app-user-role [role]="data.roles.puterRole"></app-user-role></td>-->
            <td nzAlign="center"><app-user-role [role]="data.roles.rumantschgrischunRole"></app-user-role></td>
            <td nzAlign="center"><app-user-role [role]="data.roles.surmiranRole"></app-user-role></td>
            <!--<td nzAlign="center"><app-user-role [role]="data.roles.sursilvanRole"></app-user-role></td>-->
            <td nzAlign="center"><app-user-role [role]="data.roles.sutsilvanRole"></app-user-role></td>
            <!--<td nzAlign="center"><app-user-role [role]="data.roles.valladerRole"></app-user-role></td>-->
            <td nzAlign="center"><app-user-role [role]="data.roles.namesRole"></app-user-role></td>
            <td nzAlign="center">
              <a (click)="newOrEdit(data.email)">{{ 'users.edit_action' | translate}}</a>
              <nz-divider nzType="vertical"></nz-divider>
              <a (click)="delete(data.email)">{{ 'users.delete_action' | translate}}</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
    </nz-content>
  </nz-layout>
</nz-layout>
