<h1>Allgemeine Informationen</h1>

<p>
  <strong>Online Version der linguistischen Datenbank der Lia
    Rumantscha (LR) bearbeitet für das Internet in Zusammenarbeit mit der
    Giuventetgna Rumantscha (<a href="http://www.giuru.ch/" target="_blank">GiuRu</a>).
  </strong>
</p>

<p>
  {{ nbrEntries | thousandSeparator }} Einträge.
</p>

<p>Der Pledari Grond online basiert auf der linguistischen Datenbank
  der LR, entwickelt im Jahre 1982 in Zusammenhang mit der Schaffung des
  Rumantsch Grischun, mit sprachplanerischen Massnahmen sowie der
  weiteren Standardisierung des Rumantsch Grischun. Der Name "PLEDARI"
  steht für eine Wörtersammlung ohne grammatikalische Angaben, wie man
  sie von traditionellen Wörterbüchern gewohnt ist. Dafür bietet das
  Pledari Grond online zahlreiche Vorschläge für den Gebrauch von Wörtern
  und Redewendungen. Es ist die umfangreichste Sammlung romanischer
  Wörter und Ausdrücke, die heute dem Publikum zugänglich ist. Der
  Pledari Grond online wird durch die Redaktion und mit Hilfe der
  Nutzerinnen und Nutzer täglich aktualisiert.</p>

<p>Der Wortschatz hat keine Grenzen. So lange die Sprache lebt,
  wächst und entwickelt sich dieser weiter und passt sich organisch den
  Kommunikationsbedürfnissen der Sprachgemeinschaft an. Alle Nutzerinnen
  und Nutzer sind eingeladen, zur Entwicklung des Pledari Grond online
  beizutragen. Wer ein Wort oder einen Ausdruck nicht findet, kann über
  das entsprechende Formular (es erscheint durch Anklicken des Buttons
  "Neuer Eintrag") Vorschläge machen. Wer einen Fehler entdeckt, kann
  über ein weiteres Formular (es erscheint durch Anklicken des Buttons
  "Bearbeiten") eine Änderung vorschlagen oder eine Anmerkung versenden.</p>

<p>
  <b> © Lia Rumantscha, CH-7000 Chur</b>
</p>

<p>
  <b>Konzept und Umsetzung</b><br>
  Lia Rumantscha, Anna-Alice Dazzi und Daniel Telli
</p>

<p>
  <b>Interne Redaktion </b> <br>
  Bettina Vital (Abteilungsleiterin Sprache) <br>
  Laura Decurtins<br>
  Marina Cajacob-Wyss<br>
  Gabriela Holderegger-Pajarola<br>
  Lea Livers<br>
  Angela Schmed
</p>

<p>
  <b>Externe Redaktion</b> <br>
  Michele Badilatti (DRG)<br>
  Marietta Cathomas Manetsch (RTR)<br>
  Giuanna Caviezel (Universität Zürich)<br>
  Anna-Alice Dazzi Gross<br>
  Annalisa Schaniel<br>
  Daniel Telli (DRG)
</p>

<p>
  <b>Ehemalige Redaktorinnen und Redaktoren</b> <br>
  Georges Darms <br>
  Manfred Gross <br>
  Annetta Janka-Zini
</p>

<p>
  <b>Software</b> (Quellcode: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">Frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni e Martin Cantieni
</p>

<p>
  <b>Grafisches Design</b> <br> Remo Caminada, <a href="https://www.remocaminada.com" target="_blank">www.remocaminada.com</a>
</p>
