<nz-page-header [nzGhost]="false">
  <nz-page-header-title>{{ 'database.title' | translate}}</nz-page-header-title>
  <nz-page-header-subtitle>{{ 'database.subtitle' | translate}}</nz-page-header-subtitle>
  <nz-page-header-extra>
    <button nz-button nzType="primary" (click)="exportDb()">{{ 'database.dump.button' | translate}}</button>
    <button nz-button nzNoAnimation nz-dropdown [nzDropdownMenu]="menu" style="border: none; padding: 0" nzPlacement="bottomRight">
      <i nz-icon nzType="ellipsis" nzTheme="outline" style="font-size: 20px; vertical-align: top;"></i>
    </button>
    <nz-dropdown-menu #menu="nzDropdownMenu">
      <ul nz-menu>
        <li nz-menu-item nzDanger (click)="importDb()">{{ 'database.import.button' | translate}}</li>
        <li nz-menu-item nzDanger (click)="dropDb()">{{ 'database.drop.button' | translate}}</li>
      </ul>
    </nz-dropdown-menu>
  </nz-page-header-extra>
</nz-page-header>

<nz-card class="stats-card">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(dbInfos.numberOfEntries| number)!" [nzTitle]="'database.stats.entries' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(dbInfos.numberOfVersions| number)!" [nzTitle]="'database.stats.versions' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(dbInfos.numberOfApproved| number)!" [nzTitle]="'database.stats.approved' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="6">
      <nz-statistic [nzValue]="(dbInfos.numberOfSuggestions| number)!" [nzTitle]="'database.stats.suggested' | translate"></nz-statistic>
    </nz-col>
  </nz-row>
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="24" style="text-align: right;">
      <button nz-button nzType="primary" (click)="loadDbStats()" [nzLoading]="isLoadingDbInfos">{{ 'database.stats.refresh_button' | translate }}</button>
    </nz-col>
  </nz-row>
</nz-card>


<nz-page-header [nzGhost]="false">
  <nz-page-header-title>{{ 'database.backup.title' | translate }}</nz-page-header-title>
  <nz-page-header-subtitle>{{ 'database.backup.subtitle' | translate }}</nz-page-header-subtitle>
</nz-page-header>

<nz-card class="stats-card">
  <nz-row [nzGutter]="16">
    <nz-col [nzSpan]="12">
      <nz-statistic [nzValue]="backupInfos.triggerTime" [nzTitle]="'database.backup.frequency' | translate"></nz-statistic>
      <nz-statistic [nzValue]="(backupInfos.backupNumber| number)!" [nzTitle]="'database.backup.max_backups' | translate"></nz-statistic>
      <nz-statistic [nzValue]="backupInfos.backupLocation ? backupInfos.backupLocation : '-'" [nzTitle]="'database.backup.location' | translate"></nz-statistic>
    </nz-col>
    <nz-col [nzSpan]="12">
      <nz-timeline>
        @for (backupInfo of backupInfos.infos; track backupInfo) {
          <nz-timeline-item nzColor="green">
            <p>
              {{ backupInfo.creationDate }}<br>
              {{ backupInfo.name }}<br>
              {{ 'database.backup.size' | translate }}: {{ backupInfo.size }} MB<br>
              <a (click)="downloadBackupFile(backupInfo.name)">{{ 'database.backup.download_link' | translate }}</a>
            </p>
          </nz-timeline-item>
        }
      </nz-timeline>
    </nz-col>
  </nz-row>
</nz-card>
