<h1>Infurmaziuns generalas</h1>

<p>
  <strong>
    Chesta versiun online digl vocabulari surmiran sa basa sen igl Vocabulari surmiran-tudestg/Wörterbuch
    Deutsch-Surmiran, versiun disc cumpact, ediziun da licenza © 2004
    Meds d'instrucziun digl Grischun; sistem dad elavuraziun da datas linguisticas © 2004 Lia Rumantscha; redacziun
    Faust Signorell ed oters.
  </strong>
</p>
<p>
  Actualmaintg cuntigna igl vocabulari
</p>

<p>
  {{ nbrEntries | thousandSeparator }} andataziuns.
</p>

<p>
  Igl vocabulari d'en lungatg n'è dantant mai cumplet e termino. Schi dei tgi igl lungatg veiva, sa sviluppescha'l e
  crescha, s'adattond organicamaintg agls basigns communicativs dalla cuminanza linguistica. Tot las utilisadras e tot
  igls utilisaders èn anvidos da contribueir activamaintg agl svilup digl Vocabulari surmiran online. Tgi tgi na catta
  betg en pled u en'expressiun pò far propostas cun igl formular correspondent (cliccar sen igl battung 'far ena
  proposta' ed igl formular cumpara). Tgi tgi vei en sbagl pò proponer la correctura u screiver ena remartga
  mademamaintg cun igl formular correspondent (cliccar sen igl battung 'modifitgier' ed igl formular cumpara).
</p>

<p>
  <b> © Lia Rumantscha, CH-7000 Coira </b>
</p>

<p>
  <b>Concept e realisaziun</b><br>
  Lia Rumantscha, Daniel Telli
</p>

<p>
  <b>Redacziun interna</b><br>
  Bettina Vital (manadra partiziun Lingua)<br>
  Laura Decurtins
</p>

<p>
  <b>Redacziun externa</b><br>
  Annalisa Schaniel<br>
  Reto Capeder
</p>

<p>
  <b>Software</b> (code: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni e Martin Cantieni
</p>

<p>
  <b>Dessegn grafic</b>
  <br>Remo Caminada, <a href="https://www.remocaminada.com" target="_blank">www.remocaminada.com</a>
</p>
