.content {
  padding-bottom: 32px;
}

.conjugation-elements {
  display: flex;
  flex-direction: row;
  gap: 16px;
  flex-wrap: wrap;

  &.enclitic {
    display: none;

    &.show {
      display: flex;
    }
  }

  div {
    width: 100%;
    
    @media (min-width: 768px) {
      width: calc(50% - 8px);
    }
  }
}

.enclitic-toggle {
  cursor: pointer;
  margin-bottom: 20px;

  span {
    i {
      font-size: 120%;
      position: relative;
      top: 3px;
    }
  }
}
