@if (versionCopy) {
  <div class="content">
    <h4>{{ 'details.conjugation' | translate }}</h4>
    <div class="conjugation-elements">
      <div>
        <app-conjugation-personal
          [title]="'verbOverlayPopup.present' | translate"
          [sing1]="versionCopy.inflection!.verb!.preschent!.sing1" [sing1Pronoun]="pronouns.preschentsing1"
          [sing2]="versionCopy.inflection!.verb!.preschent!.sing2" [sing2Pronoun]="pronouns.preschentsing2"
          [sing3]="versionCopy.inflection!.verb!.preschent!.sing3" [sing3Pronoun]="pronouns.preschentsing3"
          [plural1]="versionCopy.inflection!.verb!.preschent!.plural1" [plural1Pronoun]="pronouns.preschentplural1"
          [plural2]="versionCopy.inflection!.verb!.preschent!.plural2" [plural2Pronoun]="pronouns.preschentplural2"
          [plural3]="versionCopy.inflection!.verb!.preschent!.plural3" [plural3Pronoun]="pronouns.preschentplural3">
        </app-conjugation-personal>
      </div>
      <div>
        <app-conjugation-personal
          [title]="'verbOverlayPopup.imperfect' | translate"
          [sing1]="versionCopy.inflection!.verb!.imperfect!.sing1" [sing1Pronoun]="pronouns.imperfectsing1"
          [sing2]="versionCopy.inflection!.verb!.imperfect!.sing2" [sing2Pronoun]="pronouns.imperfectsing2"
          [sing3]="versionCopy.inflection!.verb!.imperfect!.sing3" [sing3Pronoun]="pronouns.imperfectsing3"
          [plural1]="versionCopy.inflection!.verb!.imperfect!.plural1" [plural1Pronoun]="pronouns.imperfectplural1"
          [plural2]="versionCopy.inflection!.verb!.imperfect!.plural2" [plural2Pronoun]="pronouns.imperfectplural2"
          [plural3]="versionCopy.inflection!.verb!.imperfect!.plural3" [plural3Pronoun]="pronouns.imperfectplural3">
        </app-conjugation-personal>
      </div>
      <div>
        <app-conjugation-personal
          [title]="'verbOverlayPopup.conjunctive' | translate"
          [sing1]="versionCopy.inflection!.verb!.conjunctiv!.sing1" [sing1Pronoun]="pronouns.conjunctivsing1"
          [sing2]="versionCopy.inflection!.verb!.conjunctiv!.sing2" [sing2Pronoun]="pronouns.conjunctivsing2"
          [sing3]="versionCopy.inflection!.verb!.conjunctiv!.sing3" [sing3Pronoun]="pronouns.conjunctivsing3"
          [plural1]="versionCopy.inflection!.verb!.conjunctiv!.plural1" [plural1Pronoun]="pronouns.conjunctivplural1"
          [plural2]="versionCopy.inflection!.verb!.conjunctiv!.plural2" [plural2Pronoun]="pronouns.conjunctivplural2"
          [plural3]="versionCopy.inflection!.verb!.conjunctiv!.plural3" [plural3Pronoun]="pronouns.conjunctivplural3">
        </app-conjugation-personal>
      </div>
      @if (hasConjunctiv2()) {
        <div>
          <app-conjugation-personal
            [title]="'verbOverlayPopup.conjunctive2' | translate"
            [sing1]="versionCopy.inflection!.verb!.conjunctivImperfect!.sing1" [sing1Pronoun]="pronouns.conjunctiv2sing1"
            [sing2]="versionCopy.inflection!.verb!.conjunctivImperfect!.sing2" [sing2Pronoun]="pronouns.conjunctiv2sing2"
            [sing3]="versionCopy.inflection!.verb!.conjunctivImperfect!.sing3" [sing3Pronoun]="pronouns.conjunctiv2sing3"
            [plural1]="versionCopy.inflection!.verb!.conjunctivImperfect!.plural1" [plural1Pronoun]="pronouns.conjunctiv2plural1"
            [plural2]="versionCopy.inflection!.verb!.conjunctivImperfect!.plural2" [plural2Pronoun]="pronouns.conjunctiv2plural2"
            [plural3]="versionCopy.inflection!.verb!.conjunctivImperfect!.plural3" [plural3Pronoun]="pronouns.conjunctiv2plural3">
          </app-conjugation-personal>
        </div>
      }
      <div>
        <app-conjugation-personal
          [title]="'verbOverlayPopup.conditional' | translate"
          [sing1]="versionCopy.inflection!.verb!.cundiziunal!.sing1" [sing1Pronoun]="pronouns.cundizionalsing1"
          [sing2]="versionCopy.inflection!.verb!.cundiziunal!.sing2" [sing2Pronoun]="pronouns.cundizionalsing2"
          [sing3]="versionCopy.inflection!.verb!.cundiziunal!.sing3" [sing3Pronoun]="pronouns.cundizionalsing3"
          [plural1]="versionCopy.inflection!.verb!.cundiziunal!.plural1" [plural1Pronoun]="pronouns.cundizionalplural1"
          [plural2]="versionCopy.inflection!.verb!.cundiziunal!.plural2" [plural2Pronoun]="pronouns.cundizionalplural2"
          [plural3]="versionCopy.inflection!.verb!.cundiziunal!.plural3" [plural3Pronoun]="pronouns.cundizionalplural3">
        </app-conjugation-personal>
      </div>
      @if (hasCundizionalIndirect()) {
        <div>
          <app-conjugation-personal
            [title]="'verbOverlayPopup.conditionalIndirect' | translate"
            [sing1]="versionCopy.inflection!.verb!.cundiziunalIndirect!.sing1" [sing1Pronoun]="pronouns.cundizionalindirectsing1"
            [sing2]="versionCopy.inflection!.verb!.cundiziunalIndirect!.sing2" [sing2Pronoun]="pronouns.cundizionalindirectsing2"
            [sing3]="versionCopy.inflection!.verb!.cundiziunalIndirect!.sing3" [sing3Pronoun]="pronouns.cundizionalindirectsing3"
            [plural1]="versionCopy.inflection!.verb!.cundiziunalIndirect!.plural1" [plural1Pronoun]="pronouns.cundizionalindirectplural1"
            [plural2]="versionCopy.inflection!.verb!.cundiziunalIndirect!.plural2" [plural2Pronoun]="pronouns.cundizionalindirectplural2"
            [plural3]="versionCopy.inflection!.verb!.cundiziunalIndirect!.plural3" [plural3Pronoun]="pronouns.cundizionalindirectplural3">
          </app-conjugation-personal>
        </div>
      }
      <div>
        <app-conjugation-personal
          [title]="'verbOverlayPopup.future' | translate"
          [sing1]="versionCopy.inflection!.verb!.futur!.sing1" [sing1Pronoun]="pronouns.futursing1"
          [sing2]="versionCopy.inflection!.verb!.futur!.sing2" [sing2Pronoun]="pronouns.futursing2"
          [sing3]="versionCopy.inflection!.verb!.futur!.sing3" [sing3Pronoun]="pronouns.futursing3"
          [plural1]="versionCopy.inflection!.verb!.futur!.plural1" [plural1Pronoun]="pronouns.futurplural1"
          [plural2]="versionCopy.inflection!.verb!.futur!.plural2" [plural2Pronoun]="pronouns.futurplural2"
          [plural3]="versionCopy.inflection!.verb!.futur!.plural3" [plural3Pronoun]="pronouns.futurplural3">
        </app-conjugation-personal>
      </div>
      @if (hasFuturDubitativ()) {
        <div>
          <app-conjugation-personal
            [title]="'verbOverlayPopup.futureDubitativ' | translate"
            [sing1]="versionCopy.inflection!.verb!.futurDubitativ!.sing1" [sing1Pronoun]="pronouns.futurdubitativsing1"
            [sing2]="versionCopy.inflection!.verb!.futurDubitativ!.sing2" [sing2Pronoun]="pronouns.futurdubitativsing2"
            [sing3]="versionCopy.inflection!.verb!.futurDubitativ!.sing3" [sing3Pronoun]="pronouns.futurdubitativsing3"
            [plural1]="versionCopy.inflection!.verb!.futurDubitativ!.plural1" [plural1Pronoun]="pronouns.futurdubitativplural1"
            [plural2]="versionCopy.inflection!.verb!.futurDubitativ!.plural2" [plural2Pronoun]="pronouns.futurdubitativplural2"
            [plural3]="versionCopy.inflection!.verb!.futurDubitativ!.plural3" [plural3Pronoun]="pronouns.futurdubitativplural3">
          </app-conjugation-personal>
        </div>
      }
      <div>
        <app-conjugation-impersonal
          [title]="'verbOverlayPopup.particip' | translate"
          [form1]="versionCopy.inflection!.verb!.participPerfect!.ms"
          [form2]="versionCopy.inflection!.verb!.participPerfect!.fs"
          [form3]="versionCopy.inflection!.verb!.participPerfect!.mp"
          [form4]="versionCopy.inflection!.verb!.participPerfect!.fp"
          [form5]="versionCopy.inflection!.verb!.participPerfect!.msPredicativ">
        </app-conjugation-impersonal>
      </div>
      <div>
        <app-conjugation-impersonal
          [title]="'verbOverlayPopup.imperative' | translate"
          [form1]="versionCopy.inflection!.verb!.imperativ!.singular"
          [form2]="versionCopy.inflection!.verb!.imperativ!.plural"
          [form3]="versionCopy.inflection!.verb!.imperativ!.form3"
          [form4]="versionCopy.inflection!.verb!.imperativ!.form4"
          [form5]="versionCopy.inflection!.verb!.imperativ!.form5"
          [form6]="versionCopy.inflection!.verb!.imperativ!.form6">
        </app-conjugation-impersonal>
      </div>
      <div>
        <app-conjugation-impersonal
          [title]="'verbOverlayPopup.gerund' | translate"
          [form1]="versionCopy.inflection!.verb!.gerundium">
        </app-conjugation-impersonal>
      </div>
    </div>
    @if (hasEncliticForms()) {
      <div class="enclitic">
        <div class="enclitic-toggle" (click)="toggleEnclitic()">
          @if (!areEncliticEnabled) {
            <span>
              <i class="ri-arrow-right-s-fill"></i>
              {{ 'verbOverlayPopup.showEnclitic' | translate }}
            </span>
          }
          @if (areEncliticEnabled) {
            <span>
              <i class="ri-arrow-down-s-fill"></i>
              {{ 'verbOverlayPopup.hideEnclitic' | translate }}
            </span>
          }
        </div>
        <div class="conjugation-elements enclitic" [class.show]="areEncliticEnabled">
          <div>
            <app-conjugation-personal
              [title]="'verbOverlayPopup.present' | translate"
              [sing1]="versionCopy.inflection!.verb!.preschentEnclitic!.sing1" [sing1Pronoun]="pronouns.preschentsing1enclitic"
              [sing2]="versionCopy.inflection!.verb!.preschentEnclitic!.sing2" [sing2Pronoun]="pronouns.preschentsing2enclitic"
              [sing3]="versionCopy.inflection!.verb!.preschentEnclitic!.sing3m" [sing3Pronoun]="pronouns.preschentsing3encliticm"
              [sing3Alt]="versionCopy.inflection!.verb!.preschentEnclitic!.sing3f" [sing3PronounAlt]="pronouns.preschentsing3encliticf"
              [plural1]="versionCopy.inflection!.verb!.preschentEnclitic!.plural1" [plural1Pronoun]="pronouns.preschentplural1enclitic"
              [plural2]="versionCopy.inflection!.verb!.preschentEnclitic!.plural2" [plural2Pronoun]="pronouns.preschentplural2enclitic"
              [plural3]="versionCopy.inflection!.verb!.preschentEnclitic!.plural3" [plural3Pronoun]="pronouns.preschentplural3enclitic">
            </app-conjugation-personal>
          </div>
          <div>
            <app-conjugation-personal
              [title]="'verbOverlayPopup.imperfect' | translate"
              [sing1]="versionCopy.inflection!.verb!.imperfectEnclitic!.sing1" [sing1Pronoun]="pronouns.imperfectsing1enclitic"
              [sing2]="versionCopy.inflection!.verb!.imperfectEnclitic!.sing2" [sing2Pronoun]="pronouns.imperfectsing2enclitic"
              [sing3]="versionCopy.inflection!.verb!.imperfectEnclitic!.sing3m" [sing3Pronoun]="pronouns.imperfectsing3encliticm"
              [sing3Alt]="versionCopy.inflection!.verb!.imperfectEnclitic!.sing3f" [sing3PronounAlt]="pronouns.imperfectsing3encliticf"
              [plural1]="versionCopy.inflection!.verb!.imperfectEnclitic!.plural1" [plural1Pronoun]="pronouns.imperfectplural1enclitic"
              [plural2]="versionCopy.inflection!.verb!.imperfectEnclitic!.plural2" [plural2Pronoun]="pronouns.imperfectplural2enclitic"
              [plural3]="versionCopy.inflection!.verb!.imperfectEnclitic!.plural3" [plural3Pronoun]="pronouns.imperfectplural3enclitic">
            </app-conjugation-personal>
          </div>
          <div>
            <app-conjugation-personal
              [title]="'verbOverlayPopup.conditional' | translate"
              [sing1]="versionCopy.inflection!.verb!.cundiziunalEnclitic!.sing1" [sing1Pronoun]="pronouns.cundizionalsing1enclitic"
              [sing2]="versionCopy.inflection!.verb!.cundiziunalEnclitic!.sing2" [sing2Pronoun]="pronouns.cundizionalsing2enclitic"
              [sing3]="versionCopy.inflection!.verb!.cundiziunalEnclitic!.sing3m" [sing3Pronoun]="pronouns.cundizionalsing3encliticm"
              [sing3Alt]="versionCopy.inflection!.verb!.cundiziunalEnclitic!.sing3f" [sing3PronounAlt]="pronouns.cundizionalsing3encliticf"
              [plural1]="versionCopy.inflection!.verb!.cundiziunalEnclitic!.plural1" [plural1Pronoun]="pronouns.cundizionalplural1enclitic"
              [plural2]="versionCopy.inflection!.verb!.cundiziunalEnclitic!.plural2" [plural2Pronoun]="pronouns.cundizionalplural2enclitic"
              [plural3]="versionCopy.inflection!.verb!.cundiziunalEnclitic!.plural3" [plural3Pronoun]="pronouns.cundizionalplural3enclitic">
            </app-conjugation-personal>
          </div>
          @if (hasEncliticFutur()) {
            <div>
              <app-conjugation-personal
                [title]="'verbOverlayPopup.future' | translate"
                [sing1]="versionCopy.inflection!.verb!.futurEnclitic!.sing1" [sing1Pronoun]="pronouns.futursing1enclitic"
                [sing2]="versionCopy.inflection!.verb!.futurEnclitic!.sing2" [sing2Pronoun]="pronouns.futursing2enclitic"
                [sing3]="versionCopy.inflection!.verb!.futurEnclitic!.sing3m" [sing3Pronoun]="pronouns.futursing3encliticm"
                [sing3Alt]="versionCopy.inflection!.verb!.futurEnclitic!.sing3f" [sing3PronounAlt]="pronouns.futursing3encliticf"
                [plural1]="versionCopy.inflection!.verb!.futurEnclitic!.plural1" [plural1Pronoun]="pronouns.futurplural1enclitic"
                [plural2]="versionCopy.inflection!.verb!.futurEnclitic!.plural2" [plural2Pronoun]="pronouns.futurplural2enclitic"
                [plural3]="versionCopy.inflection!.verb!.futurEnclitic!.plural3" [plural3Pronoun]="pronouns.futurplural3enclitic">
              </app-conjugation-personal>
            </div>
          }
          @if (hasEncliticFuturDubitativ()) {
            <div>
              <app-conjugation-personal
                [title]="'verbOverlayPopup.futureDubitativ' | translate"
                [sing1]="versionCopy.inflection!.verb!.futurDubitativEnclitic!.sing1" [sing1Pronoun]="pronouns.futurdubitativsing1enclitic"
                [sing2]="versionCopy.inflection!.verb!.futurDubitativEnclitic!.sing2" [sing2Pronoun]="pronouns.futurdubitativsing2enclitic"
                [sing3]="versionCopy.inflection!.verb!.futurDubitativEnclitic!.sing3m" [sing3Pronoun]="pronouns.futurdubitativsing3encliticm"
                [sing3Alt]="versionCopy.inflection!.verb!.futurDubitativEnclitic!.sing3f" [sing3PronounAlt]="pronouns.futurdubitativsing3encliticf"
                [plural1]="versionCopy.inflection!.verb!.futurDubitativEnclitic!.plural1" [plural1Pronoun]="pronouns.futurdubitativplural1enclitic"
                [plural2]="versionCopy.inflection!.verb!.futurDubitativEnclitic!.plural2" [plural2Pronoun]="pronouns.futurdubitativplural2enclitic"
                [plural3]="versionCopy.inflection!.verb!.futurDubitativEnclitic!.plural3" [plural3Pronoun]="pronouns.futurdubitativplural3enclitic">
              </app-conjugation-personal>
            </div>
          }
        </div>
      </div>
    }
  </div>
}

