<div nz-row [nzGutter]="16">
  <div nz-col nzSpan="9" class="left-side">
    <nz-content class="duration-filter">
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Lexikon</nz-page-header-title>
        <nz-page-header-subtitle>Find and modify all entries</nz-page-header-subtitle>
      </nz-page-header>
      <app-lexicon-filter [searchCriteria]="searchCriteria" (searchCriteriaChange)="search($event)"></app-lexicon-filter>
    </nz-content>

    <nz-content>
      <nz-page-header [nzGhost]="false">
        <nz-page-header-title>Lemma History</nz-page-header-title>
        <nz-page-header-subtitle>See all the changes to the selected lemma</nz-page-header-subtitle>
      </nz-page-header>
      <app-version-history
        [lexEntry]="selectedLexEntry"
        ></app-version-history>
    </nz-content>
  </div>

  <div nz-col nzSpan="15" class="right-side">
    <nz-content>
      <app-lemma-list
        [lexEntries]="virtualResults"
        (updatePage)="changePage($event)"
        (showDetailsForLexEntry)="showLexEntryDetails($event)"
        [columns]="columns"
        ></app-lemma-list>
    </nz-content>
  </div>
</div>
