<h1>Allgemeine Informationen</h1>

<p>
  Diese Online-Version des sursilvanischen Wortschatzes basiert auf dem <i>Lexicon Romontsch Cumparativ</i> von Alexi Decurtins und umfasst derzeit:
  {{ nbrEntries | thousandSeparator }} Einträge.
</p>

<p>Dieses Online-Wörterbuch wurde auf der Grundlage des <i>Lexicon Romontsch
  Cumparativ</i> von Alexi Decurtins erstellt, das im Jahr 2012 von der
  Societad Retorumantscha veröffentlicht wurde, damals mit Unterstützung von:
  Associaziun Raiffeisen Svizra, Sprachförderung des Kantons Graubünden,
  Ernst Göhner Stiftung, Beitragsfonds der Graubündner Kantonalbank,
  Stiftung Dr. M. O. Winterhalter, Legat Anton Cadonau, Willi Muntwyler
  Stiftung, Bürgergemeinde Domat/Ems, Stavros S. Niarchos Foundation (Chur),
  Quarta Lingua, Regiun Surselva, Pro Raetia, Südostschweiz Presse und Print AG
  (Chur) sowie der Lia Rumantscha. Darüber hinaus hat das Institut des
  Dicziunari Rumantsch Grischun die Veröffentlichung des <i>Lexicon Romontsch
    Cumparativ</i> in technischen und grafischen Belangen unterstützt. Bis zur
  Veröffentlichung dieses „Pledari sursilvan“ auf der Grundlage des
  <i>Lexicon Romontsch Cumparativ</i> war das Sursilvan im Online-Wörterbuch
  vertreten, das auf dem <i>Niev Vocabulari Sursilvan</i> aus dem Jahr 2001
  basierte und in ein System implementiert war, das weder Einträge noch
  Aktualisierungen des Wortbestands erlaubte. Nun ist es auf der Plattform des
  <i>Pledari Grond</i> der Redaktion möglich, das Sursilvan zu pflegen. Zudem
  haben die Benutzerinnen und Benutzer die Möglichkeit, Änderungen, neue Wörter
  und Korrekturen vorzuschlagen. Die laufende Aktualisierung mit Neologismen
  wird kontinuierlich erfolgen.</p>

<p>Die Lia Rumantscha dankt der Societad Retorumantscha für das zur Verfügung
  gestellte Material aus dem <i>Lexicon Romontsch Cumparativ</i>. Ein herzliches
  Dankeschön gilt auch den Personen, die bei der Aufbereitung der Daten, der
  Qualitätskontrolle sowie den entsprechenden technischen Arbeiten mitgewirkt
  haben. Dieses Projekt wurde vom Bundesamt für Kultur finanziert.</p>

<p>
  <b>© Lia Rumantscha, CH-7000 Chur</b>
</p>

<p>
  <b>Konzept und Umsetzung</b><br>
  Lia Rumantscha<br>
  Daniel Telli
</p>

<p>
  <b>Interne Redaktion</b> <br>
  Bettina Vital (Abteilungsleiterin Sprache)<br>
  Laura Decurtins<br>
  Marina Cajacob-Wyss<br>
  Gabriela Holderegger-Pajarola<br>
  Lea Livers<br>
  Angela Schmed
</p>

<p>
  <b>Externe Redaktion</b> <br>
  Marietta Cathomas Manetsch (RTR)
</p>

<p>
  <b>Frühere Redaktorinnen und Redaktoren</b> <br>
  Daniel Telli
</p>

<p>
  <b>Software</b> (Quellcode: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">Frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni und Martin Cantieni
</p>

<p>
  <b>Grafisches Design</b> <br>Remo Caminada, <a href="https://www.remocaminada.com" target="_blank">www.remocaminada.com</a>
</p>
