<h1>Allgemeine Informationen</h1>

<p>
  <b> © Lia Rumantscha, CH-7000 Chur</b>
</p>

<p>
  <b>Konzept und Umsetzung</b><br>
  Lia Rumantscha<br>
  Daniel Telli (bis Februar 2024)<br>
  Ignacio Pérez Prat (ab Februar 2024)<br>
  Marietta Cathomas Manetsch (Koordination)
</p>

<p>
  <b>Interne Redaktion</b> <br>
  Bettina Vital (Abteilungsleiterin Sprache) <br>
  Laura Decurtins<br>
  Marina Cajacob-Wyss<br>
  Gabriela Holderegger-Pajarola<br>
  Lea Livers<br>
  Angela Schmed
</p>

<p>
  <b>Externe Redaktion </b> <br>
  Marietta Cathomas Manetsch (RTR)
</p>

<p>
  <b>Software</b> (Quellcode: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">Frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni e Martin Cantieni
</p>
