@if (lemmaVersion) {
  <div class="content">
    <h4>Furmas dal substantiv</h4>
    <table>
      <tr>
        <th></th>
        <th>masculin</th>
        <th>feminin</th>
      </tr>
      <tr>
        <td>singular</td>
        <td>{{ lemmaVersion.lemmaValues.mSingular ? lemmaVersion.lemmaValues.mSingular : '-' }}</td>
        <td>{{ lemmaVersion.lemmaValues.fSingular ? lemmaVersion.lemmaValues.fSingular : '-' }}</td>
      </tr>
      <tr>
        <td>plural</td>
        <td>{{ lemmaVersion.lemmaValues.mPlural ? lemmaVersion.lemmaValues.mPlural : '-'  }}</td>
        <td>{{ lemmaVersion.lemmaValues.fPlural ? lemmaVersion.lemmaValues.fPlural : '-'  }}</td>
      </tr>
      @if (lemmaVersion.lemmaValues.pluralCollectiv) {
        <tr>
          <td>collectiv</td>
          <td>-</td>
          <td>{{ lemmaVersion.lemmaValues.pluralCollectiv ? lemmaVersion.lemmaValues.pluralCollectiv : '-'  }}</td>
        </tr>
      }
    </table>
  </div>
}
