<div class="modal-content" *ngIf="language === 'rumantschgrischun'">
  <h1>Installaziun da la controlla ortografica en macOS</h1>

  <p>Ils programs da correctura ortografica rumantscha baseschan sin «Hunspell» e funcziunan era sin il sistem operativ macOS. Sch'il dicziunari rumantsch vegn installà directamain en macOS, stat la funcziun da correctura a disposiziun en numerus programs dad Apple, tranter auter en Mail e TextEdit. L'installaziun sto dentant succeder a moda manuala.</p>

  <p>Cun ils suandants pass pon ins installar la correctura ortografica surmirana sin il sistem macOS:</p>

  <ol>
    <li>
      <em>Telechargiar la suandanta datoteca sin il computer:</em><br>

      <button (click)="downloadHunspell.emit()">{{hunspellLanguage}}.zip</button><br>
    </li>

    <li>
      <em>Decumprimer il ZIP</em><br>
      <p>
        Cun cliccar duas giadas sin la datoteca vegn extratg in ordinatur che cuntegna quatter datotecas.<br>
      </p>

      <img src="assets/img/manuals/manual_macos_2.png">

      <p>
        - ina datoteca cun il dicziunari<br>
        - ina datoteca cun reglas (grammaticalas)<br>
        - ina datoteca cun la licenza ed<br>
        - ina datoteca che indichescha la versiun
      </p>
    </li>

    <li>
      <em>Avrir l'ordinatur ~/Library/Spelling en il Finder</em>

      <p>Avri per quest intent il Finder u x in ordinatur ed accedi a «Gehe zu» e «Gehe zum Ordner».</p>

      <img src="assets/img/manuals/manual_macos_3a.png">

      <p>Endatai lura «~/Library/Spelling» (senza virgulettas!) e cliccai sin «Öffnen».</p>

      <img src="assets/img/manuals/manual_macos_3b.png">
    </li>

    <li>
      <em>Copiar las quatter datotecas en l'ordinatur ch'è s'avert.</em>

      <p></p>

      <img src="assets/img/manuals/manual_macos_4.png">
    </li>

    <li>
      <em>Serrar tut las fanestras e reaviar il sistem.</em>

      <p>Ussa stat la correctura da l'ortografia a disposiziun, sch'ins tscherna «Rumantsch (Library)».</p>

      <img src="assets/img/manuals/manual_macos_5.png">
    </li>
  </ol>
</div>

<div class="modal-content" *ngIf="language === 'surmiran'">
  <h1>Installaziun dalla controlla ortografica ainten macOS</h1>

  <p>Igls programs da correctura ortografica rumantscha sa basan sen «Hunspell» e funcziuneschan er sen igl sistem operativ macOS. Sch'igl dicziunari rumantsch vign installo directamaintg ainten macOS, stat la funcziun da correctura a disposiziun ainten numerous programs dad Apple, tranter oter ainten Mail e TextEdit. L'installaziun stò dantant succeder an moda manuala.</p>

  <p>Cun igls suandonts pass ins sò installar la correctura ortografica surmirana sen igl sistem macOS:</p>

  <ol>
    <li>
      <em>Telecarger la suandonta datoteca sen igl computer:</em><br>

      <button (click)="downloadHunspell.emit()">{{hunspellLanguage}}.zip</button><br>
    </li>

    <li>
      <em>Decumprimer igl ZIP</em><br>
      <p>
        Cun cliccar dus gedas sen la datoteca vign extratg en ordinatour tgi cuntigna quatter datotecas.<br>
      </p>

      <img src="assets/img/manuals/manual_macos_2.png">

      <p>
        - ena datoteca cun igl dicziunari<br>
        - ena datoteca cun reglas (grammaticalas)<br>
        - ena datoteca cun la licenza ed<br>
        - ena datoteca tgi inditgescha la versiun
      </p>
    </li>

    <li>
      <em>Darveir igl ordinatour ~/Library/Spelling aint igl Finder</em>

      <p>Darvi per chel intent igl Finder u x en ordinatour ed accede a «Gehe zu» e «Gehe zum Ordner».</p>

      <img src="assets/img/manuals/manual_macos_3a.png">

      <p>Andate alloura «~/Library/Spelling» (sainza virgulettas!) e strucle sen «Öffnen».</p>

      <img src="assets/img/manuals/manual_macos_3b.png">
    </li>

    <li>
      <em>Cuptgier las quatter datotecas aint igl ordinatour tg'è sa davert.</em>

      <p></p>

      <img src="assets/img/manuals/manual_macos_4.png">
    </li>

    <li>
      <em>Sarar tot las fanestras e lantscher igl sistem.</em>

      <p>Ossa stat la correctura dall'ortografia a disposiziun sch'ins tscherna «Rumantsch (Library)».</p>

      <img src="assets/img/manuals/manual_macos_5.png">
    </li>
  </ol>
</div>

<div class="modal-content" *ngIf="language === 'sutsilvan'">
  <h1>Instalaziùn da la controla ortografica an macOS</h1>

  <p>Igls programs da corectura ortografica rumàntscha sabasan sen «Hunspell» a funcziuneschan ear sen igl sistem
    operativ macOS. Sch'igl pledari rumàntsch vean instalo directameing an macOS, stat la funcziùn da corectura a
    disposiziùn an numerus programs dad Apple, trànter oter an Mail a TextEdit. L'instalaziùn sto dantànt suczeder
    an moda manuala.</p>

  <p>Cugls suandànts pass san ign instalar la corectura ortografica sutsilvana segl sistem macOS:</p>

  <ol>
    <li>
      <em>Telecargear la suandànta datoteca segl computer:</em><br>

      <button (click)="downloadHunspell.emit()">{{hunspellLanguage}}.zip</button><br>
    </li>

    <li>
      <em>Decumprimer igl ZIP</em><br>
      <p>
        Cun clicar duas geadas sen la datoteca vean extratg egn urdanader ca cuntegna quater datotecas.<br>
      </p>

      <img src="assets/img/manuals/manual_macos_2.png">

      <p>
        - egna datoteca cugl pledari<br>
        - egna datoteca cun reglas (gramaticalas)<br>
        - egna datoteca cun la lizenza<br>
        - egna datoteca ca inditgescha la versiùn
      </p>
    </li>

    <li>
      <em>Earver igl urdanader ~/Library/Spelling agl Finder</em>

      <p>Arved par que intent igl Finder near x egn urdanader ad aczeded a «Gehe zu» a «Gehe zum Ordner».</p>

      <img src="assets/img/manuals/manual_macos_3a.png">

      <p>Nad alura a «~/Library/Spelling» (sainza virguletas!) a struclad sen «Öffnen».</p>

      <img src="assets/img/manuals/manual_macos_3b.png">
    </li>

    <li>
      <em>Cuptgear las quater datotecas agl urdanader c‘â saviert.</em>

      <p></p>

      <img src="assets/img/manuals/manual_macos_4.png">
    </li>

    <li>
      <em>Sarar tut las faneastras a meter ad ir igl sistem.</em>

      <p>Ussa stat la corectura da l'ortografeia a disposiziùn sch'ign tschearna «Rumantsch (Library)».</p>

      <img src="assets/img/manuals/manual_macos_5.png">
    </li>
  </ol>
</div>

<div class="modal-content" *ngIf="language === 'de'">
  <h1>Installation der Rechtschreibprüfung auf macOS</h1>

  <p>Die romanische Rechtschreibprüfung basiert auf der Software «Hunspell», die auch von macOS genutzt wird. Wenn das romanische Wörterbuch direkt in macOS installiert wird, steht die Rechtschreibkorrektur in einigen Apple-Programmen, unter anderem Mail und TextEdit zur Verfügung. Allerdings müssen die Dateien manuell installiert werden. </p>

  <p>Mit folgenden Schritten installieren Sie die Rechtschreibprüfung auf macOS:</p>

  <ol>
    <li>
      <em>Laden Sie folgende Datei herunter:</em><br>

      <button (click)="downloadHunspell.emit()">{{hunspellLanguage}}.zip</button><br>
    </li>

    <li>
      <em>Entpacken Sie die Zip-Datei</em><br>
      <p>
        Durch Doppelklick auf die Zip-Datei wird der Ordner entpackt, der vier verschiedene Dateien enthält.<br>
      </p>

      <img src="assets/img/manuals/manual_macos_2.png">

      <p>
        - eine Datei mit dem Wörterbuch<br>
        - eine Datei mit Regeln zur Generierung von weiteren Wörtern<br>
        - eine Datei mit der Lizenz<br>
        - eine Datei mit Angaben zur Version
      </p>
    </li>

    <li>
      <em>Öffnen Sie den Ordner ~/Library/Spelling im Finder</em>

      <p>Öffnen Sie zu diesem Zweck den Finder oder einen beliebigen Ordner, dann das Menü «Gehe zu» und klicken Sie dann auf «Gehe zum Ordner».</p>

      <img src="assets/img/manuals/manual_macos_3a.png">

      <p>Geben Sie dann «~/Library/Spelling» (ohne Anführungszeichen!) ein und klicken Sie auf «Öffnen».</p>

      <img src="assets/img/manuals/manual_macos_3b.png">
    </li>

    <li>
      <em>Kopieren Sie die vier Dateien in den geöffneten Ordner</em>

      <p></p>

      <img src="assets/img/manuals/manual_macos_4.png">
    </li>

    <li>
      <em>Schliessen Sie alle Fenster und starten Sie den Computer neu</em>

      <p>Sobald man in der entsprechenden Software «Rumantsch (Library)» ausgewählt hat, steht nun die romanische Rechtschreibprüfung zur Verfügung.</p>

      <img src="assets/img/manuals/manual_macos_5.png">
    </li>
  </ol>
</div>
