.pg-modal-wrapper {
  max-width: 638px;
}

.modal-content {
  line-height: 18px;
}

table {
  width:100%;
  white-space: pre-line;
}

tr, td {
  display: block;
}

@media (min-width: 768px) {
  tr {
    display: table-row;
  }

  td {
    display: table-cell;
  }
}
