:host {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.content {
  width: 920px;
  background-color: rgb(227, 227, 227);
  border-radius: 16px;
  padding: 25px;
  line-height: 20px;
  margin: 16px;
  display: flex;

  .spellchecker {
    flex-grow: 1;
  }

  .infos {
    flex-grow: 0;

    ul {
      list-style: none;
      margin-left: 0;
      padding-left: 0;
    }

    li {
      padding-left: 1em;
      text-indent: -1em;
    }

    li:before {
      content: "→";
      color: #848484;
      padding-right: 5px;
    }
  }
}

.loading-notification {
  border: 1px solid orange;
  background-color: rgb(255, 226, 173);
  margin-right: 50px;
  padding: 5px;
  margin-bottom: 16px;
}

.version {
  font-size: 80%;
  margin-right: 50px;
  text-align: right;
  position: relative;
  top: -2px;
  color: #8b8b8b;
}
