:host {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 60px;
}

.content {
  width: 920px;
  background-color: rgb(227, 227, 227);
  padding: 16px;
  line-height: 20px;
  margin: 0;
  display: flex;
  flex-direction: column;

  .backlink {
    margin-bottom: 12px;

    a:hover {
      color: #15e9b1;
      text-decoration: none;
    }
  }

  .main {
    display: flex;
    flex-direction: column;

    .spellchecker {
      flex-grow: 1;
    }

    .infos {
      flex-grow: 0;
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      h2 {
        font-size: 13px;
        font-weight: bold;
        line-height: 20px;
        margin: 0;
        padding: 0;
      }

      ul {
        list-style: none;
        margin-left: 0;
        padding-left: 0;
      }

      li {
        padding-left: 1em;
        text-indent: -1em;
      }

      li:before {
        content: "→";
        color: #848484;
        padding-right: 5px;
      }

      a:hover, a:active, a:focus {
        color: #15e9b1;
        text-decoration: none;
      }

      .credits {
        margin-top: 24px;
        img {
          width: 120px;
          margin-right: 0;
          margin-left: auto;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  :host {
    margin-top: 80px;
    margin-bottom: 40px;
  }

  .content {
    padding: 25px;
    margin: 16px;
    border-radius: 16px;

    .main {
      .infos {
        margin-top: 16px;
        flex-direction: row;

        .instructions {
          max-width: 70%;
        }

        .credits {
          margin-top: 0;
          max-width: 200px;
        }
      }
    }
  }
}

@media (min-width: 1180px) {
  .content {
    width: 1400px;

    .main {
      flex-direction: row;

      .spellchecker {
        margin-right: 24px;
        max-width: 1130px;
      }

      .infos {
        flex-direction: column;
        max-width: 196px;
        margin-top: 0;

        .instructions {
          max-width: 100%;

          a:hover {
            cursor: pointer;
          }
        }

        .credits {
          margin-top: 24px;
          max-width: unset;
        }
      }
    }
  }
}

.loading-notification {
  border: 1px solid orange;
  background-color: rgb(255, 226, 173);
  margin-right: 50px;
  padding: 5px;
  margin-bottom: 16px;
}
