<div class="content">
  <div class="spellchecker" spellcheck="false">
    <div *ngIf="isLoadingData" class="loading-notification">
      Las datas vignan cargedas - spitgier per plascheir en mument
    </div>
    <ng-container *ngIf="editor">
      <tiptap-editor [editor]="editor" [(ngModel)]="value"></tiptap-editor>
    </ng-container>
    <div class="version">
      versiun: {{ version }}
    </div>
  </div>
  <div class="infos">
    <p>
      <b>Installar sen igl computer</b><br>
    </p>
      <ul>
        <li>Microsoft Office Windows</li>
        <li>Microsoft Office macOS</li>
        <li>macOS</li>
        <li>LibreOffice</li>
        <li>Mozilla Firefox</li>
      </ul>
  </div>
</div>
