:host {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.content {
  max-width: 900px;
  background-color: rgb(227, 227, 227);
  border-radius: 16px;
  padding: 25px;
  line-height: 20px;
  margin: 16px;
  display: flex;
}

#speller {
  width: 500px;
  height: 300px;
  padding: 12px;
}
