<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email" autocomplete="off">{{ 'users.edit.email' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="'users.edit.email_error' | translate">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!email">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="password">{{ 'users.edit.password' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="password" id="password" autocomplete="new-password" autocomplete="off"/>
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">{{ 'users.edit.password_missing' | translate }}</ng-container>
        <ng-container *ngIf="control.hasError('minlength')">{{ 'users.edit.password_lenght' | translate }}</ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="admin">{{ 'users.edit.is_admin' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <label nz-checkbox formControlName="admin"></label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="environmentService.isLadin()">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="rolePuter">{{ 'users.edit.role' | translate }} Puter</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="rolePuter">
        <nz-option nzValue="EDITOR" [nzLabel]="'users.edit.editor_role' | translate "></nz-option>
        <nz-option nzValue="NONE" [nzLabel]="'users.edit.no_role' | translate "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!environmentService.isLadin()">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleRumantschgrischun">{{ 'users.edit.role' | translate }} RG</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="roleRumantschgrischun">
        <nz-option nzValue="EDITOR" [nzLabel]="'users.edit.editor_role' | translate "></nz-option>
        <nz-option nzValue="NONE" [nzLabel]="'users.edit.no_role' | translate "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!environmentService.isLadin()">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleSurmiran">{{ 'users.edit.role' | translate }} Surmiran</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="roleSurmiran">
        <nz-option nzValue="EDITOR" [nzLabel]="'users.edit.editor_role' | translate "></nz-option>
        <nz-option nzValue="NONE" [nzLabel]="'users.edit.no_role' | translate "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <!--
  <nz-form-item *ngIf="!environmentService.isLadin()">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleSursilvan">{{ 'users.edit.role' | translate }} Sursilvan</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="roleSursilvan">
        <nz-option nzValue="EDITOR" [nzLabel]="'users.edit.editor_role' | translate "></nz-option>
        <nz-option nzValue="NONE" [nzLabel]="'users.edit.no_role' | translate "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
-->

  <nz-form-item *ngIf="!environmentService.isLadin()">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleSutsilvan">{{ 'users.edit.role' | translate }} Sutsilvan</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="roleSutsilvan">
        <nz-option nzValue="EDITOR" [nzLabel]="'users.edit.editor_role' | translate "></nz-option>
        <nz-option nzValue="NONE" [nzLabel]="'users.edit.no_role' | translate "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="environmentService.isLadin()">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleVallader">{{ 'users.edit.role' | translate }} Vallader</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="roleVallader">
        <nz-option nzValue="EDITOR" [nzLabel]="'users.edit.editor_role' | translate "></nz-option>
        <nz-option nzValue="NONE" [nzLabel]="'users.edit.no_role' | translate "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item *ngIf="!environmentService.isLadin()">
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleNames">{{ 'users.edit.role' | translate }} {{ 'users.names' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="roleNames">
        <nz-option nzValue="EDITOR" [nzLabel]="'users.edit.editor_role' | translate "></nz-option>
        <nz-option nzValue="NONE" [nzLabel]="'users.edit.no_role' | translate "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="roleNames">{{ 'users.edit.role' | translate }} {{ 'users.registrations' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" >
      <nz-select formControlName="roleRegistrations">
        <nz-option nzValue="EDITOR" [nzLabel]="'users.edit.editor_role' | translate "></nz-option>
        <nz-option nzValue="NONE" [nzLabel]="'users.edit.no_role' | translate "></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="cancel()">{{ 'users.edit.cancel' | translate }}</button>
  <button nz-button nzType="primary" (click)="save()" [nzLoading]="isLoading">{{ (!!email ? 'users.edit.save' : 'users.edit.create') | translate }}</button>
</div>
