<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24">surpigliar furma existenta</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <button nz-button (click)="copyConjugation()" style="margin-right: 12px;">
        Copiar conjugaziun
      </button>
      <button nz-button *ngIf="copyService.canPasteConjugation()" (click)="pasteConjugation()">
        Encollar conjugaziun ({{copyService.conjugationInfinitive}})
      </button>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="infinitiv">{{ 'edit.conjugation.forms.infinitive' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="infinitiv" id="infinitiv" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RInflectionSubtype" nzRequired>{{ 'edit.conjugation.type' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <div nz-row [nzGutter]="8">
        <div nz-col [nzSpan]="20">
          <nz-select formControlName="RInflectionSubtype" id="RInflectionSubtype">
            <nz-option nzValue="" nzLabel="none"></nz-option>
            <nz-option [nzValue]="type.id" [nzLabel]="type.name" *ngFor="let type of subTypes" nzCustomContent>
              <b [class.subtype]="type.isSubtype">{{type.name}}</b>: {{type.description}}
            </nz-option>
          </nz-select>
        </div>
        <div nz-col [nzSpan]="4">
          <button nz-button (click)="updateForms()">{{ 'edit.conjugation.generate_button' | translate }}</button>
        </div>
      </div>

    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="irregular-checkbox">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <label nz-checkbox formControlName="RRegularInflection">
        <span>Regular generation</span>
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-tabset>
    <nz-tab [nzTitle]="'edit.conjugation.forms.regular' | translate" (nzClick)="triggerChangeDetectionForAutoSizeLater()">
      <div nz-row>
        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.preschent' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentsing1" id="preschentsing1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentsing2" id="preschentsing2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentsing3" id="preschentsing3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentplural1" id="preschentplural1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentplural2" id="preschentplural2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentplural3" id="preschentplural3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.imperfect' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectsing1" id="imperfectsing1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectsing2" id="imperfectsing2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectsing3" id="imperfectsing3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectplural1" id="imperfectplural1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectplural2" id="imperfectplural2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectplural3" id="imperfectplural3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.conjunctiv' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctivsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctivsing1" id="conjunctivsing1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctivsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctivsing2" id="conjunctivsing2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctivsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctivsing3" id="conjunctivsing3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctivplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctivplural1" id="conjunctivplural1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctivplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctivplural2" id="conjunctivplural2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctivplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctivplural3" id="conjunctivplural3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="hasConjunctiv2()">
          <h2>{{ 'edit.conjugation.forms.conjunctiv2' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctiv2sing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctiv2sing1" id="conjunctiv2sing1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctiv2sing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctiv2sing2" id="conjunctiv2sing2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctiv2sing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctiv2sing3" id="conjunctiv2sing3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctiv2plural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctiv2plural1" id="conjunctiv2plural1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctiv2plural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctiv2plural2" id="conjunctiv2plural2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="conjunctiv2plural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="conjunctiv2plural3" id="conjunctiv2plural3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.cundiziunal' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalsing1" id="cundizionalsing1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalsing2" id="cundizionalsing2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalsing3" id="cundizionalsing3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalplural1" id="cundizionalplural1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalplural2" id="cundizionalplural2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalplural3" id="cundizionalplural3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>

        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.futur' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futursing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futursing1" id="futursing1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futursing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futursing2" id="futursing2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futursing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futursing3" id="futursing3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurplural1" id="futurplural1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurplural2" id="futurplural2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurplural3" id="futurplural3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="hasFuturDubitativ()">
          <h2>{{ 'edit.conjugation.forms.futurdubitativ' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativsing1" id="futurdubitativsing1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativsing2" id="futurdubitativsing2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativsing3" id="futurdubitativsing3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativplural1" id="futurdubitativplural1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativplural2" id="futurdubitativplural2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativplural3" id="futurdubitativplural3" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.particip_perfect' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="participperfectms"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="participperfectms" id="participperfectms" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="participperfectfs"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="participperfectfs" id="participperfectfs" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="participperfectmp"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="participperfectmp" id="participperfectmp" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="participperfectfp"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="participperfectfp" id="participperfectfp" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>

        </div>

        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.imperativ' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperativ1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperativ1" id="imperativ1" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperativ2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperativ2" id="imperativ2" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <ng-container *ngIf="hasExtendedImperativ()">
            <nz-form-item>
              <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperativ3"></nz-form-label> -->
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea nzAutosize nz-input formControlName="imperativ3" id="imperativ3" [readonly]="isRegular"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperativ4"></nz-form-label> -->
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea nzAutosize nz-input formControlName="imperativ4" id="imperativ4" [readonly]="isRegular"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperativ5"></nz-form-label> -->
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea nzAutosize nz-input formControlName="imperativ5" id="imperativ5" [readonly]="isRegular"></textarea>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperativ6"></nz-form-label> -->
              <nz-form-control [nzSm]="14" [nzXs]="24">
                <textarea nzAutosize nz-input formControlName="imperativ6" id="imperativ6" [readonly]="isRegular"></textarea>
              </nz-form-control>
            </nz-form-item>
          </ng-container>
        </div>
        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.gerundi' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="gerundium"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="gerundium" id="gerundium" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>

        </div>
      </div>
    </nz-tab>
    <nz-tab [nzTitle]="'edit.conjugation.forms.enclitic' | translate" *ngIf="hasEncliticForms()" (nzClick)="triggerChangeDetectionForAutoSizeLater()">
      <div nz-row>
        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.preschent' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentsing1enclitic" id="preschentsing1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentsing2enclitic" id="preschentsing2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentsing3encliticm" id="preschentsing3encliticm" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentsing3encliticf" id="preschentsing3encliticf" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentplural1enclitic" id="preschentplural1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentplural2enclitic" id="preschentplural2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="preschentplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="preschentplural3enclitic" id="preschentplural3enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.imperfect' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectsing1enclitic" id="imperfectsing1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectsing2enclitic" id="imperfectsing2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectsing3encliticm" id="imperfectsing3encliticm" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectsing3encliticf" id="imperfectsing3encliticf" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectplural1enclitic" id="imperfectplural1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectplural2enclitic" id="imperfectplural2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="imperfectplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="imperfectplural3enclitic" id="imperfectplural3enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzSpan="12">
          <h2>{{ 'edit.conjugation.forms.cundiziunal' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalsing1enclitic" id="cundizionalsing1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalsing2enclitic" id="cundizionalsing2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalsing3encliticm" id="cundizionalsing3encliticm" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalsing3encliticf" id="cundizionalsing3encliticf" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalplural1enclitic" id="cundizionalplural1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalplural2enclitic" id="cundizionalplural2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="cundizionalplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="cundizionalplural3enclitic" id="cundizionalplural3enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="hasEncliticFutur()">
          <h2>{{ 'edit.conjugation.forms.futur' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futursing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futursing1enclitic" id="futursing1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futursing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futursing2enclitic" id="futursing2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futursing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futursing3encliticm" id="futursing3encliticm" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futursing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futursing3encliticf" id="futursing3encliticf" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurplural1enclitic" id="futurplural1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurplural2enclitic" id="futurplural2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurplural3enclitic" id="futurplural3enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div nz-col nzSpan="12" *ngIf="hasEncliticFutur() && hasFuturDubitativ()">
          <h2>{{ 'edit.conjugation.forms.futurdubitativ' | translate }}</h2>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativsing1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativsing1enclitic" id="futurdubitativsing1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativsing2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativsing2enclitic" id="futurdubitativsing2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativsing3encliticm" id="futurdubitativsing3encliticm" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativsing3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativsing3encliticf" id="futurdubitativsing3encliticf" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativplural1"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativplural1enclitic" id="futurdubitativplural1enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativplural2"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativplural2enclitic" id="futurdubitativplural2enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <!-- <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="futurdubitativplural3"></nz-form-label> -->
            <nz-form-control [nzSm]="14" [nzXs]="24">
              <textarea nzAutosize nz-input formControlName="futurdubitativplural3enclitic" id="futurdubitativplural3enclitic" [readonly]="isRegular"></textarea>
            </nz-form-control>
          </nz-form-item>
        </div>
      </div>
    </nz-tab>
  </nz-tabset>


</form>

<div *nzModalFooter>
  <div class="footer-buttons">
    <div>
      <button nz-button nzType="default" (click)="cancel()">{{ 'edit.cancel' | translate }}</button>
      <button nz-button nzType="default" (click)="reset()">{{ 'edit.reset' | translate }}</button>
    </div>
    <div>
      <button nz-button nzType="primary" (click)="ok()">{{ 'edit.ok' | translate }}</button>
    </div>
  </div>
</div>
