<nz-layout>
  <div nz-row [nzGutter]="16">
    <div nz-col [nzSpan]="8" *ngIf="authService.isEditorRumantschgrischun()">
      <app-idiom-card name="Rumantsch Grischun" url="rumantschgrischun"></app-idiom-card>
    </div>
    <div nz-col [nzSpan]="8" *ngIf="authService.isEditorSurmiran()">
      <app-idiom-card name="Surmiran" url="surmiran"></app-idiom-card>
    </div>
    <div nz-col [nzSpan]="8" *ngIf="authService.isEditorSutsilvan()">
      <app-idiom-card name="Sutsilvan" url="sutsilvan"></app-idiom-card>
    </div>
  </div>
</nz-layout>
