.inflection-selection {
  width: calc(100% - 24px - 8px);
  margin-right: 8px;
}

.infleciton-edit {
  cursor: pointer;
  position: relative;
  top: 4px;
  font-size: 24px;
  color: #1890ff;
  transition: all 0.3s;
}

.infleciton-edit:hover {
  color: #00509b;
}

.info-input {
  width: calc(100% - 24px - 8px);
  margin-right: 8px;
}

.footer-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
