<app-pronunciation-characters *ngIf="environmentService.isLadin()"></app-pronunciation-characters>
<form nz-form [formGroup]="validateForm">
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="categories">{{ 'edit.lemma.category' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="categories" id="categories" class="info-input" [nzAutocomplete]="categoryAuto" (input)="categoryChanged()"/>
          <nz-autocomplete [nzDataSource]="categoryAutocomplete" nzBackfill #categoryAuto></nz-autocomplete>
          <i nz-icon nzType="info-circle" class="info-button" nz-popover [nzPopoverContent]="'edit.lemma.category_info' | translate" nzPopoverPlacement="right"></i>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="REtymologie">{{ 'edit.lemma.etymology' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="REtymologie" id="REtymologie"/>
        </nz-form-control>
      </nz-form-item>

    </div>
  </div>

  <h2>{{ 'edit.lemma.german' | translate }}</h2>
  <div nz-row>
    <div nz-col nzSpan="12">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="DStichwort">{{ 'edit.lemma.de' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DStichwort" id="DStichwort" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DGenus">{{ 'edit.lemma.de_gender' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DGenus" id="DGenus" [nzAutocomplete]="dGenderAutocomplete" (ngModelChange)="dGenderAutocompleteChanged($event)"/>
          <nz-autocomplete [nzDataSource]="dGenderAutocompleteValues" nzBackfill #dGenderAutocomplete></nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DTags">{{ 'edit.lemma.de_tags' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DTags" id="DTags" />
        </nz-form-control>
      </nz-form-item>

    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DGrammatik">{{ 'edit.lemma.de_grammar' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DGrammatik" id="DGrammatik" [nzAutocomplete]="dGrammarAutocomplete" (ngModelChange)="dGrammarAutocompleteChanged($event)"/>
          <nz-autocomplete [nzDataSource]="dGrammarAutocompleteValues" nzBackfill #dGrammarAutocomplete></nz-autocomplete>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DSubsemantik">{{ 'edit.lemma.de_semantics' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DSubsemantik" id="DSubsemantik" [nzAutocomplete]="dSemanticsAuto" (input)="dSemanticsChanged()"/>
          <nz-autocomplete [nzDataSource]="dSemanticsAutocomplete" nzBackfill #dSemanticsAuto></nz-autocomplete>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DRedirect">{{ 'edit.lemma.de_link' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DRedirect" id="DRedirect" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-divider></nz-divider>

  <h2>{{ 'edit.lemma.romansh' | translate }}</h2>
  <div nz-row>
    <div nz-col nzSpan="12">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="RStichwort">{{ 'edit.lemma.rm' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RStichwort" id="RStichwort" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RGenus">{{ 'edit.lemma.rm_gender' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RGenus" id="RGenus" [nzAutocomplete]="rGenderAutocomplete" (ngModelChange)="rGenderAutocompleteChanged($event)"/>
          <nz-autocomplete [nzDataSource]="rGenderAutocompleteValues" nzBackfill #rGenderAutocomplete></nz-autocomplete>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RTags">{{ 'edit.lemma.rm_tags' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RTags" id="RTags" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RInflectionType">{{ 'edit.lemma.inflection.title' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="RInflectionType" id="RInflectionType" class="inflection-selection">
            <nz-option nzValue="" [nzLabel]="'edit.lemma.inflection.none' | translate"></nz-option>
            <nz-option nzValue="V" [nzLabel]="'edit.lemma.inflection.verb' | translate"></nz-option>
            <nz-option nzValue="NOUN" [nzLabel]="'edit.lemma.inflection.noun' | translate"></nz-option>
            <nz-option nzValue="ADJECTIVE" [nzLabel]="'edit.lemma.inflection.adjective' | translate"></nz-option>
            <nz-option nzValue="PRONOUN" [nzLabel]="'edit.lemma.inflection.pronoun' | translate"></nz-option>
            <nz-option nzValue="OTHER" [nzLabel]="'edit.lemma.inflection.other' | translate"></nz-option>
          </nz-select>
          <i nz-icon nzType="edit" class="inflection-edit" (click)="editVerb()" *ngIf="validateForm.controls['RInflectionType'].value === 'V'"></i>
          <i nz-icon nzType="edit" class="inflection-edit" (click)="editNoun()" *ngIf="validateForm.controls['RInflectionType'].value === 'NOUN'"></i>
          <i nz-icon nzType="edit" class="inflection-edit" (click)="editAdjective()" *ngIf="validateForm.controls['RInflectionType'].value === 'ADJECTIVE'"></i>
          <i nz-icon nzType="edit" class="inflection-edit" (click)="editPronoun()" *ngIf="validateForm.controls['RInflectionType'].value === 'PRONOUN'"></i>
          <i nz-icon nzType="edit" class="inflection-edit" (click)="editOther()" *ngIf="validateForm.controls['RInflectionType'].value === 'OTHER'"></i>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RInflectionType">{{ 'lexicon.lemma.columns.pronunciation' | translate }}</nz-form-label>
        <nz-form-control>
          <ng-container *ngIf="!lemmaVersion?.lemmaValues?.RPronunciation">
            nagina
          </ng-container>
          <ng-container *ngIf="lemmaVersion?.lemmaValues?.RPronunciation">
            <app-audio-player [url]="getAudioUrlById(lemmaVersion?.lemmaValues?.RPronunciation!)"></app-audio-player>
          </ng-container>
          <i nz-icon nzType="edit" class="inflection-edit" (click)="editPronunciation()"></i>
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RGrammatik">{{ 'edit.lemma.rm_grammar' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RGrammatik" id="RGrammatik" [nzAutocomplete]="rGrammarAutocomplete" (ngModelChange)="rGrammarAutocompleteChanged($event)"/>
          <nz-autocomplete [nzDataSource]="rGrammarAutocompleteValues" nzBackfill #rGrammarAutocomplete></nz-autocomplete>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RSubsemantik">{{ 'edit.lemma.rm_semantics' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RSubsemantik" id="RSubsemantik" [nzAutocomplete]="rSemanticsAuto" (input)="rSemanticsChanged()"/>
          <nz-autocomplete [nzDataSource]="rSemanticsAutocomplete" nzBackfill #rSemanticsAuto></nz-autocomplete>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RRedirect">{{ 'edit.lemma.rm_link' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RRedirect" id="RRedirect" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RFlex">{{ 'edit.lemma.rm_conjugation' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RFlex" id="RFlex" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-divider></nz-divider>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_comment">{{ 'edit.lemma.comment' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input formControlName="contact_comment" id="contact_comment" ></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="contact_email">{{ 'edit.lemma.email' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="contact_email" id="contact_email" />
      <button nz-button nzType="default" class="reply-comment" (click)="replyComment()">{{ 'reply.button' | translate }}</button>
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <div class="footer-buttons">
    <div>
      <button nz-button nzType="default" (click)="cancel()">{{ 'edit.cancel' | translate }}</button>
      <button nz-button nzType="default" (click)="reset()">{{ 'edit.reset' | translate }}</button>
    </div>
    <div>
      <button nz-button nzType="default" (click)="save(true)" [nzLoading]="isLoading">{{ (!!lexEntryId ? 'edit.save_suggestion' : 'edit.create_suggestion') | translate }}</button>
      <button nz-button nzType="primary" (click)="save(false)" [nzLoading]="isLoading">{{ (!!lexEntryId ? 'edit.save' : 'edit.create') | translate }}</button>
    </div>
  </div>
</div>

