

<form nz-form [formGroup]="validateForm">
  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="categories">{{ 'edit.lemma.category' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="categories" id="categories" class="info-input" />
          <i nz-icon nzType="info-circle" class="info-button" nz-popover [nzPopoverContent]="'edit.lemma.category_info' | translate" nzPopoverPlacement="right"></i>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <h2>{{ 'edit.lemma.german' | translate }}</h2>
  <div nz-row>
    <div nz-col nzSpan="12">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="DStichwort">{{ 'edit.lemma.de' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DStichwort" id="DStichwort" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DGenus" nzRequired>{{ 'edit.lemma.de_gender' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="DGenus" id="DGenus">
            <nz-option *ngFor="let item of dGenusValues" [nzValue]="item" [nzLabel]="item"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="DTags">{{ 'edit.lemma.de_tags' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DTags" id="DTags" />
        </nz-form-control>
      </nz-form-item>

    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="DGrammatik" nzRequired>{{ 'edit.lemma.de_grammar' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="DGrammatik" id="DGrammatik">
            <nz-option *ngFor="let item of dGrammatikValues" [nzValue]="item" [nzLabel]="item"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="DSubsemantik">{{ 'edit.lemma.de_semantics' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DSubsemantik" id="DSubsemantik" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="DRedirect">{{ 'edit.lemma.de_link' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="DRedirect" id="DRedirect" />
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>

  <nz-divider></nz-divider>

  <h2>{{ 'edit.lemma.romansh' | translate }}</h2>
  <div nz-row>
    <div nz-col nzSpan="12">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="RStichwort">{{ 'edit.lemma.rm' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RStichwort" id="RStichwort" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RGenus" nzRequired>{{ 'edit.lemma.rm_gender' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="RGenus" id="RGenus">
            <nz-option *ngFor="let item of rGenusValues" [nzValue]="item" [nzLabel]="item"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="RTags">{{ 'edit.lemma.rm_tags' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RTags" id="RTags" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RInflectionType" nzRequired>{{ 'edit.lemma.inflection.title' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="RInflectionType" id="RInflectionType" class="inflection-selection">
            <nz-option nzValue="" [nzLabel]="'edit.lemma.inflection.none' | translate"></nz-option>
            <nz-option nzValue="V" [nzLabel]="'edit.lemma.inflection.verb' | translate"></nz-option>
            <nz-option nzValue="NOUN" [nzLabel]="'edit.lemma.inflection.noun' | translate"></nz-option>
            <nz-option nzValue="ADJECTIVE" [nzLabel]="'edit.lemma.inflection.adjective' | translate"></nz-option>
          </nz-select>
          <i nz-icon nzType="edit" class="infleciton-edit" (click)="editVerb()" *ngIf="validateForm.controls['RInflectionType'].value === 'V'"></i>
          <i nz-icon nzType="edit" class="infleciton-edit" (click)="editNoun()" *ngIf="validateForm.controls['RInflectionType'].value === 'NOUN'"></i>
          <i nz-icon nzType="edit" class="infleciton-edit" (click)="editAdjective()" *ngIf="validateForm.controls['RInflectionType'].value === 'ADJECTIVE'"></i>
        </nz-form-control>
      </nz-form-item>

    </div>
    <div nz-col nzSpan="12">

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="RGrammatik" nzRequired>{{ 'edit.lemma.rm_grammar' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <nz-select formControlName="RGrammatik" id="RGrammatik">
            <nz-option *ngFor="let item of rGrammatikValues" [nzValue]="item" [nzLabel]="item"></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="RSubsemantik">{{ 'edit.lemma.rm_semantics' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RSubsemantik" id="RSubsemantik" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="RRedirect">{{ 'edit.lemma.rm_link' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RRedirect" id="RRedirect" />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="RFlex">{{ 'edit.lemma.rm_conjugation' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="RFlex" id="RFlex" />
        </nz-form-control>
      </nz-form-item>


    </div>
  </div>

  <nz-divider></nz-divider>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="contact_comment">{{ 'edit.lemma.comment' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <textarea nz-input formControlName="contact_comment" id="contact_comment" ></textarea>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="contact_email">{{ 'edit.lemma.email' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="contact_email" id="contact_email" />
    </nz-form-control>
  </nz-form-item>
</form>

<div *nzModalFooter>
  <div class="footer-buttons">
    <div>
      <button nz-button nzType="default" (click)="cancel()">{{ 'edit.cancel' | translate }}</button>
      <button nz-button nzType="default" (click)="reset()">{{ 'edit.reset' | translate }}</button>
    </div>
    <div>
      <button nz-button nzType="default" (click)="save(true)" [nzLoading]="isLoading">{{ (!!lexEntryId ? 'edit.save_suggestion' : 'edit.create_proposta') | translate }}</button>
      <button nz-button nzType="primary" (click)="save(false)" [nzLoading]="isLoading">{{ (!!lexEntryId ? 'edit.save' : 'edit.create') | translate }}</button>
    </div>
  </div>
</div>

