<div class="pg-modal-wrapper">
  @if (lemmaVersion) {
    <div class="modal-content">
      <h3>
        {{ removeCf(lemmaVersion.lemmaValues.RStichwort) }}@if (!!lemmaVersion.lemmaValues.RFlex) {
        <i>[{{ lemmaVersion.lemmaValues.RFlex }}]</i>
        }@if (!!lemmaVersion.lemmaValues.RSubsemantik) {
        ({{ lemmaVersion.lemmaValues.RSubsemantik}})
      }
      @if (!!lemmaVersion.lemmaValues.RGenus) {
        <i>[{{ lemmaVersion.lemmaValues.RGenus }}]</i>
        }@if (!!lemmaVersion.lemmaValues.RGrammatik) {
        <i
        >, {{ lemmaVersion.lemmaValues.RGrammatik }}</i>
      }
      <span class="german">
        {{ removeCf(lemmaVersion.lemmaValues.DStichwort) }}@if (!!lemmaVersion.lemmaValues.DSubsemantik) {
        ({{ lemmaVersion.lemmaValues.DSubsemantik}})
        }@if (!!lemmaVersion.lemmaValues.DGenus) {
        <i>[{{ lemmaVersion.lemmaValues.DGenus }}]</i>
        }@if (!!lemmaVersion.lemmaValues.DGrammatik) {
        <i
        >, {{ lemmaVersion.lemmaValues.DGrammatik }}</i>
      }
    </span>
  </h3>
  <app-details-example [lemmaVersion]="lemmaVersion"></app-details-example>
  @if (lemmaVersion.lemmaValues.RInflectionType === 'V') {
    <app-details-verb [lemmaVersion]="lemmaVersion" [idiom]="idiom"></app-details-verb>
  }
  @if (lemmaVersion.lemmaValues.RInflectionType === 'NOUN') {
    <app-details-subst [lemmaVersion]="lemmaVersion"></app-details-subst>
  }
  @if (lemmaVersion.lemmaValues.RInflectionType === 'ADJECTIVE') {
    <app-details-adj [lemmaVersion]="lemmaVersion"></app-details-adj>
  }
</div>
}
<div class="pg-modal-footer">
  <a class="btn" (click)="closeOverlay()">{{ 'verbOverlayPopup.closeButton' | translate }}</a>
</div>
</div>
