<app-pronunciation-characters *ngIf="environmentService.isLadin()"></app-pronunciation-characters>
<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="baseForm">{{ 'edit.pronoun.forms.baseForm' | translate }}</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24">
      <input nz-input formControlName="baseForm" id="baseForm" />
    </nz-form-control>
  </nz-form-item>

  <div nz-row>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mSingular">{{ 'edit.pronoun.forms.mSingular' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="mSingular" id="mSingular" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="mPlural">{{ 'edit.pronoun.forms.mPlural' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="mPlural" id="mPlural" />
        </nz-form-control>
      </nz-form-item>
    </div>
    <div nz-col nzSpan="12">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fSingular">{{ 'edit.pronoun.forms.fSingular' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="fSingular" id="fSingular" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="fPlural">{{ 'edit.pronoun.forms.fPlural' | translate }}</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
          <input nz-input formControlName="fPlural" id="fPlural" />
        </nz-form-control>
      </nz-form-item>

    </div>
  </div>
</form>

<div *nzModalFooter>
  <div class="footer-buttons">
    <div>
      <button nz-button nzType="default" (click)="cancel()">{{ 'edit.cancel' | translate }}</button>
      <button nz-button nzType="default" (click)="reset()">{{ 'edit.reset' | translate }}</button>
    </div>
    <div>
      <button nz-button nzType="primary" (click)="ok()">{{ 'edit.ok' | translate }}</button>
    </div>
  </div>
</div>
