<div class="search-main" [class.center-search]="searchResults.length === 0 && searchCriteria.searchPhrase === ''">
  <app-search-options [searchCriteria]="searchCriteria" (searchCriteriaChange)="search($event)"></app-search-options>

  <div class="result-container" *ngIf="searchResults.length > 0">
    <div class="search-results">
      <span id="searchphrase"> {{ searchCriteria.searchPhrase }}</span>
      <span id="searchStats">
        {{ 'search.results' | translate:{ start: startIndex, end: stopIndex, total: totalEntries } }}
      </span>

      <table class="resultlist">
        <thead>
          <tr>
            <th></th>
            <th>
              <span class="column_title">
                {{ getLanguageName(true) }}
              </span>
            </th>
            <th></th>
            <th>
              <span class="column_title">
                {{ getLanguageName(false) }}
              </span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of searchResults">
            <td>
              <div>
                <span class="verb_overlay" *ngIf="hasVerbLink(result, true)" (click)="showVerbsModal(result)">V</span>
              </div>
            </td>
            <td [class.unverified]="result.verification === 'UNVERIFIED'">
              <ng-container *ngIf="containsLink(result, true)">
                → <a [innerHtml]="getLemma(result, true, containsLink(result, true)) | highlighter:searchCriteria.searchPhrase:searchCriteria.highlight" class="lemma-link" (click)="linkToLemma(containsLink(result, true)!)"></a>
              </ng-container>
              <ng-container *ngIf="!containsLink(result, true)">
                <div [innerHtml]="getLemma(result, true) | highlighter:searchCriteria.searchPhrase:searchCriteria.highlight"></div>
              </ng-container>
            </td>
            <td>
              <div>
                <span class="verb_overlay" *ngIf="hasVerbLink(result, false)" (click)="showVerbsModal(result)">V</span>
              </div>
            </td>
            <td [class.unverified]="result.verification === 'UNVERIFIED'">
              <ng-container *ngIf="containsLink(result, false)">
                → <a [innerHtml]="getLemma(result, false, containsLink(result, false)) | highlighter:searchCriteria.searchPhrase:searchCriteria.highlight" class="lemma-link" (click)="linkToLemma(containsLink(result, false)!)"></a>
              </ng-container>
              <ng-container *ngIf="!containsLink(result, false)">
                <div [innerHtml]="getLemma(result, false) | highlighter:searchCriteria.searchPhrase:searchCriteria.highlight"></div>
              </ng-container>
            </td>
            <td class="change-button">
              <button type="button" class="btn  btn-mini" tabindex="-1" (click)="modify(result)">
                {{ 'search.result_modify' | translate }}
              </button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination pagination-centered" *ngIf="pagination.showPagination">
        <ul>
          <li [class.disabled]="pagination.isFirst"><a (click)="!pagination.isFirst && goToPage(0)"><i></i> {{ 'search.results_first_page' | translate }} </a></li>
          <li [class.disabled]="pagination.isFirst"><a (click)="!pagination.isFirst && goToPage(pagination.currentPage - 2)"><i class="icon-chevron-left"></i>&nbsp;</a></li>

          <li class="a_pag" [class.active]="el.isActive" width="20" *ngFor="let el of pagination.elements">
            <a (click)="goToPage(el.index - 1)">{{ el.index }}</a>
          </li>

          <li [class.disabled]="pagination.isLast"><a (click)="!pagination.isLast && goToPage(pagination.currentPage)"><i class="icon-chevron-right"></i>&nbsp;</a></li>
          <li [class.disabled]="pagination.isLast"><a (click)="!pagination.isLast && goToPage(pagination.lastPage - 1)"><i></i> {{ 'search.results_last_page' | translate }} </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="searchResults.length === 0 && searchCriteria.searchPhrase && searchCriteria.searchPhrase !== ''">
    <div class="not-found">
      <div>
        {{ 'search.not_found' | translate:{ searchPhrase: searchCriteria.searchPhrase } }}
      </div>
      <a class="btn" (click)="openSuggestionModal()"><i class="icon-info-sign"></i>far ina proposta </a>
    </div>
  </div>
</div>
