<div class="search-main" [class.center-search]="searchResults.length === 0 && searchCriteria.searchPhrase === ''">
  <app-search-options (searchEvent)="search($event)"></app-search-options>

  <div class="result-container" *ngIf="searchResults.length > 0">
    <div class="search-results">
      <span id="searchphrase"> {{ searchCriteria.searchPhrase }}</span>
      <span id="searchStats">
        {{ 'search.results' | translate:{ start: startIndex, end: stopIndex, total: totalEntries } }}
      </span>

      <table class="resultlist">
        <thead>
          <tr>
            <th></th>
            <th>
              <span class="column_title">
                {{ getLanguageName(true) }}
              </span>
            </th>
            <th></th>
            <th>
              <span class="column_title">
                {{ getLanguageName(false) }}
              </span>
            </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let result of searchResults">
            <td>
              <div>
                <span class="verb_overlay" *ngIf="hasVerbLink(result, true)">V</span>
              </div>
            </td>
            <td>
              <div [innerHtml]="getLemma(result, true)"></div>
            </td>
            <td>
              <div>
                <span class="verb_overlay" *ngIf="hasVerbLink(result, false)">V</span>
              </div>
            </td>
            <td>
              <div [innerHtml]="getLemma(result, false)"></div>
            </td>
            <td class="change-button">
              <div>
                <button type="button" class="btn  btn-mini" tabindex="-1"><i class="icon-edit"></i> modifitgar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="pagination pagination-centered" *ngIf="pagination.showPagination">
        <ul>
          <li [class.disabled]="pagination.isFirst"><a (click)="goToPage(1)"><i></i> emprima </a></li>
          <li [class.disabled]="pagination.isFirst"><a (click)="goToPage(pagination.currentPage - 1)"><i class="icon-chevron-left"></i>&nbsp;</a></li>

          <li class="a_pag" [class.active]="el.isActive" width="20" *ngFor="let el of pagination.elements">
            <a (click)="goToPage(el.index)">{{ el.index }}</a>
          </li>

          <li [class.disabled]="pagination.isLast"><a (click)="goToPage(pagination.currentPage + 1)"><i class="icon-chevron-right"></i>&nbsp;</a></li>
          <li [class.disabled]="pagination.isLast"><a (click)="goToPage(pagination.lastPage)"><i></i> davosa </a></li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="searchResults.length === 0 && searchCriteria.searchPhrase !== ''">
    <table cellspacing="0" cellpadding="0" style="width: 100%;">
      <tbody>
        <tr>
          <td style="vertical-align: top;">
            <div class="container-fluid">
              <div class="row-fluid">
                <div class="span12">
                  <div>
                    {{ 'search.not_found' | translate:{ searchPhrase: searchCriteria.searchPhrase } }}
                  </div>
                  <a href="javascript:;" class="btn"><i class="icon-info-sign"></i>far ina proposta </a>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
