@if (manualType === 'macos') {
  <div class="pg-modal-wrapper">
    <app-manual-macos [language]="language!" (downloadHunspell)="downloadHunspell()" [hunspellLanguage]="hunspellLanguage"></app-manual-macos>
  </div>
}

@if (manualType === 'hunspell') {
  <div class="pg-modal-wrapper">
    <app-manual-hunspell [language]="language!" (downloadHunspell)="downloadHunspell()" [hunspellLanguage]="hunspellLanguage"></app-manual-hunspell>
  </div>
}

@if (manualType === 'word') {
  <div class="pg-modal-wrapper">
    <app-manual-word [language]="language!"></app-manual-word>
  </div>
}
