<h1>Infurmaziuns generalas</h1>

<p>
  <strong>Versiun online da la banca da datas linguisticas da la
    Lia Rumantscha (LR) installada en l'internet en collavuraziun cun la
    Giuventetgna Rumantscha (<a href="http://www.giuru.ch/" target="_blank">GiuRu</a>).
  </strong>
</p>

<p>
  {{ nbrEntries }} endataziuns.
</p>

<p>Quest Pledari Grond online sa basa sin la banca da datas
  linguisticas da la LR, sviluppada dapi il 1982 en connex cun la
  creaziun dal rumantsch grischun, l'innovaziun linguistica e l’ulteriura
  standardisaziun dal rumantsch grischun. Il num "PLEDARI" stat per ina
  collecziun da pleds senza tut las indicaziuns grammaticalas usitadas en
  dicziunaris e vocabularis tradiziunals, dentant cun numerusas propostas
  per il diever dals pleds e modas da dir actualas. Il Pledari Grond
  online è la pli voluminusa collecziun da pleds rumantschs accessibla al
  public. Il Pledari Grond online vegn actualisà mintga di tant da la
  redacziun sco era da ses utilisaders.</p>

<p>In pledari d’ina lingua n’è dentant mai cumplet e terminà. Uschè
  ditg che la lingua viva, sa sviluppa e crescha quel, s'adattond
  organicamain als basegns communicativs da la cuminanza linguistica. Tut
  las utilisadras e tut ils utilisaders èn envidads da contribuir
  activamain al svilup dal Pledari Grond online. Tgi che na chatta betg
  in pled u in'expressiun po far propostas cun il formular correspundent
  (cliccar sin il buttun 'far ina proposta' ed il formular cumpara). Tgi
  che vesa in sbagl po proponer la correctura u scriver ina remartga
  medemamain cun il formular correspundent (cliccar sin il buttun
  'modifitgar' ed il formular cumpara).</p>

<p>
  <b> © Lia Rumantscha, CH-7000 Cuira</b>
</p>

<p>
  <b>Concept e realisaziun </b> <br> Lia Rumantscha, Anna-Alice
  Dazzi e Daniel Telli
</p>

<p>
  <b>Redacziun actuala dal Pledari Grond online </b> <br> Daniel
  Telli <br> Marietta Cathomas Manetsch <br> Gabriela
  Holderegger Pajarola <br> Angela Schmed Bass <br> Marina Wyss
</p>

<p>
  <b>Anteriuras redacturas ed anteriurs redacturs</b> <br> Georges
  Darms <br> Anna-Alice Dazzi Gross <br> Manfred Gross <br> Annetta Zini
</p>

<p>
  <b>Software</b> (code: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni e Martin Cantieni
  <br>basà sin concept e code da <a href="https://spinfo.phil-fak.uni-koeln.de/forschung/abgeschlossene-forschungsprojekte/maalr-a-modern-approach-to-aggregate-lexical-resources" target="_blank">Maalr</a>
</p>

<p>
  <b>Design grafic</b> <br>Remo Caminada, <a href="https://www.remocaminada.com" target="_blank">www.remocaminada.com</a>
</p>
