<h1>Infurmaziùns generalas</h1>

<p>
  <strong>Questa versiùn online digl vocabulari sutsilvan sabasa segl Pledari sutsilvan-tudestg/Wörterbuch
    Deutsch-Sutsilvan c’e vagnieu redigieu da Wolfgang Eichenhofer ad edieu igls 2002 da Mieds d'instrucziùn digl
    Grischùn. Tutegna sco an lez satgatan las furmas tumleastgegnas trànter parantesas angularas.</strong>
</p>

<p>
  {{ nbrEntries | thousandSeparator }} andataziùns.
</p>

<p>Igl vocabulari d’egn lungatg e dantànt mena cumplet a termino. Aschigî c’igl lungatg viva, sasvilupescha a crescha
  quel, s'adatànd organicameing agls basegns comunicativs da la cuminànza linguistica. Tut las utilisadras a tut igls
  utilisaders en anvidos da cuntribuir activameing agl svilup digl Pledari sutsilvan online. Tgi ca tgata betg egn pled
  near egn'expressiùn sa far propostas cugl formular coraspundaint (clicar segl butùn 'far egna proposta' ad igl
  formular cumpara). Tgi ca veza egn sbagl sa proponer la corectura near scriver egna remartga mademameing cugl formular
  coraspundaint (clicar segl butùn 'modifitgear' ad igl formular cumpara).</p>

<p>
  <b> © Lia Rumantscha, CH-7000 Cuira</b>
</p>

<p>
  <b>Concept a realisaziùn</b>
  <br>Lia Rumantscha, Daniel Telli
</p>

<p>
  <b>Redacziùn actuala</b>
  <br>Johann Clopath
</p>

<p>
  <b>Software</b> (code: <a href="https://github.com/farscrl/pledarigrond-frontend" target="_blank">frontend</a>, <a href="https://github.com/farscrl/pledarigrond-api" target="_blank">API</a>)
  <br>far ScRL <a href="https://www.far.ch" target="_blank">far.ch</a>, Gion-Andri Cantieni e Martin Cantieni
  <br>basà sin concept e code da <a href="https://spinfo.phil-fak.uni-koeln.de/forschung/abgeschlossene-forschungsprojekte/maalr-a-modern-approach-to-aggregate-lexical-resources" target="_blank">Maalr</a>
</p>

<p>
  <b>Design grafic</b>
  <br>Remo Caminada, <a href="https://www.remocaminada.com" target="_blank">www.remocaminada.com</a>
</p>
