<div class="pg-modal-wrapper">
  @if (authService.isLoggedIn()) {
    <div class="modal-content">
      <h3>{{ 'export.title' | translate }}</h3>
      <p>{{ 'export.licence' | translate | translateCut:'0' }}<a href="https://creativecommons.org/licenses/by/4.0/deed.de" target="_blank">{{ 'export.licence' | translate | translateCut:'1' }}</a>{{ 'export.licence' | translate | translateCut:'2' }}</p>
    </div>
  }
  @if (!authService.isLoggedIn()) {
    <div class="modal-content">
      <h3>{{ 'export.title' | translate }}</h3>
      <p>{{ 'export.login' | translate }}</p>
    </div>
  }
  <div class="pg-modal-footer">
    <a class="btn" (click)="closeOverlay()">{{ 'verbOverlayPopup.closeButton' | translate }}</a>
    @if (authService.isLoggedIn()) {
      <a class="btn btn-primary" (click)="export()"><i></i> {{ 'export.download' | translate }} </a>
    }
    @if (!authService.isLoggedIn()) {
      <a class="btn btn-primary" (click)="login()"><i></i> {{ 'export.login_button' | translate }} </a>
    }
  </div>
</div>
