<div *nzModalTitle>
  {{ 'sort_order.title' |translate:{name: searchString} }}
  <ng-container *ngIf="dictionaryLanguage === 'ROMANSH'">({{ 'sort_order.title_rm' |translate }})</ng-container>
  <ng-container *ngIf="dictionaryLanguage === 'GERMAN'">({{ 'sort_order.title_de' |translate }})</ng-container>
</div>

<p>{{ 'sort_order.instructions' |translate }}</p>

<ngx-sortable [items]="itemsToReorder" name="" (listSorted)="listSorted($event)" [listStyle]="listStyle">
  <ng-template let-item>
      <div class="sortable-list-item">
        {{ item.lemmaValues.DStichwort }}
        <ng-container *ngIf="item.lemmaValues.DSubsemantik"> ({{ item.lemmaValues.DSubsemantik }})</ng-container>
        <ng-container *ngIf="item.lemmaValues.DGenus"> [{{ item.lemmaValues.DGenus }}]</ng-container>
         ⇔
        {{ item.lemmaValues.RStichwort }}
        <ng-container *ngIf="item.lemmaValues.RFlex"> [{{ item.lemmaValues.RFlex }}]</ng-container>
        <ng-container *ngIf="item.lemmaValues.RSubsemantik"> ({{ item.lemmaValues.RSubsemantik }})</ng-container>
        <ng-container *ngIf="item.lemmaValues.RGenus"> [{{ item.lemmaValues.RGenus }}]</ng-container>
      </div>
  </ng-template>
</ngx-sortable>

<div *nzModalFooter>
  <button nz-button nzType="default" (click)="cancel()">{{ 'sort_order.cancel' |translate }}</button>
  <button nz-button nzType="primary" (click)="save()" [nzLoading]="isSaving">{{ 'sort_order.save' |translate }}</button>
</div>
