<div id="navi_bottom">
	<ul id="navi_bottom_menu">
		<li>
      <a (click)="openSuggestionModal()" style="cursor: pointer;">far ina nova proposta</a>
    </li>
		<li>
      <a [routerLink]="'/' + idiomLong + '/help'">agid</a>
    </li>
		<li>
      <a [routerLink]="'/' + idiomLong + '/info'">infos</a>
    </li>
		<li *ngIf="idiom === 'rumgr'">
      <a href="/assets/pdf/grammatica_RG.pdf" id="grammatica" target="_blank" class="hide-mobile">grammatica</a>
    </li>
		<li>
      <a href="http://www.liarumantscha.ch" target="_blank">© Lia Rumantscha 1980 – {{ currentYear }}</a>
    </li>
		<li>
      <a href="http://spinfo.phil-fak.uni-koeln.de/maalr.html" target="_blank">sustegnì da Maalr</a>
    </li>
		<li>
      <a href="#exportDialog" id="exportData" data-toggle="modal"><span>export</span></a>
    </li>
	</ul>
</div>
