<div id="outer">
  <div id="inner">
    <form nz-form [formGroup]="validateForm" class="login-form" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your username!">
          <nz-input-wrapper>
            <span nzInputPrefix nz-icon nzType="user"></span>
            <input type="text" nz-input formControlName="userName" [placeholder]="'login.email' | translate" />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Please input your Password!">
          <nz-input-wrapper>
            <span nzInputPrefix nz-icon nzType="lock"></span>
            <input type="password" nz-input formControlName="password" [placeholder]="'login.password' | translate" />
          </nz-input-wrapper>
        </nz-form-control>
      </nz-form-item>
      @if (showError) {
        <div class="error">{{ 'login.error' | translate}}</div>
      }
      <button nz-button class="login-form-button login-form-margin" [nzType]="'primary'">{{ 'login.login_button' | translate}}</button>
    </form>
  </div>
</div>
