<ng-container *ngIf="editor">
  <button class="menu-item" title="{{ 'spellchecker.editor.bold' | translate }}"
          [class.is-active]="editor.isActive('bold')" (click)="editor.chain().focus().toggleBold().run()"> <i class="ri-bold"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.italic' | translate }}"
          [class.is-active]="editor.isActive('italic')" (click)="editor.chain().focus().toggleItalic().run()"> <i class="ri-italic"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.underline' | translate }}"
          [class.is-active]="editor.isActive('underline')" (click)="editor.chain().focus().toggleUnderline().run()"> <i class="ri-underline"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.strike' | translate }}"
          [class.is-active]="editor.isActive('strike')" (click)="editor.chain().focus().toggleStrike().run()"> <i class="ri-strikethrough"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.highlight' | translate }}"
          [class.is-active]="editor.isActive('highlight')" (click)="editor.chain().focus().toggleHighlight().run()"> <i class="ri-mark-pen-line"></i> </button>

  <div class="divider"></div>

  <button class="menu-item" title="{{ 'spellchecker.editor.heading1' | translate }}"
          [class.is-active]="editor.isActive('heading', { level: 1 })" (click)="editor.chain().focus().toggleHeading({ level: 1 }).run()"> <i class="ri-h-1"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.heading2' | translate }}"
          [class.is-active]="editor.isActive('heading', { level: 2 })" (click)="editor.chain().focus().toggleHeading({ level: 2 }).run()"> <i class="ri-h-2"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.paragraph' | translate }}"
          [class.is-active]="editor.isActive('paragraph')" (click)="editor.chain().focus().setParagraph().run()"> <i class="ri-paragraph"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.bulletList' | translate }}"
          [class.is-active]="editor.isActive('bulletList')" (click)="editor.chain().focus().toggleBulletList().run()"> <i class="ri-list-unordered"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.orderedList' | translate }}"
          [class.is-active]="editor.isActive('orderedList')" (click)="editor.chain().focus().toggleOrderedList().run()"> <i class="ri-list-ordered"></i> </button>

  <div class="divider"></div>

  <button class="menu-item" title="{{ 'spellchecker.editor.hard_break' | translate }}"
          (click)="editor.chain().focus().setHardBreak().run()"> <i class="ri-text-wrap"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.clear_format' | translate }}"
          (click)="editor.chain().focus().clearNodes().run()"> <i class="ri-format-clear"></i> </button>

  <div class="divider"></div>

  <button class="menu-item" title="{{ 'spellchecker.editor.undo' | translate }}"
          (click)="editor.chain().focus().undo().run()"> <i class="ri-arrow-go-back-line"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.redo' | translate }}"
          (click)="editor.chain().focus().redo().run()"> <i class="ri-arrow-go-forward-line"></i> </button>

  <div class="divider"></div>
  <div class="grow"></div>

  <button class="menu-item" title="{{ 'spellchecker.editor.selectAll' | translate }}"
          (click)="editor.chain().focus().selectAll().run()"> <i class="ri-input-cursor-move"></i> </button>
  <button class="menu-item" title="{{ 'spellchecker.editor.copy' | translate }}"
          (click)="copy()"> <i class="ri-file-copy-2-line"></i> </button>

</ng-container>
