:host {
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
}

.menu-item {
  background-color: transparent;
  border: none;
  border-radius: 0.4rem;
  color: #0d0d0d;
  height: 1.75rem;
  margin-right: 0.25rem;
  padding: 0.25rem;
  width: 1.75rem;

  svg {
    fill: currentColor;
    height: 100%;
    width: 100%;
  }

  &:hover,
  &.is-active {
    background-color: #15e9b1;
    color: #fff;
  }
}

.divider {
  background-color: #0000001a;
  height: 1.25rem;
  margin-left: .5rem;
  margin-right: .75rem;
  width: 2px;
}
